include ../../source/skeleton.pug

+post({
    title: '1만 시간의 재발견',
    description: '개인적으로 마음에 든 『1만 시간의 재발견』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/29135134/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '1만 시간의 재발견 / 안데르스 에릭손, 로버트 풀 / 강혜정')
                +tds('ISBN 정보', '979-11-86805-28-2 [03190]')
                +tds('ISBN-A', 'https://doi.org/10.979.1186805/282')
                +tds('발행사항', '(주)비즈니스북스 , 발행일 : 20160630')
    h1 글귀
    ol
        li 일반적으로 어떤 사람이 일단 그럭저럭 '만족할 만한' 실력과 기계적으로 무언가를 처리할 수 있는 단계에 도달하면, 이후의 '연습'은 실력 향상으로 이어지지 않는다
        li 목적의식 있는 연습 : 구체적인 목표 + 집중 + 피드백 => 편안한 comfort zone에서 벗어나도록
        li 해결책은 '더 열심히 하기'가 아니라 '다르게 하기'
