include ../../source/skeleton.pug

+post({
    title: '우리는 어떻게 바뀌고 있는가',
    description: '개인적으로 마음에 든 『우리는 어떻게 바뀌고 있는가』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/8564557/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '우리는 어떻게 바뀌고 있는가 / 존 브록만')
                +tds('ISBN 정보', '978-89-6260-518-1[03100]')
                +tds('발행사항', '(사법)한국물가정보, 발행일 : 2013년 03월 06일')

    h1 글귀
    ul
        li 전문가들이 옥신각신하는 것은 데이터 자체가 아니라, 그런 데이터를 사용해 컴퓨터가 예측하는 미래다
        li 연금술사는 감추기를 좋아해서 자신의 연구를 손으로만 기록하고 제자 말고는 거의 아무에게도 보여주지 않았다 -- 무익한 실패를 거듭했다
        li 새로운 매체는 새로운 커뮤니케이션 단위를 낳는다
