include ../../source/skeleton.pug

+post({
    title: '어이없는 진화 - 유전자와 운 사이',
    description: '개인적으로 마음에 든 『어이없는 진화 - 유전자와 운 사이』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/momo/TopCate891/MidCate002/89010249.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '어이없는 진화 - 유전자와 운 사이 / 요시카와 히로미쓰')
                +tds('ISBN 정보', '979-11-953285-6-7 [03470]')
                +tds('발행사항', '목수책방, 발행일 : 2016년 08월 25일')

    h1 글귀
    ul
        li 지구상에 출현한 생물종 중 99.9% 이상은 이미 멸종했다
        p 한편, 현존하는 종의 총계조차 부정확하며, 종의 정의 자체에 대해서도 의견이 분분하다
        li 종의 존속에 가장 큰 영향을 미치는 요인은 운이다
