include ../../source/skeleton.pug

+post('쇠똥구리는 은하수를 따라 걷는다', '쇠똥구리는 은하수를 따라 걷는다', '쇠똥구리는 은하수를 따라 걷는다 독서 기록')
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/67280162/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '쇠똥구리는 은하수를 따라 걷는다 / 레오 그라세')
                +tds('ISBN 정보', '979-11-88907-37-3 [03470]')
                +tds('발행사항', '클, 발행일 : 2018년 11월 23일')

    ul
        li 기관은 꼭 기능이 없더라도 존재할 수 있다(e.g. 남자의 유방) -- 반대로, 얼핏 불필요해 보이는 기관이 사실 중요한 자연선택의 결과일 수 있다(e.g. 암컷 하이에나의 모조 페니스)
        li 주장 : 짝짓기 경쟁에서 목이 더 두꺼운 것이 유리하므로 기린의 목이 길도록 선택되었다
        ul
            li 그렇다면 왜 암컷 기린도 목이 긴 걸까? 이 생물학자들은 '두 성별 사이의 유전적 상관관계'를 제외하고는 별다른 설명을 내놓지 못했다. 이는 다른 논거들이 고갈됐을 때 마지막 수단으로 종종 사용된다
            li 화석 연구 : 기린의 긴 목은 1200만 년에서 1400만 년 전 사이에 나타난 것으로 보이는데, 아프리카가 전반적으로 건조해지면서 숲이 초원으로 대체되던 때다. 나무에 대한 경쟁이 늘어나고, 기린의 긴 목이 선택됐다
            li 기린의 목은 다양한 기능을 수행하는 기관이고, 어떤 기능이 가장 큰 영향을 미쳤는지 알아내기는 어려울 수 있다
