include ../../source/skeleton.pug

+post('아름다움의 진화', '아름다움의 진화', '아름다움의 진화 독서 기록')
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/67280162/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '아름다움의 진화 / 리처드 프럼')
                +tds('ISBN 정보', '978-89-6262-277-5 [03470]')
                +tds('발행사항', '동아시아, 발행일 : 2019년 04월 17일')

    ul
        li 이 책에서 다루는 '아름다움'은 새들의 관점에서 본 아름다움이다
        li 성적 장식물은 기능 면에서 다른 신체 부위와 구별된다. 성적 장식물은 관찰자와의 상호작용에서만 기능을 발휘한다
        li 각 동물의 주관적 경험은 진화를 이해하는 데 필수 불가결하다
        li 미적 진화는 성 선택에 의해 발생한다 -- 보다 아름다운 것을 추구하는 성 선택은, 적응적 관점으로는 비합리적인 진화로 이어질 수 있다
        li 
