include ../../source/skeleton.pug

+post('거의 모든 것의 기원', '거의 모든 것의 기원', '거의 모든 것의 기원 독서 기록')
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://www.ykbook.com/data/item//bookimg/2017/03/9788965401643.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '거의 모든 것의 기원 / 그레이엄 로턴')
                +tds('ISBN 정보', '978-89-6540-164-3(03400)')
                +tds('발행사항', '프리렉, 발행일 : 2019년 04월 17일')

    ul
        li '빅뱅'이라는 표현은 원래 이 개념을 빈정대며 무시하기 위해 사용된 말이었다
        li 스티븐 호킹과 로저 펜로즈는 일반상대성이론이 옳다면 우주가 크기는 무한히 작고, 밀도는 무한히 높았던 때, 즉 시간 그 자체가 시작하던 순간이 반드시 있어야 한다는 것을 입증해 보였다
        li 빅뱅 이전에는 무엇이 있었고, 이런 상황이 얼마나 오랫동안 지속되었느냐는 질문이 자연이 뒤따른다
        ul
            li 안타깝게도 이 시점에서는 '무언가의 이전'이라는 상식적 개념이 무의미하다
            li 창조과정을 이해하려면 물리법칙의 정당성이 전제되어야 한다. 하지만 우주가 존재하기 전에 이미 그 법칙이 존재하는 것은 모순이다
        li 有와 無는 다르지 않다
        ul
            li 양자론에서는 절대적인 진공은 존재하지 않는다고 말한다
            li 음의 에너지를 갖는 중력을 포함해 우주의 모든 물질과 에너지를 더하면 0이 나온다. 우주 전체는 無다
        li 항성의 핵융합은 가장 핵이 안정한 철로 종료된다. 중심핵에 철이 축적되면 핵융합을 통해 생산되는 에너지는 없지만 중력은 갈수록 강해진다. 계속하여 압력이 증가하여 온도가 수십억 도 정도로 올라가면, 항성의 중심부가 갑자기 붕괴하고, 바깥층은 중심부를 향해 추락했다가 다시 튕겨 나와 항성의 구성 성분을 우주 공간으로 뱉어낸다(초신성)
        li 은하들이 항성들의 질량을 모두 합한 것에서 발생하는 중력보다 훨씬 빠른 속도로 서로의 궤도를 돌고 있는 것을 발견했다
        ul
            li 암흑물질 : 우주의 27%를 차지하는, 전자기복사를 흡수 또는 방출하지 않는 신비로운 물질. 때문에 눈으로 볼 수는 없지만, 중력과 상호작용하므로 다른 물질에 미치는 영향은 볼 수 있다
            li 암흑물질이 존재하지 않는다면 우리는 중력을 잘못 이해하고 있는 것이다
        li 우주의 팽창 속도는 느려지고 있는 것이 아니라 오히려 빨라지고 있는 것이다! 하지만 왜?
        p 암흑 에너지(반중력) : 우주의 68%를 차지하면서 우주를 점점 더 빠른 속도로 팽창하게 만들고 있다
