include ../../source/skeleton.pug

+post('나를 나답게 만드는 것들', '나를 나답게 만드는 것들', '나를 나답게 만드는 것들 독서 기록')
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/96362410/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '나를 나답게 만드는 것들 / 빌 설리번')
                +tds('ISBN 정보', '979-11-354-9240-2(03470)')
                +tds('발행사항', 'Bronstein, 발행일 : 2020.12.23')

    ul
        li 기억에 남은 가장 어린 학창시절은 "네가 원하는 것은 무엇이든 될 수 있어!"같은 상투적이고 낙관적인 문구가 일상적인 가치관이었다
        li 대부분은 사람의 성공 여부가 온전히 그 사람의 책임이라 믿는다
        p 그러나 우리는 프로그램의 실행이 느리다고 컴퓨터가 게을러서 그렇다고 생각하지는 않는다
        li 
