include ../../source/skeleton.pug

+post('나를 나답게 만드는 것들', '나를 나답게 만드는 것들', '나를 나답게 만드는 것들 독서 기록')
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/96362410/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '나를 나답게 만드는 것들 / 빌 설리번')
                +tds('ISBN 정보', '979-11-354-9240-2(03470)')
                +tds('발행사항', 'Bronstein, 발행일 : 2020.12.23')

    ul
        li 기억에 남은 가장 어린 학창시절은 "네가 원하는 것은 무엇이든 될 수 있어!"같은 상투적이고 낙관적인 문구가 일상적인 가치관이었다
        li 대부분은 사람의 성공 여부가 온전히 그 사람의 책임이라 믿는다
        p 그러나 우리는 프로그램의 실행이 느리다고 컴퓨터가 게을러서 그렇다고 생각하지는 않는다
        li 유전자 발현은 단순한 ON/OFF 스위치가 아니라, 밝기 조절이 가능한 조광 스위치처럼 생각해야 옳다
        ul
            li 후성유전학 : DNA 염기서열은 바꾸지 않으면서 유전자 발현에 영향을 미치는 과정
            li 물질뿐만 아니라, 행동(학대, 중독, 스트레스 등)도 유전자 발현을 변화시킬 수 있다
            li 어머니의 배 속에서 후성유전적 표지를 받는 것을 태아 프로그래밍이라 한다
            li DNA를 후성유전적으로 프로그래밍하는 주요 방법 한 가지는 메틸화다. 유전자는 메틸화가 많이 될수록 발현이 덜 된다
        li 위장관 세균총은 신경전달물질의 주요 원천이기도 하다
        p 예를 들어 불안장애와 우울장애는 과민성대장증후군 및 궤양성대장염과 관련성이 크다
        li SLCa2 유전자는 GLUT2 단백질을 암호화하여 혈액 속의 포도당을 감지하는 것을 방해하며, 따라서 당이 충분한데도 더 많이 먹게 된다
        li 뇌가 정신적 지름길을 애용하는 이유는 생각하는 데 많은 에너지가 들기 때문
        li 태아는 매일 몇 잔의 양수를 삼킨다. 과학자들은 산모가 무엇을 먹었느냐에 따라 양수의 맛이 변함을 입증했다
        li 장내 세균은 뇌를 속여 자신의 번성에 도움이 될 음식을 먹게 만드는 방법을 터득했다
        p 또는 세균이 필요로 하는 음식을 먹기 전까지 우리를 기분 나쁘게 만드는 화학물질을 만든다
        
