include ../../source/skeleton.pug

+post({
    title: '안녕, 긴 잠이여',
    description: '개인적으로 마음에 든 『안녕, 긴 잠이여』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.aladin.co.kr/product/3231/24/cover500/1185014349_2.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '안녕, 긴 잠이여 / 하라 료')
                +tds('ISBN 정보', '979-11-85014-34-0 (03830)')
                +tds('발행사항', '(주)비채코리아북스, 발행일 : 2013.10.18')

    h1 독서 기록
    ul
        li 묘지를 3층짜리 납골당으로 바꾼 덕분에 주차장으로 만들어 돈벌이를 할 여유 공간이 생긴 것이다
        li 내가 거짓말을 한 것은 아니었다. 사실을 모두 이야기하지 않았을 뿐이다
        
