include ../../source/skeleton.pug

+post({
    title: '괴도 탐정 야마네코',
    description: '개인적으로 마음에 든 『괴도 탐정 야마네코』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/94500827/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '괴도 탐정 야마네코 / 가미나가 마나부')
                +tds('ISBN 정보', '979-11-90908-41-2 (03830)')
                +tds('발행사항', '위즈덤하우스, 발행일 : 2020.08.06')

    h1 독서 기록
    ul
        li 절도범을 범인으로 위장하면 당당하게 회사 내부를 수색할 수 있다. 그리고 증거가 될 만한 물품을 파기한다
        p 경찰 전체가 마약 매매에 가담한 건 아니다. 계획 살인이라고 의심하는 수사관이 있어서는 곤란하다. 그래서 '야마네코'라고 적힌 종이를 남겨 절도범 쪽으로 수사 방향을 유도한 것이다
