include ../../source/skeleton.pug

+post({
    title: '단델라이언',
    description: '개인적으로 마음에 든 『단델라이언』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/momo/TopCate0001/kepub/L_682230.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '단델라이언 / 가와이 간지')
                +tds('ISBN 정보', '979-11-6026-051-9 (03830)')
                +tds('발행사항', '(도서출판)작가정신, 발행일 : 2017.07.07')

    h1 독서 기록
    ul
        li 276엔을 기부하기 위해 300,000엔 가까운 비용이 드는 것 아닌가요? 그렇다면 뚜껑 같은 걸 모으지 말고 차라리 그 회수 용기 값이며 비닐 봉투 값, 택배비를 기부하는 편이 나을 것 같은데
        li 소아마비라는 이름의 병을 내세우면 '어린이를 위한 것이다'라는 이미지가 확실하게 부각되니까 지지나 협찬을 받기 쉬워진다
        li 그때는 별 뜻 없이 한 행동이었는데 나중에서야 손수건에는 당신의 피부 세포, 볼펜에는 지문이 남아 있다는 사실을 깨달았습니다