include ../../source/skeleton.pug

+post('그리고 밤은 되살아난다', '그리고 밤은 되살아난다', '그리고 밤은 되살아난다 독서 기록')
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/momo/TopCate67/MidCate05/6644839.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '그리고 밤은 되살아난다 / 하라 료')
                +tds('ISBN 정보', '978-89-92036-69-6 (03830)')
                +tds('발행사항', '비채, 발행일 : 2008.11.04')

    ul
        li 그 차에 공범이 타고 있었을 가능성을 부정할 수는 없습니다. 그래서 권총이 어떤 것인지 공표하지 않는 겁니다. 자신이 그 저격사건의 진범이라면서 자수한 사람이나 전화를 걸어온 사람이 이미 몇 명 있지만 모두 권총에 관한 증언에서 가짜라는 사실이 확인되었습니다
        p 개인적인 주석 : 어떤 목적으로 본인이 사건의 진범이라고 거짓 자수를 했을까? 나중에 보상금을 받아내려고?
        
