include ../../source/skeleton.pug

+post({
    title: '도깨비불의 집',
    description: '개인적으로 마음에 든 『도깨비불의 집』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/4115552/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '도깨비불의 집 / 기시 유스케')
                +tds('ISBN 정보', '978-89-01-11010-3 (04830)')
                +tds('발행사항', '웅진씽크빅, 2010.08.31')

    h1 독서 기록
    ul
        li A. 고타(살인 현장 발견자)는 무엇 때문에 흉기를 봉투에 넣어서 창문으로 던진 거죠?
        p B. 흉기가 금괴였기 때문이지요
        li A. (절도 전문가) 지금은 좀 곤란합니다
        p B. 왜요?
        p A. 지금 다른 집에 와 있습니다.
        p B. 급한 일이에요. 가능하면 그쪽에 양해를 구하고...
        p A. 그건 불가능합니다.
        p B. 왜죠?
        p A. 이 집에 사람이 없으니까요.

        li 정말이지, 참 가혹한 세계야. 실력은 종이 한 장 차이인데, 연봉은 열 배 이상 차이가 나지

        li 출장으로 도쿄에 왔을 때 여자를 프리패스로 부를 수 있다는 건 은밀한 홍보 수단이 되겠지. 그러려면 감시 카메라 같은 멋대가리 없는 물건은 붙이고 싶지 않을 테고

        li A. 신페이가 휴대전화를 자랑스럽게 보여줬다는 얘기 말인가요?
        p B. 예, 세 사람이 있는 자리에서 그렇게 했다는 게 신페이 5단이 얼마나 음험한지 말해주는 증거예요. 제3자에게 부정의 증거인 휴대전화를 보여줌으로써 심리적 압박을 가한다

        li 왜 집에서 나왔을 때 물렸을까요? 당신이 돈류고(개)를 길들이지 않았다면 집에 들어가기 전에 쫒겨다니고 물리는 게 정상 아닐까요?
