include ../../source/skeleton.pug

+post({
    title: '연쇄 살인마 개구리 남자의 귀환',
    description: '연쇄 살인마 개구리 남자의 귀환 독서 기록'
})
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/69048575/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '연쇄 살인마 개구리 남자의 귀환 / 나카야마 시치리')
                +tds('ISBN 정보', '979-11-5879-105-6 (03830)')
                +tds('발행사항', '북로드 :더난콘텐츠그룹, 2019.01.25')

    ul
        li 사유리는 1심 판결을 받은 직후부터 상태가 이상해져서 여기에 수용됐습니다. 하지만 심신상실 판정이 내려지지 않았으면 더 경계가 엄중한 고스케 구치소 같은 데 수용됐겠죠
        p 와타세 경부님... 혹시 경부님은 사유리가 꾀병을 앓았다고 생각하는 겁니까?
        li 사토 나오히사와 시호미 준의 경우 사건이 보도된 다음에 범행 성명서가 발견됐습니다. 도쿄도만 따져도 하루에 발생하는 사건사고나 자살은 엄청나게 많습니다. 교수님은 피해자나 자살자의 이름이 '사'나 '시'로 시작하는 사람을 검색해서 현장에 범행성명서를 놔두기만 하면 됩니다
