include ../../source/skeleton.pug

+post({
    title: '합창 미사키요스케의 귀환',
    description: '개인적으로 마음에 든 『합창 미사키요스케의 귀환』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/109911281/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '합창 미사키요스케의 귀환 / 나카야마 시치리')
                +tds('ISBN 정보', '979-11-89571-81-8 (05830)')
                +tds('발행사항', '블루홀식스, 2022.09.20')

    h1 독서 기록
    ul 
        li 유치원을 덮친 것이 센가이의 계획적인 범행이었을 경우 범행 당시 심신상실 상태였느냐 아니냐는 결정적인 논거가 될 수 없어
        p 오히려 마약 투약이 유치원 습격을 목적으로 한 행위였느냐 아니냐가 중요하지

        li 아직 우리가 할 일이 남아 있다. 어설프게 위로하기보다 이렇게 의욕을 불어넣어 주는 편이 훨씬 고마웠다
