include ../../source/skeleton.pug

+post({
    title: '표류하는 세계',
    description: '개인적으로 마음에 든 『표류하는 세계』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788901270234.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '표류하는 세계 / 스콧 갤러웨이')
                +tds('ISBN 정보', '978-89-01-27057-9 (05320)')
                +tds('발행사항', '(주)웅진씽크빅, 2023.03.28')

    h1 독서 기록
    ul 
        li 우리는 돈이, 그리고 그 돈이 벌어들이는 돈이 땀보다 더 고귀하다고 기능적(세법)으로 결정했다

        li 기업가치 시가총액 1조 달러 도달 직전 연도의 매출
        table.w3-table-all.w3-card.w3-small
            +ths('1조 달러 달성 연도', '사명', '직전 연도 매출')
            +tds('2018', '애플', '2290억 달러')
            +tds('2019', '아마존', '1780억 달러')
            +tds('2020', '구글', '1620억 달러')
            +tds('2020', '마이크로소프트', '1100억 달러')
            +tds('2021', '페이스북', '860억 달러')
            +tds('2021', '테슬라', '320억 달러')

        li 미국의 순자산 분포
        ul
            li 1990년 : 4%(하위 50%) vs 24%(상위 1%)
            li 2021년 : 2%(하위 50%) vs 32%(상위 1%)
        
        li 오늘날 미국은 민주적이라기보다는 봉건적이다. 제프 베이조스 한 사람에게 미국에서 노숙자를 없애고, 전 세계의 말라리아를 근절하며, 70만 명의 교사에게 월급을 줄 수 있는 자본이 있다

        li 실물경제와 금융경제가 단절됐다
        p 1980년 이전까지 미국의 총금융자산은 국가 GDP의 2배를 초과한 적이 없었다. 이 비율은 그 후로 계속 상승해 팬데믹이 시작될 때 5.9:1까지 올라가 최고점을 찍었다.
        p 금융화는 시장의 중요성을 계속 높인다. 이는 미국의 코로나 19 대응 정책이 왜 사람을 구하는 것이 아니라 기업을 구제하는 것이었는지를 설명해준다.

        li 무료로 (인터넷 서비스를) 사용할 수 있는 이유는 우리가 고객이 아니었기 때문이다. 우리가 제품이 된 것이다

        li 트위터에서 거짓은 진실보다 6배 빠른 속도로 퍼진다

        li 범죄율은 하락, 범죄 뉴스는 폭증

        li 같은 잘못을 해도 남학생들이 여학생들보다 정학당할 가능성이 두 배 더 높다
