include ../../source/skeleton.pug

+post({
    title: '열린 어둠',
    description: '개인적으로 마음에 든 『열린 어둠』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/116421662/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '열린 어둠 / 렌조 미키히코')
                +tds('ISBN 정보', '979-11-92579-37-5 (05830)')
                +tds('발행사항', '(주식회사) 바이포엠스튜디오, 2023.01.05')

    h1 독서 기록
    ul 
        li 즉 전화를 걸어온 범인도 다음 연락을 언제 해야 할 지 알지 못했다고 한다면...?
        p B는 그저 범인 A의 지시를 그대로 자신이 벌인 사건의 피해자에게 전달

        li 오진을 했다는 사실을 감출 수 있는 방법...
        p 그래, 실제로 그 병에 걸리게 해버린 거야

        li 나는 왜 여태까지 입을 다물고 있었느냐고 나무라지 않았다. 그런 허접한 말이 아니라 곧 <b>내 손으로 직접</b> 분노를 표현하기로 결심했기 때문이다

        li 일부러 놓고 왔지. 어젯밤 딱 하루로 끝나는 게 싫어서. 마음 내키면 그거 갖다주러 와
