include ../../source/skeleton.pug

+post({
    title: '추리소설가의 살인사건',
    description: '개인적으로 마음에 든 『추리소설가의 살인사건』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/93992470/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '추리소설가의 살인사건 / 히가시노 게이고')
                +tds('ISBN 정보', '979-11-6611-286-7 (05830)')
                +tds('발행사항', '(주)소미미디어, 2020.12.31')

    h1 독서 기록
    ul 
        li 당신이 그렇게 쓰면 이번에도 나는 그대로 치어리더를 죽일 거야. 당신 소설과 이름도 주목받을 게 분명해. 어때?
        p 이번에는 내가 죽이는 대로 당신이 소설을 쓰라고
