include ../../source/skeleton.pug

+post({
    title: '블랙 쇼맨과 환상의 여자',
    description: '개인적으로 마음에 든 『블랙 쇼맨과 환상의 여자』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/118500644/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '블랙 쇼맨과 환상의 여자 / 히가시노 게이고')
                +tds('ISBN 정보', '978-89-255-2580-8 (05830)')
                +tds('발행사항', '(주)알에이치코리아, 2023.05.08')

    h1 독서 기록
    ul 
        li 세세한 부분까지 정확히 기억하고 있는 것보다는 다소 기억에 착오가 있는 게 현실적이니까
