include ../../source/skeleton.pug

+post({
    title: '백은의 잭',
    description: '개인적으로 마음에 든 『백은의 잭』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/108416578/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '백은의 잭 / 히가시노 게이고')
                +tds('ISBN 정보', '979-11-384-0804-2 (05830)')
                +tds('발행사항', '(주)소미미디어, 2022.12.31')

    h1 독서 기록
    ul 
        li 경찰이 이 넓디넓은 스키장을 샅샅이 돌아다니면서 폭발물을 찾아줄 것 같아?

        li 저는 그리 엄하게 지시한 건 아니었는데 네즈가 확대 해석했을 가능성도 있습니다
