include ../../source/skeleton.pug

+post({
    title: '내 것이 아닌 잘못',
    description: '개인적으로 마음에 든 『내 것이 아닌 잘못』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/117016230/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '내 것이 아닌 잘못 / 아사쿠라 아키나리')
                +tds('ISBN 정보', '979-11-89571-95-5 (05830)')
                +tds('발행사항', '블루홀식스, 2023.05.22')

    h1 독서 기록
    ul 
        li 에바탄 가족이 사는 지역은 길을 오가는 사람 대부분이 아는 사이다. 이상한 인물이 나타나면 금방 눈에 띈다

        li 아내가 남편을 죽이고자 계획한 사건은 조력자를 만드는 경우가 많다

        li 네 잘못이야. 반성해
        p 좁고 어두운 창고에 딸을 가두고 어떻게 반성해야 하는지는 한마디도 하지 않은 채 알기 쉬운 벌만 줬다

        li 인생 편하게 사는 인간들을 용서할 수 없었어. 그렇게 사는 인간들이 존재한다는 걸 용서할 수 없었다고

        li 다들 '자기는 잘못 없다'는 말만 하더라고