include ../../source/skeleton.pug

+post({
    title: '탄환의 심판',
    description: '개인적으로 마음에 든 『탄환의 심판』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.aladin.co.kr/product/5771/26/cover500/8925555956_1.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '탄환의 심판 / 마이클 코넬리')
                +tds('ISBN 정보', '978-89-255-8148-4 (05840)')
                +tds('발행사항', '(주)알에이치코리아, 2016.04.30')

    h1 독서 기록
    ul 
        li 모든 변호사들은 감옥에 갇혀 있지 않은 의뢰인들에게 항상 연락할 수 있는 곳에 있어야 한다고 머릿속에 주입하다시피 강조한다

        li 카니 앤드루스가 부변호사로 고용되면 이해 관계의 충돌이 발생하므로 해당 사건이 다른 판사에게 배당되어야 하고, 그 과정에서 브라이스 앤드루스보다 온건한 판사에게 사건이 배당될 가능성이 있었다
        p 가장 좋은 점은 카니 앤드루스가 실제로 변호사 업무를 수행할 필요가 전혀 없다는 점이었다

        li 엘리엇이 그냥 풀려날 것처럼 보였소. 그래서 어떤 사람이 정의의 실현을 기다리지 않고 스스로 평결을 내리기로 한 거요