include ../../source/skeleton.pug

+post({
    title: '동트기 힘든 긴 밤',
    description: '개인적으로 마음에 든 『동트기 힘든 긴 밤』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/66318357/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '동트기 힘든 긴 밤 / 쯔진천')
                +tds('ISBN 정보', '979-11-6007-701-8 (05820)')
                +tds('발행사항', '한스미디어, 2021.07.02')

    h1 독서 기록
    ul
        li 망할 놈의 용의자는 그들에게 충고나 해댔다
        p "위험하니까 조심해. 절대로 열면 안 된다니까. 당신들은 아직 앞날도 창창하잖아."
        p 그 말에 두 경찰은 문득 부모님의 얼굴이 무척 보고 싶어졌다

        li "아마도 뒤에서 조른 것 같습니다"
        p 두 취조관이 서로 눈빛을 교환하더니, 그중 한 명이 다그쳤다
        p "다시 잘 생각해봐요"
        p "그, 그럼 앞에서 졸랐나 봅니다"

        li 증거가 확실했다면 어떻게 장차오가 이제 와서 진술을 번복할 수 있나?

        li 가오둥 정도의 직급에서 보면 이는 사소한 사건에 불과했다. 훗날 어떤 결론이 나오든 지도부 훈계 회의에서는 '뼈저린 경험과 교훈으로 받아들이자'라는 말 한 마디로 끝날 일이었다

        li 보고서를 위조한 게 돼버리면 진짜 재수 옴 붙은 일이잖나. 그래서 새로 부검 보고서를 작성해 서명하고 도장까지 찍어서 보관하고 있었지

        li 오늘 아침에 구류 영장을 한 무더기 가져가서 부국장 서명과 직인을 받았거든. 거기에 슬쩍 두 장을 더 끼워 넣었지

        li 저는 법원이 장양에게 선고한 판결문을 그대로 말해달라고 부탁한 것뿐이에요. 제가 만일 위증을 사주한 거라면 형사님들은 먼저 법원 판결부터 바로잡아야 할 것 같은데요

        li 자네 같은 비전문가는 바늘구멍의 위치를 판단하기 어려울 거야. 팔이랑 목 부근에 있는 접힌 피부를 펴서 다시 살펴봐

        li 장 검찰관님이 무슨 서류를 작성해서 상급기관에 보냈다고 들었는데, 이게 맞습니까?
        p 이 말을 듣고도 장양은 전혀 놀라지 않았다. 제보한 서류가 그들 손에 들어간 일이 이번이 처음도 아니었다

        li 동의하지는 않아도 이대로 해줄 거죠?

        li 부청장님이 그러시더군. 우리의 가장 큰 착오는 샤리핑이었다고 말이야. 우리는 샤리핑이 이 사건에서 제일 높은 위치를 차지하고 있을 줄 알았는데 그게 아니었던 거지. 그래서 샤리핑은 추락사했지만 쑨훙윈은 멀쩡히 살아 있는 거고