include ../../source/skeleton.pug

+post({
    title: '다만 부패에서 구하소서',
    description: '개인적으로 마음에 든 『다만 부패에서 구하소서』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/102382138/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '다만 부패에서 구하소서 / 쯔진천')
                +tds('ISBN 정보', '979-11-6007-700-1 (05820)')
                +tds('발행사항', '한스미디어, 2021.07.02')

    h1 독서 기록
    ul
        li 공무원을 낚으면 현금과 물건을 빼앗고, 물건은 다시 그 매입하는 새끼한테 가서 돈으로 바꿀 거야. 돈을 받으면 바로 놈을 처리하고 물건을 되찾는 거지

        li 수년째 계속된 단속 끝에 이제 신분증 등록을 하지 않는 불법 숙박업소들은 대거 사라졌다

        li 수상하긴 뭐가 수상해? 친구가 집에 놀러 와서 같이 먹으려는 걸 수도 있지. 하지만 상사가 수상하다면 수상하다고 볼 수밖에

        li 무슨 좋은 생각이 났는지 노란색 팻말을 구해와 시체를 묻은 곳에 꽂았다
        p 팻말에는 "아래 케이블이 있으니 절대 파지 마시오"라는 경고문이 적혀 있었다

        li 대부분의 승객이 캐리어를 트렁크에 실었다. 승객이 트렁크 문을 닫고 택시에 올라타기 전 샤오마오는 그대로 액셀을 밟아 내뺐다

        li A. "이런 최첨단 금고에 왜 돈을 안 넣어놨지?"
        p B. "그게, 전... 집에는 돈을 안 둡니다."

        li 증명사진만 보고선 누가 누군지 알아볼 수 없을 만큼 똑같아. 내가 입경해야 할 때는 그 사람한테 먼저 마카오에 와서 지내게 하고, 나는 그 사람 신분증으로 입경해서 일 처리를 하고 마카오로 돌아가는 거지