include ../../source/skeleton.pug

+post({
    title: '은폐수사',
    description: '개인적으로 마음에 든 『은폐수사』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788901096049.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '은폐수사 / 곤노 빈')
                +tds('ISBN 정보', '978-89-01-09604-9 (03830)')
                +tds('발행사항', '웅진씽크빅, 2009.06.05')

    h1 독서 기록
    ul
        li 도쿄대에 입학하고서는 입시에 대해 비판하는 학생을 만난 적이 없었다. ... 전쟁에서 승리한 자는 더더욱 그 전쟁을 비판하지 않기 마련이다 

        li 공식적인 의견은 그렇겠지. 하지만 그 말을 믿는 사람은 아무도 없네. 공소시효는 15년. 그때까지 버티려는 속셈이겠지

        li 경질이란 말은 편리한 단어다. 일반인에게는 징계 처분과 같은 인상을 준다. 하지만 면직이 아니다. 단순한 배치 변환일 뿐이다

        li A. 취조를 계속해서 자백을 뒤집겠다는 건가?
        p B. 본인이 뒤집지 않더라도 신빙성이 없다는 식으로 처리해버리면 돼
