include ../../source/skeleton.pug

+post({
    title: '언덕 중간의 집',
    description: '개인적으로 마음에 든 『언덕 중간의 집』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/37124144/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '언덕 중간의 집 / 가쿠타 미쓰요')
                +tds('ISBN 정보', '979-11-6007-083-5 (03830)')
                +tds('발행사항', '한스미디어, 2016.11.30')

    h1 독서 기록
    ul
        li 자신 역시 완전히 그런 존재가 되려고 앞장섰던 것은 아닐까
        p 그렇게 사랑하는 방법밖에 모르는 사람에게 사랑받기 위해서
