include ../../source/skeleton.pug

+post({
    title: '천사에게 버림받은 밤',
    description: '개인적으로 마음에 든 『천사에게 버림받은 밤』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/5199845/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '천사에게 버림받은 밤 / 기리노 나쓰오')
                +tds('ISBN 정보', '978-89-94343-28-0 (03830)')
                +tds('발행사항', '비채, 2011.05.30')

    h1 독서 기록
    ul
        li A. 보통 캐스팅할 때 출연료가 10만 엔이라고 하면 그 돈을 전부 주는 줄 아는데, 안 그래요. 기획사가 4만을 가져가고, 캐스팅 매니저가 1만을 가져가요
        p A. ... 리나의 경우 그 수당 지급 내역도 없더군요
        p B. 캐스팅으로 출연한 게 아니란 거군요. 길거리 캐스팅 말고 출연하게 되는 경로가 또 있나요?
        p A. 제 발로 찾아오는 애들이죠. 일이 없냐고 전화로 묻기도 하고, 한 술 더 떠 비디오를 보내는 애들도 있어요
