include ../../source/skeleton.pug

+post({
    title: '교장',
    description: '개인적으로 마음에 든 『교장』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/14840162/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '교장 / 나가오카 히로키')
                +tds('ISBN 정보', '979-11-85014-60-9 (03830)')
                +tds('발행사항', '(주)비채코리아북스, 2014.09.29')

    h1 독서 기록
    ul
        li 한창 신문하고 있을 때, 다른 형사가 방으로 들어와 뭐든 귓속말을 하면 됩니다. 진짜로 말할 필요는 없습니다. 속삭이는 시늉만으로 족해요. 그러기만 해도 피의자는 갑자기 불안해집니다

        li 그나저나 당신이 현청 앞 교차점을 지난 건 몇 시쯤이었지?
        p 여기에서 '현청 앞 교차점을 지나갔지?'라고 질문해서는 안 됩니다. 피의자가 자동차를 몰았다는 것을 기정사실로 상정하고 날카롭게 파고드는 겁니다

        li 이렇게 똑같은 숫자가 연속된 번호는 폭력단 차량에 많지 ... 숫자의 합이 9가 되는 번호판도 폭련단이 즐겨 붙이지

        li 냄새가 강렬한 차량은 특히 주의를 기울여야 한다 ... 냄새가 심할 경우 대개 대마나 약물이 나오곤 하지
