include ../../source/skeleton.pug

+post({
    title: '귀동냥',
    description: '개인적으로 마음에 든 『귀동냥』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788989456391.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.w3-table-all.w3-card.w3-small
                +tds('표제/저자사항', '귀동냥 / 나가오카 히로키')
                +tds('ISBN 정보', '978-89-89456-39-1 (03830)')
                +tds('발행사항', '레드박스, 2013.09.13')

    h1 독서 기록
    ul
        li 그게 우연히 들은 효과야. 꼭 믿게 하고 싶은 정보는 다른 사람에게 말해서 듣게 하는 게 요령이지
