include ../../source/skeleton.pug

+post({
    title: '인프라 디자인 패턴',
    description: '『인프라 디자인 패턴』 독서 기록',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/15969224/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '인프라 디자인 패턴 / 스기하라 타케오 외 4')
                +tds('ISBN 정보', '978-89-94774-88-6 (93000)')
                +tds('발행사항', '비제이퍼블릭, 2015.02.12')

    h1 인프라 디자인 패턴이란?
    ul
        li 주로, 기능 요구사항(e.g. A는 B를 할 수 있다)은 애플리케이션이, 비기능 요구사항(e.g. B는 3초 내로 완료되어야 한다)은 인프라가 충족한다
        li 기능 요구사항은 실무자들이 이미지화하기 쉽지만, 비기능 요구사항은 정확히-충분하게 정의하기 어렵다
        p e.g. 일본 IPA에서는 비정기적으로, 비기능 요구사항 정의에 도움이 되는 가이드를 일반에 공개한다 #[+asA('https://www.ipa.go.jp/sec/softwareengineering/std/ent03-b.html', '非機能要求グレード')]
    
    h1 가용성 향상을 위한 방법
    div
        h2 장애 방지
        ul
            li Fail safe : 장애에 의한 피해 범위를 최소화
            li SPOF(Single Point of Failure) 제거
            p 단일 장애 지점 ::= 장애 발생 시 시스템 전체가 다운되는 지점
            li 단순화 : 시스템이 복잡할수록 장애 발생 요소가 증가하고, 시스템을 이해하기도 어려워진다
            li 운영, 설정 등의 자동화

        h2 FT 서버/메인프레임 패턴
        p FT(Fault-Tolerant) 서버 및 메인프레임은 CPU, 메모리, 디스크 등을 이중화하므로, 하드웨어 장애 시 서비스에 영향을 주지 않고 교체가 가능하다
