include ../../source/skeleton.pug

+post({
    title: '그녀가 마지막에 본 것은',
    description: '개인적으로 마음에 든 『그녀가 마지막에 본 것은』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/119808479/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '그녀가 마지막에 본 것은 / 마사키 도시카')
                +tds('ISBN 정보', '979-11-982262-2-8 (03830)')
                +tds('발행사항', '모로, 2023.06.30')

    h1 독서 기록
    ul
        li 막상 기운을 차리면 남편이 살해됐는데도 아무렇지 않은 여자라고 생각할 것이다. 아니면 1년 4개월이나 지났으니 평소처럼 지내도 괜찮은 걸까.

        li 여자가 나루미를 향해 고개를 돌리고, 근사하지? 하고 말하듯 미소를 꽃피웠다.
        p 그녀에게는 보이는 아름다운 광경이 자신에게는 보이지 않는다. 나루미는 세상에게 버림받은 기분이었다.
        p 노숙인 주제에 감히 웃다니.
