include ../../source/skeleton.pug

+post({
    title: '성녀의 구제',
    description: '개인적으로 마음에 든 『성녀의 구제』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/400x0/pdt/9788990982360.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '성녀의 구제 / 히가시노 게이고')
                +tds('ISBN 정보', '978-89-90982-36-0 (03830)')
                +tds('발행사항', '(도서출판)재인, 2009.12.16')

    h1 독서 기록
    ul
        li 두 사람은 이전부터 사귀고 있었는데, 그 사실을 숨기고 싶어서 파티에서 처음 만난 것처럼 상황을 꾸민 거지. 이카이는 이른바 그 현장을 목격한 증인 격으로 데리고 간 것이고

        li 증거는 없어. 있을 리가 없지. ... 아무것도 하지 않는 것이 죽이는 방법이었으니
