include ../../source/skeleton.pug

+post({
    title: '글귀',
    description: '사실이 확인되지 않은, 그럴싸한 글귀 모음'
})

    h1 주의
    p 모든 문장은 사실 확인을 거치지 않은, 어디선가 긁어모은 그럴싸한 말들입니다

    h1 글귀(1)
    ul
        li 1차대전 수행을 위한 막대한 전비 조달이라는 절박성이 없었더라면, 프랑스 누진소득세는 의회를 통과하지 못했을 것이다

    h1 글귀(ㄱ)
    ul 
        li 궤변론자들은 자신의 주장을 상대가 의심 없이 받아들이고 인정하도록 논리를 사용했다

    h1 글귀(ㄴ)
    ul
        li 노예제를 폐지하면서 노예주들에게 배상해준 것은 세계 공통 현상

    h1 글귀(ㅁ)
    ul
        li 미국 남부주의 농장주들은 먼저 노예들이 문맹이라는 것을 이용해서, 계속 노예취급을 받겠다는 계약서를 체결하고,
        p 주정부들은 입법을 통해 실업상태나 직무태만을 불법으로 만든 뒤, 잡혀온 흑인들에게 노동형과 벌금형을 선고했다
        p 백인이 실업상태면? 그냥 검사들이 기소를 안 하면 된다! 이렇게 실질적으로 흑인에게만 적용되는 법들을 Black Codes라고 부른다

    h1 글귀(ㅂ)
    ul
        li 부정 화법 : 저는, 인간 실격입니다
        p 긍정 화법 : 나는 짐승 합격!

    h1 글귀(ㅅ)
    ul
        li 섹스하지 않으면 나오지 못하는 방
        p A: 에 친구랑 들어가서, 다 하고 난 뒤 한 명의 기억을 지울 수 있다면 네 기억을 지울래? 친구 기억을 지울래?
        p B: "내 기억 지우고 친구 일상 생활 못하게 함"
        p A: ㅎㅎ 진짜 기억 안 나나 보네

    h1 글귀(ㅇ)
    ul
        li 어떤 기업은 여사원이라고는 사장 딸 1명. 여성 휴게실 만드는 비용 지원해 준다는 거 신청해서 1억 2천 지원 받음 ㅋㅋㅋㅋㅋ
        p 원래 있던 창고에 여성 휴게실 간판 하나 달고 고물상에서 소파 하나 테이블 하나 가져다 두고 휴게실 완성

    h1 글귀(ㅈ)
    ul
        li 지하철에서 성추행 당할 때 "왜 이러세요!"라고 하면 피해자한테 시선 쏠리니까, 대신 "이 개새끼야!" 소리를 지르랬다. 그럼 '누구야, 누가 개새끼야'하고 다들 가해자를 찾는다고

    h1 etc
    ul
        li 정사각형들을 담는 가장 작은 정사각형
        +w3img('/imgs/2023-07-26 1849.jpeg')