<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<filter>
		<filter-name>filter-example</filter-name>
		<filter-class>donggi.FilterExample</filter-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>value</param-value>
		</init-param>
	</filter>
	<filter-mapping>
        <filter-name>filter-example</filter-name>
        <url-pattern>/*</url-pattern> <!-- 특정 url 패턴에 필터 적용 : 모든 웹컴포넌트 -->
        <url-pattern>*.jsp</url-pattern> <!-- 계층적인 URL 경로와 *.ext를 함께 쓸 수는 없음 -->
        <servlet-name>hello-servlet</servlet-name> <!-- 특정 서블릿에 필터 적용 -->
        <!-- 필터를 적용하는 경우를 설정 가능 -->
        <dispatcher>REQUEST</dispatcher> <!-- 웹브라우저의 요청 -->
        <dispatcher>FORWARD</dispatcher> <!-- forward -->
        <dispatcher>INCLUDE</dispatcher> <!-- include -->
        <dispatcher>ERROR</dispatcher> <!-- 예외 -->
    </filter-mapping>
</web-app>