include ../../source/skeleton.jade
+post('Ruby Basic', 'Ruby, Tutorial', 'ë£¨ë¹„ ê¸°ì´ˆ ì •ë¦¬')
    h1.marker ê°œìš”
    ul
        li ì˜¤í”ˆì†ŒìŠ¤, ê°ì²´ì§€í–¥, ìŠ¤í¬ë¦½íŠ¸ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì˜ ì¼ì¢…
        li: +asA('https://www.ruby-lang.org/', 'www.ruby-lang.org')
        li ëª¨ë“  ë³€ìˆ˜ëŠ” ê°ì²´ë¡œ ì¡´ì¬í•œë‹¤
        li ì‹¤í–‰
        +asCode('shell').
            $ ruby [filename]
            $ ruby -e 'code line' [[-e 'code line']...]
        li REPL
        +asCode('shell').
            $ irb
            irb(main):001:0> 'hello'
            => "hello"
            irb(main):002:0> %x(ls -al)
        li ì¢…ë¥˜
        ul
            li CRuby, MRI(Matz's Ruby Interpreter) : Ruby ì°¸ì¡° êµ¬í˜„
            li JRuby : JVMì—ì„œ ë™ì‘í•˜ë©°, Java ë¼ì´ë¸ŒëŸ¬ë¦¬ ì´ìš© ê°€ëŠ¥
            +asCode('ruby').
                include Java
                import java.util.List
                # ...
            li MacRuby : Objective-C ëŸ°íƒ€ì„ì—ì„œ ë™ì‘í•˜ë©°, Cocoa í”„ë ˆì„ì›Œí¬ ì´ìš© ê°€ëŠ¥
        li ì½”ë”© ê·œì•½
        table
            +ths('ë¶„ë¥˜', 'Ruby', 'Java')
            tr
                td í´ë˜ìŠ¤, ëª¨ë“ˆ
                td: +asCode('ruby').
                    class MyClass
                    end

                    module MyModule
                    end
                td: +asCode('java') class MyClass {}
            tr
                td ë©”ì„œë“œ
                td: +asCode('ruby').
                    def my_method
                    end

                    def open?
                        true
                    end
                td: +asCode('java').
                    void myMethod() {}
                    boolean isOpen() { return true; }
            tr
                td ë³€ìˆ˜
                td: +asCode('ruby') my_variable = 1
                td: +asCode('java') var myVariable = 1;

    h1.marker ë¬¸ë²•
    div
        h2.marker ìŠ¤ì½”í”„
        ul
            li Class level
            li Module level
            li Method level
            li Block level
            li Top level(ì•ì˜ ê²ƒë“¤ ì™¸ ë‚˜ë¨¸ì§€)

        h2.marker ë¬¸ì¥
        ul
            li ì£¼ì„ : #
            li ë¼ì¸
            p ê¸°ë³¸ì ìœ¼ë¡œ ë¼ì¸ ë‹¹ ì‹ í•˜ë‚˜. ì—¬ëŸ¬ ì‹ì„ í•œ ë¼ì¸ì— ê¸°ìˆ í•˜ë ¤ë©´ ;ë¡œ êµ¬ë¶„
            li ì½”ë“œ ì¸ì½”ë”© ì§€ì •
            +asCode('ruby') # encoding: utf-8
            li ì™¸ë¶€ ì†ŒìŠ¤ ì½”ë“œ ë¡œë“œ
            +asCode('ruby') require 'path/to/file.rb'
            ul
                li ì ˆëŒ€ê²½ë¡œ ì´ìš© ê°€ëŠ¥
                li $LOAD_PATH ë‚´ì¥ë³€ìˆ˜ì˜ ë””ë ‰í„°ë¦¬ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œ ìƒëŒ€ê²½ë¡œ ì´ìš© ê°€ëŠ¥
                li ./, ../ ìƒëŒ€ê²½ë¡œëŠ” ì‹¤í–‰ ë””ë ‰í„°ë¦¬ ê¸°ì¤€


        h2.marker ì—°ì‚°ì
        ul
            li ë™ë“± ë¹„êµ ==
            p ==ëŠ” ë‚´ìš©ë¬¼ì´ ê°™ìœ¼ë©´ true ë°˜í™˜. ì¸ìŠ¤í„´ìŠ¤ ì£¼ì†Œ ë¹„êµì—ëŠ” equal? ë©”ì„œë“œ ì´ìš©
            li í´ë˜ìŠ¤ ë¹„êµ ClassName === var_name
            p var_nameì˜ í´ë˜ìŠ¤ê°€ ClassNameê³¼ ë™ì¼í•˜ë©´ true
            li push ì—°ì‚° &lt;&lt;
            p ë°°ì—´, String, Integers ê°ê°ì— ëŒ€í•´ ì„œë¡œ ë‹¤ë¥¸ ë™ì‘ ìˆ˜í–‰
            li ë¹„êµ ì—°ì‚° a &lt;=> b
            ul
                li 1 : aê°€ bë³´ë‹¤ ë’¤ì— ìˆìŒ(a > b)
                li 0 : aì™€ bëŠ” ë™ì¼ ìˆœì„œ
                li -1 : aê°€ bë³´ë‹¤ ì•ì— ìˆìŒ(a &lt; b)
            li a ||= 10
            p ë³€ìˆ˜ aê°€ ì•„ì§ ì¡´ì¬í•˜ì§€ ì•Šê±°ë‚˜, false, nilì´ë©´ 10ì„ í• ë‹¹
            +asCode('ruby') (defined?(a) &amp;&amp; a) ? a : a = 10
            li ë‹¤ì¤‘ í• ë‹¹
            +asCode('ruby').
                a, b = 1, 2
                a, b = [1, 2, 3]
                a, b, c = [1, 2]    # c == nil
                a, *rest = [1, 2, 3, 4, 5]
            li ë°°ì—´ í•´ì²´ *
            +asCode('ruby').
                def plus(a, b)
                    a + b
                end
                plus *[1, 2]
            li nil safe ì°¸ì¡° ì—°ì‚° &amp;.
            p receiverê°€ nilì´ë©´ ì°¸ì¡°ë¥¼ ìˆ˜í–‰í•˜ì§€ ì•ŠìŒ
            li ì •ê·œì‹ ë§¤ì¹­ text =~ pattern, text !~ pattern
            li ì‚¬ìš©ì ì •ì˜ ì—°ì‚°ì
            p ì •ì˜ ê°€ëŠ¥ ì—°ì‚°ì : | ^ &amp; &lt;=> == =~ &lt;&lt; -@ + - * / % ** ~ [] []= ` != ë“±
            +asCode('ruby').
                class Point
                    attr_accessor :x
                    attr_accessor :y

                    def initialize(x = 0, y = 0)
                        self.x = x
                        self.y = y
                    end
                    def -@      # ë‹¨í•­ ì—°ì‚°ìëŠ” ë’¤ì— @ê°€ ë¶™ëŠ”ë‹¤
                        self.x *= -1
                        self.y *= -1
                        self
                    end
                end

        h2.marker ì œì–´ì‹
        ul
            li if
            +asCode('ruby', 'if 1').
                r = if expression1 # false, nil ì™¸ì˜ ëª¨ë“  ê°’ì€ trueë¡œ ê°„ì£¼
                    # ...
                elsif expression2
                    # ...
                else
                    # ...
                end                # ë§ˆì§€ë§‰ í‰ê°€ëœ ì‹ì˜ ê°’ì„ ë°˜í™˜
            +asCode('ruby', 'if 2') ... if expression # trueë©´ ì• ë¬¸ì¥ ì‹¤í–‰
            +asCode('ruby', 'if 3') if expression1 then ... elsif expression2 then ... else ... end
            li unless
            +asCode('ruby', 'unless 1').
                r = unless expression # falseë©´ ì‹¤í–‰
                    # ...
                else                  # elsifì— ëŒ€ì‘í•˜ëŠ” í‚¤ì›Œë“œëŠ” ì—†ë‹¤
                    # ...
                end                   # ë§ˆì§€ë§‰ í‰ê°€ëœ ì‹ì˜ ê°’ì„ ë°˜í™˜
            +asCode('ruby', 'unless 2') ... unless expression # falseë©´ ì• ë¬¸ì¥ ì‹¤í–‰
            li ì˜ˆì™¸ ì²˜ë¦¬
            +asCode('ruby').
                begin
                    1 / 0
                rescue ZeroDivisionError
                    # ...
                end

        h2.marker ë³€ìˆ˜
        ul
            li ì§€ì—­ë³€ìˆ˜ ì„ ì–¸ì— ë³„ë„ í‚¤ì›Œë“œ í•„ìš”ì—†ìŒ
            +asCode('ruby') msg = "Hello World"
            li ì „ì—­ë³€ìˆ˜ prefix : $
            +asCode('ruby').
                $size = 10  # ì „ì—­ë³€ìˆ˜ í• ë‹¹
                $not_exists # ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì „ì—­ë³€ìˆ˜ ì°¸ì¡°ëŠ” nil ë°˜í™˜
            li ìƒìˆ˜ : SNAKE_CASE
            +asCode('ruby').
                SIZE = 10
                SIZE = 20   # ì‹¤í–‰ë¨. Warning ì¶œë ¥
            li ì¸ìŠ¤í„´ìŠ¤ ë³€ìˆ˜ : @
            +asCode('ruby').
                class ClassName
                    def length=(length)
                        @length = length
                    end
                    def length
                        @length
                    end
                end

                class ClassName
                    attr_accessor :length
                end
            li ë‚´ì¥ ë³€ìˆ˜
            table
                +ths('ì´ë¦„', 'ì„¤ëª…')
                +tds('$stdin', 'í‘œì¤€ ì…ë ¥. default STDIN')
                +tds('$stdout, $>', 'í‘œì¤€ ì¶œë ¥. default STDOUT')
                +tds('$stderr', 'í‘œì¤€ ì—ëŸ¬. default STDERR')
                +tds('$/, $-0', 'ì…ë ¥ì˜ ì¤„ë°”ê¿ˆ ë¬¸ìì—´. default \\n')
                +tds('$SAFE', 'í˜„ì¬ ìŠ¤ë ˆë“œ safe level')
                +tds('$!', 'ë§ˆì§€ë§‰ ë°œìƒí•œ ì˜ˆì™¸ ê°ì²´')
                +tds('$@', 'ë§ˆì§€ë§‰ ë°œìƒí•œ ì˜ˆì™¸ì˜ Backtrace')
                +tds('$$', 'ì‹¤í–‰ ì¤‘ì¸ ë£¨ë¹„ í”„ë¡œì„¸ìŠ¤ PID')
                +tds('$?', 'ë§ˆì§€ë§‰ìœ¼ë¡œ ì¢…ë£Œëœ í”„ë¡œì„¸ìŠ¤ exit code')
                +tds('$:, $LOAD_PATH, $-I', 'ìŠ¤í¬ë¦½íŠ¸ íƒìƒ‰ ë””ë ‰í„°ë¦¬')
                +tds('$LOADED_FEATURES, $"', 'requireë¡œ ì½ì€ íŒŒì¼ë“¤')
                +tds('$DEBUG', 'ë””ë²„ê·¸ ëª¨ë“œë¡œ ì‹¤í–‰ëœ ê²½ìš° true')
                +tds('$VERBOSE', 'nilì´ë©´ ê²½ê³  ì¶œë ¥ x, falseë©´ ì¤‘ìš” ê²½ê³  ì¶œë ¥, trueë©´ ëª¨ë“  ê²½ê³  ì¶œë ¥')
                +tds('$~', 'ë§ˆì§€ë§‰ìœ¼ë¡œ ì •ê·œì‹ì— ë§¤ì¹˜ëœ MatchData')
                +tds('$1, $2, ...', 'ë§ˆì§€ë§‰ìœ¼ë¡œ ì •ê·œì‹ì— ë§¤ì¹˜ëœ ê° ê·¸ë£¹ë“¤')
                +tds('$+', 'ë§ˆì§€ë§‰ìœ¼ë¡œ ì •ê·œì‹ì— ë§¤ì¹˜ëœ ë§ˆì§€ë§‰ ê·¸ë£¹')
                +tds('$&', 'ë§ˆì§€ë§‰ìœ¼ë¡œ ì •ê·œì‹ì— ë§¤ì¹˜ëœ ë¬¸ìì—´')
                +tds('$`', 'ë§ˆì§€ë§‰ìœ¼ë¡œ ì •ê·œì‹ì— ë§¤ì¹˜ëœ ë¬¸ìì—´ ì‹œì‘ ìœ„ì¹˜ ì „ê¹Œì§€ì˜ ë¬¸ìì—´')
                +tds("$'", 'ë§ˆì§€ë§‰ìœ¼ë¡œ ì •ê·œì‹ì— ë§¤ì¹˜ëœ ë¬¸ìì—´ ì¢…ë£Œ ìœ„ì¹˜ í›„ë¶€í„°ì˜ ë¬¸ìì—´')
                tr
                    td
                        | $PROGRAM_NAME
                        br
                        | $*
                        br
                        | $FILENAME
                        br
                        | $&lt;
                    td
                        | ì‹¤í–‰ ì¤‘ì¸ ìŠ¤í¬ë¦½íŠ¸ ì´ë¦„
                        br
                        | ìŠ¤í¬ë¦½íŠ¸ ì‹¤í–‰ ì¸ì
                        br
                        | $&lt; íŒŒì¼ëª…
                        br
                        | ì‹¤í–‰ ì¸ì ë˜ëŠ” STDINìœ¼ë¡œ ì§€ì •ëœ íŒŒì¼
                        +asCode('ruby', 'test.rb').
                            puts %($PROGRAM_NAME : &#x23;{$PROGRAM_NAME})
                            puts %($*            : &#x23;{$*})
                            puts %($FILENAME     : &#x23;{$FILENAME})
                            puts %($&lt;            : &#x23;{$&lt;})
                            puts %(ARGF read\n-----\n&#x23;{$&lt;.read}\n-----)
                        +asCode('shell').
                            $ ruby test.rb test.rb Games/Breach.exe
                            $PROGRAM_NAME : test.rb
                            $*            : ["test.rb", "Games/Breach.exe"]
                            $FILENAME     : test.rb
                            $&lt;            : ARGF
                            ARGF read
                            -----
                            puts %($PROGRAM_NAME : &#x23;{$PROGRAM_NAME})
                            puts %($*            : &#x23;{$*})
                            puts %($FILENAME     : &#x23;{$FILENAME})
                            puts %($&lt;            : &#x23;{$&lt;})
                            puts %(ARGF read\n-----\n&#x23;{$&lt;.read}\n-----)
                            MZP      ï¿½ï¿½  ï¿½       @
                            -----
            li ë‚´ì¥ ìƒìˆ˜
            table
                +ths('ì´ë¦„', 'ì„¤ëª…')
                +tds('STDIN', '$stdin ê¸°ë³¸ê°’')
                +tds('STDOUT', '$stdout ê¸°ë³¸ê°’')
                +tds('STDERR', '$stderr ê¸°ë³¸ê°’')
                +tds('ARGV', '== $*')
                +tds('ARGF', '== $<')
                +tds('ENV', 'í™˜ê²½ ë³€ìˆ˜')
                +tds('RUBY_VERSION', 'ë£¨ë¹„ ì‹¤í–‰ ë²„ì „')

        h2.marker ë©”ì„œë“œ
        ul
            li ë©”ì„œë“œ ì •ì˜
            +asCode('ruby').
                def method_name
                    # ...
                end
                def method_name(arg1, arg2, ...)
                    # ...
                end
            li ë°˜í™˜ê°’
            p ê¸°ë³¸ì ìœ¼ë¡œ ë§ˆì§€ë§‰ í‰ê°€ëœ ì‹ì˜ ê°’ì´ ë°˜í™˜ê°’. ë„ì¤‘ì— ë°˜í™˜í•˜ë ¤ë©´ return í‚¤ì›Œë“œ ì´ìš©
            li ë©”ì„œë“œ í˜¸ì¶œ ì‹œ ê´„í˜¸ í•„ìš”ì—†ìŒ
            +asCode('ruby') receiver.method_name arg
            li Top level ë©”ì„œë“œ í˜¸ì¶œ ì‹œ receiver í•„ìš”ì—†ìŒ
            li ë©”ì„œë“œ ë‚´ë¶€ì—ì„œ receiverë¥¼ self í‚¤ì›Œë“œë¡œ ì°¸ì¡° ê°€ëŠ¥
            li ë©”ì„œë“œ ë‚´ë¶€ì˜ receiver ì§€ì •ì—†ëŠ” ë©”ì„œë“œ í˜¸ì¶œì€ selfë¥¼ receiverë¡œ ê°„ì£¼

        h2.marker ë¸”ë¡
        ul
            li block
            +asCode('ruby').
                do |var_name|
                    # ...
                end
            +asCode('ruby').
                {|var_name|
                    # ...
                }

        h2.marker í´ë˜ìŠ¤
        ul
            li í´ë˜ìŠ¤ ì •ì˜
            +asCode('ruby').
                class ClassName
                end
            li ìƒì„±ì í˜¸ì¶œ
            +asCode('ruby') var_name = ClassName.new
            li ìƒì„±ì ì •ì˜
            +asCode('ruby').
                class ClassName
                    def initialize(arg1, arg2, ...)
                        # ...
                    end
                end
            li í´ë˜ìŠ¤ ë©”ì„œë“œ ì •ì˜
            +asCode('ruby').
                class ClassName
                    def self.method_name(arg1, arg2, ...)
                        # ...
                    end
                end
            li í´ë˜ìŠ¤ ë³€ìˆ˜
            +asCode('ruby').
                class ClassName
                    @@var_name = 10
                end
            li ìƒì†
            p ìƒì† ê´€ê³„ë¥¼ ì§€ì •í•˜ì§€ ì•Šì€ í´ë˜ìŠ¤ëŠ” Objectë¥¼ ìƒì†í•œë‹¤
            +asCode('ruby').
                class SubClass &lt; SuperClass
                    def method_name
                        super   # ë¶€ëª¨ ë©”ì„œë“œ í˜¸ì¶œ
                        # ...
                    end
                end

        h2.marker ëª¨ë“ˆ
        p ì¸ìŠ¤í„´ìŠ¤í™” ë¶ˆê°€. ë‚´ë¶€ì— ë‹¤ë¥¸ ëª¨ë“ˆ ë° í´ë˜ìŠ¤ ì •ì˜ ê°€ëŠ¥
        +asCode('ruby').
            module MyModule
                class MyClass
                end
            end

            o = MyModule::MyClass.new

        h2.marker ë‚´ì¥ ìë£Œí˜•
        ul
            li ìˆ˜ : Numeric â† Fixnum, Bignum, Float
            p 0b111, 0777, 0o777, 0xfff, 3.14e+3, 1_234 í‘œê¸° ê°€ëŠ¥
            li ë¬¸ìì—´ : String
            ul
                li '', "" ëª¨ë‘ ê°€ëŠ¥í•˜ë©°, ""ëŠ” ì•ˆì— ë³´ê°„ì‹ &#x23;{...} ì‚¬ìš© ê°€ëŠ¥
                li ì—¬ëŸ¬ ì¤„ ë¬¸ìì—´(Heredoc)
                +asCode('ruby').
                    sql = &lt;&lt;SQL  # ì‹ë³„ìëŠ” ì ì ˆíˆ ë³€ê²½ ê°€ëŠ¥
                    select * from table1, table2
                    where
                        table1.col1 = table2.col2 and
                        table1.col2 > &#x23;{size}
                    SQL
                +asCode('ruby').
                    text = &lt;&lt;'TEXT'
                        \ì´ìŠ¤ì¼€ì´í”„ë˜ì§€ ì•ŠìŒ
                        &#x23;{ë³´ê°„ì‹} í‰ê°€í•˜ì§€ ì•ŠìŒ
                    TEXT
                li % String
                ul
                    li ê´„í˜¸ë¡œ (), [], {}, &lt;> ì‚¬ìš© ê°€ëŠ¥
                    p ë˜ëŠ” ì„ì˜ non-alphanumeric ë¬¸ì ì‚¬ìš© ê°€ëŠ¥
                    +asCode('ruby') %|123| == '123'
                    li ì†Œë¬¸ì : ë³´ê°„ì‹ í‰ê°€ x, \ì´ìŠ¤ì¼€ì´í”„ x
                    li %q : ë¬¸ìì—´
                    li %s : ì‹¬ë³¼
                    li %r : ì •ê·œì‹
                    li %x : Shell ëª…ë ¹ ì‹¤í–‰ ê²°ê³¼
                    +asCode('ruby') %x(ls -al)
                    li %i : Array of Symbols
                    li %w : Array of Strings
            li ì‹¬ë³¼
            p :ë¡œ ì‹œì‘í•˜ëŠ” ë³€ê²½ ë¶ˆê°€ëŠ¥í•œ ë¬¸ìì—´. ì‹ë³„ìë¡œ ì‚¬ìš© ë¶ˆê°€ëŠ¥í•œ ë¬¸ìë¥¼ í¬í•¨í•˜ëŠ” ê²½ìš° ë”°ì˜´í‘œ ì‚¬ìš© í•„ìš”
            +asCode('ruby').
                :my_simbol
                :'my-simbol'
            li ë°°ì—´ : []
            +asCode('ruby').
                arr = [0, 1, 2, 3]
                arr[10]      # nil
                arr[-1]      # ìŒìˆ˜ ì¸ë±ìŠ¤ ê°€ëŠ¥
                arr[10] = 10 # ì¤‘ê°„ì€ nilë¡œ ì±„ì›Œì§„ë‹¤

                %w(word1 word2 word3)       # ë¬¸ìì—´ ë°°ì—´
                %i(symbol1 symbol2 symbol3) # ì‹¬ë³¼ ë°°ì—´
            li í•´ì‹œ
            +asCode('ruby').
                scores = {
                    'name1' => 10,
                    'name2' => 20,
                    :symbol1 => 100
                }
                scores['name3'] = 30
                scores['anonymous'] # nil

                symbol_only = {s1: 1, s2: 2, s3: 3}
            li range
            +asCode('ruby').
                (1..5)      # 1, 2, 3, 4, 5
                (1...5)     # 1, 2, 3, 4

                Time.at(from)..Time.at(to)
                ('a'..'f')
            li ì •ê·œì‹; RegExp
            +asCode('ruby').
                pattern = /\d+/
                pattern = %r(/var/log/tomcat/.+) # ë³´ê°„ì‹ ì‚¬ìš© ê°€ëŠ¥
            li Proc : íŠ¹ì • ì§€ì—­ë³€ìˆ˜ë“¤ì— ë°”ìš´ë“œëœ í˜¸ì¶œ ê°€ëŠ¥í•œ ì½”ë“œ ë¸”ë¡
            +asCode('ruby').
                def gen_times(factor)
                    Proc.new {|n| n*factor } # ìƒì„± 1
                    proc {|n| n*factor }     # ìƒì„± 2
                    ->(n) { n*factor }       # ìƒì„± 3
                end

                times3 = gen_times(3)
                times5 = gen_times(5)

                times3.call(3)  # 9
                times5.call(3)  # 15
