include ../../source/skeleton.pug
+post('Python Built-in Constants', 'Python, Built-in, Constant', 'Python 내장 상수 정리')
    h1 Built-in Constants
    +asCode('python').
        False          # 거짓. bool
        True           # 참. bool
        None           # NoneType 싱글톤
        NotImplemented # 특별 메서드를 구현하지 않은 경우 반환하는 값. True로 간주
        Ellipsis       # 리터럴 ...과 같다
        __debug__      # -O 옵션으로 시작할 경우 True

    h1 Constants added by the site module
    p 프로그램 시작시 자동으로 추가되며, 인터프리터 셸과 대화할 때 유용하게 이용할 수 있다
    +asCode('python').
        quit(code=None)
        exit(code=None)
