include ../../source/skeleton.jade
+post('Python Index', '', '')
    table.marker
        caption Python Index
        +ths('내용', '링크')
        tr
            td Python 3.8 시작하기
            td: +asA('/posts/python/basic.html')
        tr
            td Python Built-in Constants 3.8
            td: +asA('/posts/python/built_in_constant.html')
        tr
            td Python Built-in Exceptions 3.8
            td: +asA('/posts/python/built_in_exception.html')
        tr
            td Python Built-in Functions 3.8
            td: +asA('/posts/python/built_in_function.html')
        tr
            td Python Built-in Types 3.8
            td: +asA('/posts/python/built_in_type.html')
        tr
            td Python 3.8 데이터 모델
            td: +asA('/posts/python/data_model.html')
        tr
            td 표준 라이브러리
            td: +asA('/posts/python/standard.html')
        tr
            td Python Data Persistence
            td: +asA('/posts/python/persistence.html')
        tr
            td 3rd/pandas : 데이터 처리
            td: +asA('/posts/python/pandas.html')
