include ../../source/skeleton.jade
+post('pandas', 'pandas', 'pandas 정리')
    h1.marker 참고자료
    +asA('https://pandas.pydata.org')

    h1.marker 데이터 모델
    ol
        li DataFrame : 행과 열로 이루어진 테이블. 행은 데이터(셋), 열은 차원
        li Series : 1차원 DataFrame
        +w3button()&attributes({ class: 'btn-code', title: '/Repositories/Python/Library/pandas_1.py', lan: 'python' })
