html
    body
        script(src='/source/redirect.js?200226_1657')
        hr
        details
            summary Common - 한글 종성 구분
            ol
                li 한글은 0xAC00('가')부터 0xD7A3('힣')까지 총 11,172자가 정의
                li 11,172 = 초성 19 * 중성 21 * 종성 28(종성 없는 경우 포함)
                a.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-green(target='_blank', href='http://www.unicode.org/Public/UNIDATA/EastAsianWidth.txt') http://www.unicode.org/Public/UNIDATA/EastAsianWidth.txt
                li 코드 포인트 = (초성 인덱스 * 21 + 중성 인덱스) * 28 + 종성 인덱스 + '가'0xAC00
                ul
                    li (코드 포인트 - '가'0xAC00) % 28 = 종성 인덱스
                    li (코드 포인트 - 종성 인덱스 - '가'0xAC00) / 28 % 21 = 중성 인덱스
                    li ((코드 포인트 - 종성 인덱스 - '가'0xAC00) / 28 - 중성 인덱스) / 21 = 초성 인덱스 
                li
                    | 조사 처리 
                    button.btn-code(path='Repositories/Eclipse/Basic/src/io/github/donggi/HangulUtility.java', lan='java') 예시 코드 »
        hr
        details
            summary Common - year, month, day로부터 요일 구하기
            ol
                li https://cs.uwaterloo.ca/~alopez-o/math-faq/mathtext/node39.html
                |         예. 2020년 2월 22일
                li d = 22 # 22일
                li m = 12 # 1(3월), 2(4월), ..., 12(2월)
                li c = 20 # year // 100
                li y = 19 # (year % 100), 1-2월이면 -1
                li w = (d + floor(2.6 * m - 0.2) - 2 * c + y + (y // 4) + (c // 4)) % 7
                |         Week day : 0(일요일), 1(월요일), ..., 6(토요일)
        hr
        details
            summary C# - Console Redirect
            button.btn-code(path='Repositories/VisualStudio/Project2 EventGenerator v2/Utility/ConsoleRedirectWriter.cs', lan='cs') 코드
        hr
        details
            summary HTML, JavaScript - 브라우저 매크로
            ul
                li https://www.steamgifts.com/
                |         게임 신청을 편리하게 하기 위한 
                button.btn-code(path='/Repositories/JavaScript/Browser/steamgifts.com.js', lan='javascript') 스크립트
                li http://hiy9.net/ms-ost/
                |         메이플스토리 OST 다운로드 
                button.btn-code(path='/Repositories/JavaScript/Browser/hiy9.net.js', lan='javascript') 스크립트
                li https://maplestory.fandom.com/wiki/Music
                |         메이플스토리 OST 다운로드 
                button.btn-code(path='/Repositories/JavaScript/Browser/maplestory.fandom.com.js', lan='javascript') 스크립트
                li https://davidfennmusic.bandcamp.com/album/moonlighter
                |         플레이리스트 다운로드 
                button.btn-code(path='/Repositories/JavaScript/Browser/davidfennmusic.bandcamp.com.js', lan='javascript') 스크립트
                li https://store.steampowered.com/
                |         스팀 똥겜 자동으로 "제외하기" 
                button.btn-code(path='/Repositories/JavaScript/Browser/store.steampowered.com.js', lan='javascript') 스크립트
        hr
        details
            summary HTML, JavaScript - 이미지 파일 인코딩/디코딩
            ul
                li
                    | XOR를 이용한 
                    button.btn-code(path='Repositories/JavaScript/Browser/decode.js', lan='javascript') 인코딩/디코딩
                ol
                    li 비트열 a, b에 대하여 (a ^ b) ^ b = a임을 이용
                    li 인코딩 ::= 기존 데이터의 각 바이트에 대하여, data[i] ^= pattern[i]
                    li 디코딩 ::= 인코딩된 데이터 각 바이트에 대하여, data[i] ^= pattern[i]
                    li 따라서 XOR에 이용하는 pattern만 정확히 재현할 수 있다면 빠르게 in-place 인코딩/디코딩이 가능하다
        hr
        details
            summary HTML, JavaScript - 테이블 정렬
            button.btn-code(path='source/ordered-table.js', lan='javascript') 코드
        hr
        details
            summary JavaScript, Google Apps Script
            ul
                li 편집 이벤트 핸들러
                |         function onEdit(e) {}
                li 편집 이벤트 - 편집 시트
                |         e.source.getSheetName()
                li 편집 이벤트 - 편집 획득
                |         let [r, c, h, w] = [parseInt(e.range.getRow()), parseInt(e.range.getColumn()), parseInt(e.range.getHeight()), parseInt(e.range.getWidth())];
                li 이름으로 시트 획득
                |         SpreadsheetApp.getActive().getSheetByName(name)
                li 활성 시트 획득
                |         SpreadsheetApp.getActiveSpreadsheet().getActiveSheet()
                li 시트 활성화
                |         sheet.activate()
                li 전체 행 개수 획득
                |         sheet.getMaxRows()
                li Range 획득
                |         sheet.getRange(r, c)
                br
                | sheet.getRange(r, c, h, w)
                br
                | range.offset(x, y) 등
                li Range 값 획득
                |         range.getValue()
                li Range 값 배열 획득
                |         range.getValues()
                li Range 값 설정
                |         range.setValue(val)
                li Range 값 배열 설정
                |         range.setValues(matrix)
                li Range 메모 획득
                |         range.getNote()
                li Range 메모 설정
                |         range.setNote()
                li Range 배경색 설정
                |         range.setBackground('green')
        hr
