[submodule "Repositories/Config"]
	path = Repositories/Config
	url = git@github.com:Dong-gi/Config.git
[submodule "Repositories/STS/Reminder"]
	path = Repositories/STS/Reminder
	url = git@github.com:Dong-gi/Reminder.git
[submodule "Repositories/Node/Rendezvous"]
	path = Repositories/Node/Rendezvous
	url = git@github.com:Dong-gi/rendezvous.git
[submodule "Repositories/Android/CCTV"]
	path = Repositories/Android/CCTV
	url = git@github.com:Dong-gi/CCTV.git
[submodule "Repositories/JavaScript/SF"]
	path = Repositories/JavaScript/SF
	url = git@github.com:Dong-gi/SF.git
[submodule "Repositories/STS/telegram-bot-java7"]
	path = Repositories/STS/telegram-bot-java7
	url = git@github.com:Dong-gi/telegram-bot-java7.git