[submodule "Repositories/Config"]
	path = Repositories/Config
	url = https://github.com/Dong-gi/Config
[submodule "Repositories/SF"]
	path = Repositories/SF
	url = https://github.com/Dong-gi/SF
[submodule "Repositories/STS/reminder"]
	path = Repositories/STS/reminder
	url = https://github.com/Dong-gi/Reminder.git
[submodule "Repositories/Rendezvous"]
	path = Repositories/Rendezvous
	url = https://github.com/Dong-gi/rendezvous.git
[submodule "Repositories/CCTV"]
	path = Repositories/CCTV
	url = https://github.com/Dong-gi/CCTV.git
