include ./source/skeleton.pug
+post('한 걸음씩...', 'blog, programming', '프로그래밍 블로그를 지향하는 정적 사이트')
    h1.marker Hello World!
    p 방문을 환영합니다. 개인적으로 이것저것 공개적인 것들을 정리하는 사이트입니다.

    h1.marker 최근 수정된 포스트
    ul#recently-changed-posts
    script.
        let changedPosts = []
        let notDeletedPosts = new Set()
        for (let line of recentChangedPosts.split('\n').reverse()) {
            let parts = line.split('\t')
            if (parts.length != 2)
                continue
            changedPosts.push(parts[1])
            switch (parts[0]) {
                case 'D':
                    notDeletedPosts.delete(parts[1])
                    break
                case 'A':
                case 'M':
                    notDeletedPosts.add(parts[1])
                    break
            }
        }
        let renderedCount = 0
        for (let post of changedPosts.reverse()) {
            if (notDeletedPosts.has(post)) {
                notDeletedPosts.delete(post)
                let url = '/' + post.replace(/^pugs/, 'posts').replace(/\.pug$/, '.html')
                let registeredPosts = posts.list.filter(o => o.file == url)
                if (registeredPosts.length == 0)
                    continue
                document.getElementById('recently-changed-posts').appendChild(`<li><a href="${url}">${registeredPosts[0].title}</a></li>`.asSF().$)
                if (++renderedCount >= 10)
                    break
            }
        }

    h1.marker 이력
    table
        tr
            th(pre-sort=1, sort-order='▲') 시기
            th 내용
        tr
            td 2020-08
            td.hover-content(template-id='template-index-3') 슈퍼진 입사
        +tds('2020-07', '산업기능요원 복무만료@세시소프트')
        tr
            td 2018-06
            td.hover-content(template-id='template-index-2') 산업기능요원 복무 시작@세시소프트
        +tds('2018-02-20', '공학사 취득, 4.27/4.5@한국기술교육대학교, 컴퓨터공학부')
        tr
            td 2018-02-06
            td.hover-content(template-id='template-index-1') 직업능력개발훈련교사 자격증 취득
        +tds('2017-11', '정보처리기사 취득')

    +hoverTemplate()#template-index-1
        ul
            li 통신서비스 3급
            li 정보기술개발 3급
            li 전자기기개발 3급
            li 전자기기일반 3급

    +hoverTemplate()#template-index-2
        ol
            li
                +asA('https://namu.wiki/w/꿈왕국과 잠자는 100명의 왕자님')
                |  서버 유지보수; Rest API(SpringBoot + Spring Web), Admin(SpringBoot + Spring Web + Thymeleaf)
            li
                +asA('https://namu.wiki/w/노을빛 세계에서 너와 노래를…')
                |  서버 유지보수; Rest API(Servlet), Admin(Servlet)
            li
                +asA('https://play.google.com/store/apps/details?id=com.sesisoft.kamurai&hl=ko&gl=US', '카무라이 트라이브')
                |  서버 유지보수; Rest API(Servlet), Admin(Servlet + FreeMarker)
            li 게임 이벤트 데이터 작업을 위한 사내
                +asA('/posts/project/wpf_data_tool.html', 'WPF 애플리케이션')
                |  개발

    +hoverTemplate()#template-index-3
        h1.w3-large.fake: +asA('https://fb.gg/play/puzzle_wizard', 'Puzzle Wizard')
        ul
            li 웹소켓 서버(SpringBoot + Netty + MySQL + Redis) 개발
            li Admin(SpringBoot + Spring Web + PostgreSQL) 개발
        h1.w3-large.fake: +asA('https://fb.gg/play/super_pop', 'Super Pop')
        ul
            li 웹소켓 서버(SpringBoot + Netty + MySQL + Redis) 개발
            li Admin(SpringBoot + Spring Web + PostgreSQL) 개발
        h1.w3-large.fake: +asA('https://fb.gg/play/omg_minigames', '123 Minigames')
        ul
            li Rest API 서버(SpringBoot + Spring Reactive Web + PostgreSQL) 개발
            li Admin(SpringBoot + Spring Web + PostgreSQL) 개발
        h1.w3-large.fake: +asA('https://fb.gg/play/the_puzzle', 'The Puzzle')
        ul
            li Rest API 서버(SpringBoot + Spring Reactive Web + PostgreSQL + Redis) 개발
            li Admin(SpringBoot + Spring Web + PostgreSQL) 개발
        h1.w3-large.fake 기타
        ul
            li: +asA('https://developers.facebook.com/docs/games/instant-games/getting-started/bot-setup/', '페이스북 게임 봇')
                |  관련, 봇메시지 예약/전송 cron job 개발(Node)
            li: +asA('https://developers.facebook.com/docs/games/social-and-retention/features/tournaments/instant-games', '인스턴트 토너먼트')
                |  관련, 랭킹 서버 개발(Node + Express)
            li: +asA('https://fb.gg/play/doge_dodge', 'DOGE Dodge')
                |  관련, API 서버(Node + Express) 개발
            li Data Studio를 이용한 KPI 리포트 작성
