//- +w3button()&attributes({ class: 'btn-code', title: '/Repositories/Eclipse', lan: 'java' })
//- +asA('http://...')
//- +w3a()&attributes({ target: '_blank', href: '' }) |링크
//- +w3a()&attributes({ href: "javascript:;" }) |실행
//- +w3img('imgs/', 'alt')

//- span.hover-content(template-id='template-id'
//- div.w3-container.w3-leftbar.w3-border-green.w3-white#template-id

include ./source/skeleton.jade

+post('한 걸음씩...', 'blog, programming', '프로그래밍 블로그를 지향하는 정적 사이트')
    h1.marker Index
    table.marker.no-sort
        caption 수정사항
        +tds('2020-04-22', 'Jade 템플릿 적용')

    h2.marker 별 건 없고 칸나쨩이나 보고가세요.
    +w3img('imgs/kanna.gif', '칸나쨩').marker
    
    h2.marker 주요 포스트
    table.no-sort
        +ths('내용', '링크')
        tr
            td 오류 대응 목록
            td: +asA('/posts/project/error.html')
        tr
            td 브라우저 매크로 등 스니펫
            td: +asA('/posts/project/snippets.html')