//- &#x23;
//- +codeBtn('/Repositories/', 'java')
//- +asA('href', 'innerText')
//- +w3img('/imgs/', 'alt')
//- +hoverTemplate()#template-id
//- span.hover-content(template-id='template-id'

include ./source/skeleton.pug
+post('한 걸음씩...', 'blog, programming', '프로그래밍 블로그를 지향하는 정적 사이트')
    h1.marker Hello World!
    p 방문을 환영합니다. 포트폴리오겸, 개인적으로 공부한 것들을 정리하는 사이트입니다.

    h1.marker 주요 포스트
    table
        +ths('링크', '내용')
        tr
            td 정리중
            td 정리중

    h1.marker 경력(요약)
    table
        tr
            th(pre-sort=1, sort-order='▲') 시기
            th 내용
        tr
            td 2020-08
            td.hover-content(template-id='template-index-3') 수퍼진 입사
        +tds('2020-07', '산업기능요원 복무 만료@세시소프트')
        tr
            td 2018-06
            td.hover-content(template-id='template-index-2') 산업기능요원 복무 시작@세시소프트
        +tds('2018-02-20', '컴퓨터공학부 졸업, 4.27/4.5@한국기술교육대학교')
        tr
            td 2018-02-06
            td.hover-content(template-id='template-index-1') 직업능력개발훈련교사 자격증 취득
        +tds('2017-11', '정보처리기사 취득')

    h1.marker 수정사항
    div
        table
            tr
                th(pre-sort=1, sort-order='▲') 날짜
                th 내용
            +tds('2020-10-18', 'Jade -> Pug 업데이트')
            +tds('2020-05-09', '기존 HTML -> Jade 템플릿 변경 완료')
            +tds('2020-04-22', 'Jade 템플릿 적용 시작')
            +tds('2020-01-16', 'GoormIDE로 이전')


    +hoverTemplate()#template-index-1
        ul
            li 통신서비스 3급
            li 정보기술개발 3급
            li 전자기기개발 3급
            li 전자기기일반 3급
    +hoverTemplate()#template-index-2
        ol
            li 모바일 게임 3종 API 서버(tomcat) 유지보수
            li
                | 게임 이벤트 데이터 작업을 위한 사내 
                +asA('/posts/project/wpf_data_tool.html', 'WPF 애플리케이션')
                |  개발
    +hoverTemplate()#template-index-3
        ol
            li Puzzle Wizard 서버 개발
            | API 서버(WebSocket), Admin 서버(REST)
