//- +codeBtn('/Repositories/', 'java')
//- +asA('href', 'innerText')
//- +w3img('/imgs/', 'alt')
//- +hoverTemplate()#template-id
//- span.hover-content(template-id='template-id'

include ./source/skeleton.jade
//- include ../../source/skeleton.jade
+post('한 걸음씩...', 'blog, programming', '프로그래밍 블로그를 지향하는 정적 사이트')
    h1.marker Index
    table.marker.no-sort
        caption 수정사항
        +tds('2020-04-22', 'Jade 템플릿 적용 시작')
        +tds('2020-01-16', 'GoormIDE로 이전')

    h2.marker 별 건 없고 칸나쨩이나 보고가세요.
    +w3img('/imgs/kanna.gif', '칸나쨩').marker
    
    h2.marker 주요 포스트
    table.no-sort
        +ths('내용', '링크')
        tr
            td 오류 대응 목록
            td: +asA('/posts/project/error.html')
        tr
            td 브라우저 매크로 등 코드 스니펫
            td: +asA('/posts/project/snippets.html')
        tr
            td WPF 데이터 툴
            td: +asA('/posts/project/wpf_data_tool.html')