include ../../source/skeleton.pug
+post('Java Index', '', '')
    table.marker
        caption Java Index
        +ths('내용', '링크')
        tr
            td Java 시작하기
            td: +asA('/posts/java/basic.html')
        tr
            td Java 객체지향
            td: +asA('/posts/java/oop.html')
        tr
            td Java 버전별 추가사항
            td: +asA('/posts/java/version.html')
        tr
            td 『Effective Java』
            td: +asA('/posts/java/effective_java.html')
        tr
            td JVM 옵션 및 성능 관련사항
            td: +asA('/posts/java/performance.html')
        tr
            td Annotation Processing API
            td: +asA('/posts/java/javax.annotation.processing.html')
        tr
            td Java Native Interface
            td: +asA('/posts/java/jni.html')
        tr
            td JavaFX
            td: +asA('/posts/java/javafx.html')
        tr
            td JavaEE
            td: +asA('/posts/java/java_ee.html')
        tr
            td Android
            td: +asA('/posts/java/android.html')
        tr
            td SDKMAN
            td: +asA('/posts/single/sdkman.html')
        tr
            td Gradle
            td: +asA('/posts/single/gradle.html')
        tr
            td Groovy
            td: +asA('/posts/single/groovy.html')
        tr
            td java.base 12
            td: +asA('/posts/java/java.base.html')
        tr
            td com.sun.nio.sctp Since 1.7
            td: +asA('/posts/java/com.sun.nio.sctp.html')
        tr
            td FreeMarker - Built-in 목록 2.3.28
            td: +asA('/posts/front/freemarker/built_in.html')
        tr
            td FreeMarker - 프로그래밍 가이드 2.3.28
            td: +asA('/posts/front/freemarker/programming_guide.html')
        tr
            td FreeMarker - 템플릿 작성 가이드 2.3.28
            td: +asA('/posts/front/freemarker/template_guide.html')
        tr
            td FreeMarker - XML 처리 가이드 2.3.28
            td: +asA('/posts/front/freemarker/xml_guide.html')
        tr
            td 3rd/Apache Commons Collections 4.4
            td: +asA('/posts/java/apache.commons.collections.html')
        tr
            td 3rd/Apache Commons Lang 3.9
            td: +asA('/posts/java/apache.commons.lang.html')
        tr
            td 3rd/Apache Commons Math 3.6.1
            td 작성 예정
            //-td: +asA('/posts/java/apache.commons.math.html')
        tr
            td 3rd/Apache Commons RNG Core 1.2
            td: +asA('/posts/java/apache.commons.rng.html')
        tr
            td 3rd/Jackson 2.10.1
            td: +asA('/posts/java/jackson.html')
        tr
            td 3rd/Gson 2.8.6
            td: +asA('/posts/java/gson.html')
        tr
            td 3rd/Guava 23.0
            td 작성 예정
            //-td: +asA('/posts/java/guava.html')
        tr
            td 3rd/lombok 1.18.10
            td: +asA('/posts/java/lombok.html')
        tr
            td 3rd/Logback with SLF4J
            td: +asA('/posts/java/logback.html')
