include ../../source/skeleton.pug
+post('Logback with SLF4J', 'Logback, SLF4J', 'Logback with SLF4J 정리')
    h1 참고 자료
    +asA('http://www.slf4j.org/', 'SLF4J')
    +asA('http://logback.qos.ch/documentation.html', 'Logback')

    h1 Maven Spring Boot Project
    +codeBtn('/Repositories/STS/logback-maven/pom.xml', 'xml') pom.xml »
    +codeBtn('/Repositories/STS/logback-maven/src/main/resources/logback.xml', 'xml') logback.xml »
    +codeBtn('/Repositories/STS/logback-maven/src/main/resources/logback-appenders.xml', 'xml') logback-appenders.xml »
    +codeBtn('/Repositories/STS/logback-maven/src/main/java/io/github/donggi/LogbackMavenApplication.java', 'java')

    h1 Gradle Spring Boot Project
    +codeBtn('/Repositories/STS/logback-gradle/build.gradle', 'text') build.gradle »
    +codeBtn('/Repositories/STS/logback-gradle/src/main/resources/logback.xml', 'xml') logback.xml »
    +codeBtn('/Repositories/STS/logback-gradle/src/main/resources/logback-appenders.xml', 'xml') logback-appenders.xml »
    +codeBtn('/Repositories/STS/logback-gradle/src/main/java/io/github/donggi/LogbackGradleApplication.java', 'java')
