html
    body
        | grant codeBase "file:/path/to/freemarker.jar"
        | {
        | permission java.util.PropertyPermission "file.encoding", "read";
        | permission java.util.PropertyPermission "freemarker.*", "read";
        | }
        | 디렉터리로부터 템플릿 로드하는 경우, 디렉터리 읽기 권한 필요.
        | grant codeBase "file:/path/to/freemarker.jar"
        | {
        | ...
        | permission java.io.FilePermission "/path/to/templates/-", "read";
        | }
        | 기본 설정(현재 디렉터리로부터 템플릿 로드)을 이용하는 경우.
        | grant codeBase "file:/path/to/freemarker.jar"
        | {
        | ...
        | permission java.util.PropertyPermission "user.dir", "read";
        | permission java.io.FilePermission "${user.dir}/-", "read";
        | }
