include ../../source/skeleton.pug
+post('개인사업자 관련 메모', '개인사업자 관련 메모', '개인사업자 관련 메모')
    h1 직장인 실업급여
    ul
        li 개인사업자로 등록한 직장인은 실업급여을 받을 수 없으므로, 미리 휴업 또는 폐업처리해야 한다
        li 임대사업자는 사무실과 직원이 있는 형태가 아닌 이상 실업급여를 받는데 문제되지 않는다

    h1 사업소득이 없는 경우 세금
    ul
        li 개인사업자 등록 후 발생하는 수입이 없으면 부가가치세, 종합소득세등 부과되는 세금은 없다
        li 실적이 없더라도 무실적으로 부가가치세 및 종합소득세 신고는 필요
        p 미신고 시, 세무서 직권으로 사업장 폐업을 시킬 수도
