include ../../source/skeleton.pug
+post('개인사업자 관련 메모', '개인사업자 관련 메모', '개인사업자 관련 메모')
    h1 직장인이 개인사업자 등록하였지만, 사업소득은 없는 경우 세금 문제
    ul
        li 개인사업자 등록 후 발생하는 수입이 없으면 부가가치세, 종합소득세등 부과되는 세금은 없다
        li 실적이 없더라도 무실적으로 부가가치세 및 종합소득세 신고는 필요
        p 미신고 시, 세무서 직권으로 사업장 폐업을 시킬 수도
