include ../../source/skeleton.pug
+post('자동차', '자동차', '자동차 관련 정리')
    h1 경차 혜택
    p 경차사랑카드 혜택 2023년까지...

    h1 정비
    ul
        li.marker: +asA('https://www.gongim.com/main/main.php', '정비 프렌차이즈 - 공임나라')
        li.marker: +asA('http://www.dsmotors.co.kr/guide/guide1.php', '정비 프렌차이즈 - 공임천국')
        li.marker 소모품 교체주기
        +w3img('/imgs/20211015_195905.jpg', '출처 : http://plan.danawa.com/info/index.php?nPlanSeq=3166')
