include ../../source/skeleton.pug
+post('장례 관련 메모', '장례', '장례 관련 메모')
    h1 사망 신고
    ul
        li 자동이체가 모두 중단되기 때문에 요금이 납부되지 않는다. 일부 보험사 등에서는 이를 3개월 뒤에 연체이자와 함께 고지하는 경우가 있다

    h1 상속
    ul
        li: +asA('https://www.gov.kr/portal/service/serviceInfo/351000000206', '안심상속 원스톱 서비스')
        li: +asA('https://www.nts.go.kr/nts/cm/cntnts/cntntsView.do?mi=6528&cntntsId=7956', '상속공제 항목')
