include ../../source/skeleton.pug
+post('주거 관련 메모', '주거 관련 메모', '주거 관련 메모')
    h1 매도한 부동산에 대한 하자 보수 책임
    ul
        li 하자를 완벽히 보수하지 않고 주택을 넘긴 것은 채무를 제대로 이행하지 못한 것이므로 채무불이행으로 인한 손해를 배상해야 한다. 채무불이행에 의한 손해배상은 손해가 발생한지 10년 이내면 청구가 가능하고 그 이후에는 채권의 소멸시효에 해당하므로 청구할 수 없다. 이 소멸시효의 기산점은 주택을 인도받은 날이다. 
            +asA('http://www.himchanlaw.com/%EC%98%A8%EB%9D%BC%EC%9D%B8%EB%B2%95%EB%A5%A0%EC%83%81%EB%8B%B4/840524', '참고')
        li 담보책임은 계약 체결 이전에 생긴 하자에 대해서만 인정된다. 매매 계약을 체결한 이후 생긴 하자에 대해선 매도인에게 담보책임을 물을 수 없다.
            +asA('https://www.donga.com/news/Economy/article/all/20210513/106913885/1', '참고')
            +asA('https://www.legaltimes.co.kr/news/articleView.html?idxno=59412', '판례')

    h1 보증금은 못받았지만 일단 이사는 해야 하는 경우
    ul
        li 임차권등기명령을 법원에 신청하면 새로운 집에 전입신고하여도 대항력이 유지된다
        li 임대차계약 만료 전에는 집주인의 허가가 필요하지만, 계약이 종료된 경우에는 필요없다
        li 임차권등기명령 해지되도 말소 이력은 등기부등본에 남는다

    h1 전월세 사기 관련
    div
        h2 신탁부동산
        ul
            li 신탁부동산은 신탁회사의 임명장없이 집주인 독단으로 임대 계약을 진행할 수 없다
            p -> 작성된 계약서는 무효다
            li 신탁부동산에 대한 대출, 계약 내용은 신탁원부를 발급받아 확인할 수 있다
            p -> 등기부등본에는 표시되지 않는다
            li 신탁원부는 근처 등기소에서 발급 가능
            p -> 1200원, 20매 초과 시 1매당 50원
        h2 깡통전세
        ul
            li 국세는 일반 채권보다 우선하여 변제된다
            p 예. 전세 4억이 설정된 집을 전세 계약 승계 조건으로 5천만원에 매수 > 국세 체납으로 인하여 주택 경매 절차 돌입 > 세입자는 4억을 돌려받지 못하게 됨
            li 소액임차보증금은 국세보다 우선하여 변제되지만, 서울 5천만원 한도며 다른 지역은 이보다 한도가 낮다
