include ../../source/skeleton.pug
+post('노동 관련 메모', '노동 관련 메모', '노동 관련 메모')
    h1 국민연금
    div
        h2 기준소득월액
        ul
            li 전년도 중 사업장 종사기간 소득액 / 종사일수 X 30
            li 을 기준으로 7월부터 다음 해 6월까지 적용
