include ../../source/skeleton.pug
+post('주식 관련 메모', '주식', '주식 관련 메모')
    h1 공모주 청약 수수료(온라인)
    table
        +ths('증권사', '수수료(원)', '미배정 면제')
        +tds('대신증권', '2,000', 'Y')
        +tds('한국투자증권', '2,000', 'N')
        +tds('미래에셋증권', '2,000', 'Y')
        +tds('삼성증권', '2,000', 'Y')
        +tds('신영증권', '2,000', 'N')
        +tds('SK증권', '2,000', 'N')
        +tds('KB증권', '1,500~2,000', 'Y')
        +tds('한화투자증권', '1,000', 'N')
        +tds('교보증권', '1,000', 'Y')
        +tds('하이투자증권', '2,000', 'N')
        +tds('키움증권', '0', '')
        +tds('NH투자증권', '0', '')
        +tds('신한투자증권', '0', '')
        +tds('유진투자증권', '0', '')
        +tds('이베스트투자증권', '0', '')
        +tds('하나금융투자증권', '0', '')
