include ../../source/skeleton.pug
+post('주식 관련 메모', '주식', '주식 관련 메모')
    h1 공모주 청약 수수료
    table
        +ths('증권사', '수수료(원)')
        +tds('대신증권', '3,000')
        +tds('한국투자증권', '2,000')
        +tds('미래에셋증권', '2,000')
        +tds('삼성증권', '2,000')
        +tds('신영증권', '2,000')
        +tds('SK증권', '2000')
        +tds('KB증권', '1,500')
        +tds('한화투자증권', '1,000')
        +tds('교보증권', '1,000')
        +tds('이베스트투자증권', '1,000')
        +tds('하이투자증권', '1,000')
