include ../../source/skeleton.pug
+post('주식 관련 메모', '주식', '주식 관련 메모')
    h1 공모주 청약 수수료(온라인)
    table
        +ths('증권사', '수수료(원)', '미배정 면제')
        +tds('대신증권', '2,000', 'Y')
        +tds('한국투자증권', '2,000', 'N')
        +tds('미래에셋증권', '2,000', 'Y')
        +tds('삼성증권', '2,000', 'Y')
        +tds('NH투자증권', '2000', 'Y')
        +tds('신영증권', '2,000', 'N')
        +tds('SK증권', '2,000', 'N')
        +tds('KB증권', '1,500~2,000', 'Y')
        +tds('한화투자증권', '1,000', 'N')
        +tds('교보증권', '1,000', 'Y')
        +tds('하이투자증권', '2,000', 'N')
        +tds('키움증권', '0', '')
        +tds('신한투자증권', '0', '')
        +tds('유진투자증권', '0', '')
        +tds('이베스트투자증권', '0', '')
        +tds('하나금융투자증권', '0', '')

    h1 (Bodie의) 기본투자론
    .w3-row
        .w3-col.s2.w3-center
            +w3img('http://image.kyobobook.co.kr/images/book/xlarge/274/x9791132102274.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '(Bodie의) 기본투자론 / Zvi Bodie,Alex Kane,Alan J.marcus')
                +tds('ISBN 정보', '979-11-321-0227-4(93320)')
                +tds('발행사항', '맥그로힐에듀케이션, 발행일 : 2020.01.03')
    div
        h2 투자: 배경과 과제
        div
            h3.fake 실물자산과 금융자산
            ul
                li 금융자산은 실물자산이 창출하는 소득에 대한 청구권이다
                li 실물자산은 순소득을 창출하는 반면, 금융자산은 투자자 사이에서 부를 분배하는 방법을 규정한다
                li 투자자의 자산은 곧 발행자의 채무다. 따라서 모든 자산을 합산하면 오직 실물자산만 남고, 이것이 경제의 순자산이 된다

            h3.fake 금융자산
            ul
                li 고정소득증권 : 정해진 공식에 따른 이자 지급 약속(채권)
                li 지분증권 : 기업에 대한 소유 지분(주식)
                li 파생증권 : 다른 자산의 가격에 따라 결정되는 지급금 제공

            h3.fake 2008년의 금융위기
            ul
                li 전형적인 주택담보대출 : 주택 소유자는 보통 30년 장기에 걸쳐 원리금을 상환
                p 대출기관은 채무인의 상환 능력을 꼼꼼하게 검증할 이유가 있다
                li 패니메이, 프래디맥과 같은 대행기관들이 등장 : 주택저당대출을 인수하여 풀을 구성한 다음 다른 투자자들에게 판매
                ul
                    li 대행기관은 주택저당대출 유동화 증권을 투자자들에게 팔면 그만이므로, 엄밀한 실사를 할 이유가 없음
                    li 대행기관의 느슨한 기준 덕분에 대출기관은 부실 대출 계약도 마음 놓고 체결 가능 -- 무서류 대출, 매입가 전액 대출 등
                    li 결과적으로 채무 불이행에 대한 모든 위험은 최종 투자자들에게 전가
                    li 투자자들은 왜 이를 매수했는가?
                    ul
                        li CDO 부채담보부 채권 : 하나의 풀을 70%는 선순위 트랑쉐, 나머지를 후순위 트랑쉐로 나누면, 풀의 부도비율이 30% 이하일 경우 선순위 투자자들은 투자자금 전액을 회수할 수 있다. 이를 이용해 저신용 주택저당대출 풀에서 AAA 등급의 증권이 대규모로 분리될 수 있었다. 결국 주요 신용평가기관들이 등급을 잘못 매겼다는 사실이 밝혀졌다
                        li CDS 신용부도 스왑 : CDS는 기본적으로 채무불이행에 대비한 보험계약이다. 그러나 일부 CDS 발행자들은 자본이 확보되지 않은 채로 과도하게 스왑을 발행했다

        h2 자산유형과 금융증권
        div
            h3.fake 채권시장
            p 많은 국가 정부는 물가연동국채를 발행하여 인플레이션 위험을 헤지하는 수단을 제공한다

            h3.fake 소유지분 증권
            div
                h4.fake 보통주의 특징
                ul
                    li 잔여청구권 : 기업의 자산과 이익에 대한 청구권에서 최하위 우선순위
                    li 유한책임 : 기업이 파산해도 주주의 최대 손실은 투자원금에 한정

            h3.fake 파생상품시장
            div
                h4.fake 옵션
                ul
                    li 콜옵션 매수자는 만기일 또는 그 전에 매도자로부터 행사가격으로 자산을 매입할 권리를 가진다
                    li 풋옵션 매수자는 만기일 또는 그 전에 매도자에게 행사가격으로 자산을 매도할 권리를 가진다
                table.no-sort
                    +ths('', '콜옵션 매수자', '콜옵션 매도자', '풋옵션 매수자', '풋옵션 매도자')
                    +tds('자산 가치 상승', '이득(옵션 행사)', '손해', '손해(옵션 포기)', '이득')
                    +tds('자산 가치 하락', '손해(옵션 포기)', '이득', '이득(옵션 행사)', '손해')

                h4.fake 선물계약
                ul
                    li 정해진 인도일에 자산을 미리 합의한 가격(선물가격)으로 거래하는 의무를 상방에 부여하는 계약
                    li 옵션과 달리 당장 자금이 없어도 계약 가능
