include ../../source/skeleton.pug
+post('CCTV', 'Telegram, YouTube, CCTV', 'Telegram + YouTube = CCTV')
    h1 CCTV Tutorial
    div
        h2 Create new Telegram bot
        p You can create new Telegram bot by using 
            +asA('tg://resolve?domain=botfather', 'BotFather')
        p You can find futher informations from 
            +asA('https://core.telegram.org/bots#3-how-do-i-create-a-bot', 'Official document')
        +w3img('/imgs/cctv-doc-1.png')

        h2 Start Telegram bot
        +w3img('/imgs/cctv-doc-2.png')

        h2 Apply Telegram bot token
        +w3img('/imgs/cctv-doc-5.jpg')&attributes({style:'max-width:480px'})

        h3 Set YouTube RTMP key
        p You can find your own RTMP key from 
            +asA('https://studio.youtube.com/', 'YouTube Studio')
        +w3img('/imgs/cctv-doc-3.png')
        +w3img('/imgs/cctv-doc-4.png')

        h3 Enjoy it!

    h1 Caution
    ol
        li The app and 
            +asA('https://github.com/Dong-gi/CCTV', 'source code')
            |  are both free
        li App saves your input only in your device
        p If you uninstall the app or remove app's data, then you will set the app from first step when you turn on app next time.
        li Battery
        p Streaming constantly drains your battery, so be mindful of heat and battery level

    h1 Privacy Policy
    div
        h2 Information Collected by the App
        ul
            li Telegram token
            li YouTube RTMP key

        h2 Why the app collects information
        ul
            li Telegram token
            p The app is designed to operate remotely via Telegram bot. Telegram token is used in this communication.

            li YouTube RTMP key
            p RTMP key is used to stream your camera frames to YouTube

        h2 How information is handled
        p The collected informations are stored in the user's device in a method provided by Android.

        h2 If you do not want it
        ul
            li Delete the app's data
            p or
            li Delete the app
