include ../../source/skeleton.pug
+post('IPv4 to Country', 'IPv4 to Country', 'IPv4 to Country')
    h1 기본 데이터 다운로드
    +asCode('shell') $ wget -O dbip-country-lite.csv.gz https://download.db-ip.com/free/dbip-country-lite-2022-02.csv.gz
    +asCode('txt', 'from(inclusive),to(inclusive),country code').
        0.0.0.0,0.255.255.255,ZZ
        1.0.0.0,1.0.0.255,AU
        1.0.1.0,1.0.3.255,CN
        1.0.4.0,1.0.7.255,AU
        1.0.8.0,1.0.15.255,CN

    h1 압축 해제 및 데이터 추출
    +codeBtn('/Repositories/Node/ip2country/extract.js', 'javascript')

    h1 용례
    +codeBtn('/Repositories/Node/ip2country/ip2country.js', 'javascript')
    +codeBtn('/Repositories/Node/ip2country/Ip2Country.java', 'java')
