include ../../source/skeleton.pug
+post('Privacy Policy', 'Privacy Policy', 'Privacy Policy')
    h1 Product : Android CCTV
    div
        h2 Information Collected by the App
        ul
            li Telegram token
            li YouTube RTMP key

        h2 Why the app collects information
        ul
            li Telegram token
            p The app is designed to operate remotely via Telegram bot. Telegram token is used in this communication.

            li YouTube RTMP key
            p RTMP key is used to stream your camera frames to YouTube

        h2 How information is handled
        p The collected informations are stored in the user's device in a method provided by Android.

        h2 If you do not want it
        ul
            li Delete the app's data
            p or
            li Delete the app
