include ../../../source/skeleton.pug

+post('1048 풀이', 'algorithm, judge.koreatech, 1048', 'judge.koreatech.ac.kr 1048 문제 풀이')
    h1 1048: AP 배분
    div
        ol
            li 각 기숙사 건물의 학생 수와 가용한 총 AP 개수를 조사하여 한 AP 에 접속하는 학생 수를 최소화할 수 있도록 AP를 재배치 하고자 한다.
            li 단, 모든 건물에서 인터넷 이용이 가능해야 하므로 각 건물마다 적어도 1개의 AP 는 설치를 해야만 한다.
        h2 풀이
        p 일단 건물마다 AP를 1대씩 할당한 다음, 우선순위 큐를 이용하여 가장 혼잡한 곳에 추가로 할당해준다.
            +codeBtn('/Repositories/Single/koreatech/Main1048.java', 'java')
