include ../../../source/skeleton.pug

+post('1060 풀이', 'algorithm, judge.koreatech, 1060', '1060 문제 풀이')
    h1 1060: 팰린드롬 만들기
    div
        p 어떤 단어가 주어졌을 때, 이 단어를 팰린드롬으로 만들기 위해서는 최소 몇개의 글자를 더 추가하면 될까요?
        h2 풀이
        +codeBtn('/Repositories/Single/koreatech/Main1060.java', 'java')
