include ../../../source/skeleton.pug

+post({
    title: 'capo.js',
    description: '<head> 정렬을 도와주는 도구',
    useMath: true,
})

    h1 자료
    ul
        li: +asA('https://github.com/rviscomi/capo.js')

    h1 요약
    ul
        li &lt;head&gt; 내 요소들을 성능에 영향을 미치는 순으로 정렬하여, 페이지 성능을 향상시키는 데 도움을 준다
        +w3img('/imgs/202407/Screenshot 2024-07-24 at 7.07.26 PM.png')
