include ../../source/skeleton.pug
+post('JavaScript Index', '', '')
    table.marker
        caption JavaScript Index
        +ths('내용', '링크')
        tr
            td 코어 JavaScript
            td: +asA('/posts/javascript/basic.html')
        tr
            td 브라우저 JavaScript
            td: +asA('/posts/javascript/basic2.html')
        tr
            td SF; Simplest html Framework
            td: +asA('/posts/project/sf.html')
        tr
            td jQuery
            td: +asA('/posts/javascript/jquery.html')
        tr
            td Node
            td: +asA('/posts/javascript/node.html')
        tr
            td CSS
            td: +asA('/posts/front/css.html')
        tr
            td HTML
            td: +asA('/posts/front/html.html')
        tr
            td HTTP 1.1
            td: +asA('/posts/front/http.html')
