include ../../source/skeleton.jade
+post('Functional Programming', 'Functional Programming', 'Functional Programming 정리')
    h1.marker FP 정의 from 『스칼라로 배우는 함수형 프로그래밍』
    ol
        li Side effect 없는 순수 함수들로 앱을 만드는 것
        li 순수 함수 : 반환값이 입력으로만 결정되는 함수. 입력이 불변하면 반환값도 불변
        li f(x)가 참조에 투명한 모든 x에 대해 참조 투명하면 f는 순수 함수다
        li 참조에 투명하다 : 어떤 표현식을 그 평가 결과로 바꾸어도 의미가 변하지 않는 경우

    h1.marker 용어
    ol
        li Currying; 커링
        p.
            다인자 함수를 일인자 함수들의 체인으로 변경하는 방법;
            다인자 함수를 적은 수의 파라미터로 호출하면 누락된 파라미터를 인자로 받는 함수를 반환
        li Partial Application; 부분 적용, 부분 함수
        p 다인자 함수의 인자들에 기본값을 주어 함수의 인자를 줄이는 방법
        li HOF; higher-order function
        p 고차 함수. 함수를 인자로 받는 함수
        li Fold, Reduce, Accumulate, Aggregate, ...
        p
            | 재귀적 자료형에 대한 연산을 재귀적인 고차 함수로 정의하는 것; 또, 그렇게 정의한 함수
            +codeBtn('/Repositories/Eclipse/Basic/src/io/github/donggi/FoldTest.java', 'java')
