include ../../source/skeleton.jade
+post('Gradle', 'Gradle', 'Gradle 정리')
    h1.marker
        | Gradle 
        +asA('https://docs.gradle.org/current/userguide/userguide.html')
    ol
        li 스크립트를 이용해 유연한 빌드 자동화 툴
        p 스크립트는 Groovy, Kotlin으로 작성 가능
        li 변경이 없는 빌드 절차의 결과를 재사용하여 빠른 빌드 가능

    h1.marker Gradle Wrapper; gradlew
    p Gradle이 설치되지 않았어도, 특정 버전의 Gradle을 자동으로 설치해 이용한다.
