include ../../source/skeleton.jade
+post('Redis', 'Redis', 'Redis 정리')
    h1.marker 참고자료
    ul
        li: +asA('https://redis.io/documentation', '공식 문서')
        li: +asA('https://github.com/redis-essentials/book', 'Redis Essentials')

    h1.marker Redis
    ul
        li 인메모리 저장소 + 물리 장치 백업
        li 메시지 브로커 기능 보유 : Pub/Sub
        li BSD 라이선스
