include ../../source/skeleton.jade
+post('tomcat', 'tomcat', 'tomcat 정리')
    h1.marker 기본 명령어
    ol
        li 실행 : bin\startup.bat
        li 종료 : bin\shotdown.bat
        li webapps
        p webapps 디렉터리의 서브디렉터리들을 웹 애플리케이션 디렉터리라 하며, 각각이 하나의 프로젝트 산출물이라 보면 된다. 기본 웹 애플리케이션 디렉터리는 webapps/ROOT
        li 기본 설치 예제
        p http://localhost:8080/examples/
        li 관리자 페이지
        p http://localhost:8080/manager/html
        li 계정 추가 : conf/tomcat-users.xml 수정
        +asCode('xml') &lt;user username="admin" password="admin" roles="manager-gui,admin-gui"/>
        li JSP 버전 설정
        p conf/web.xml에서 compilerSourceVM, compilerTargetVM 값 변경
        li 애플리케이션 배포 및 취소
        p webapps 디렉터리에 war 파일을 옮기면 자동으로 압축을 푼다. 반대로 삭제하면 자동으로 정리한다. 또는 관리자 페이지의 deploy/undeploy를 이용.

    h1.marker JVM 타임존 설정
    +asCode('shell') -Duser.timezone=Asia/Seoul

    h1.marker 톰캣 JVM 실행 인코딩/문자셋 설정
    ol
        li catalina.bat
        +asCode('bash') set "JAVA_OPTS=%JAVA_OPTS% -Dfile.encoding=UTF-8 -Dfile.client.encoding=UTF-8 -Dclient.encoding.override=UTF-8"
        li catalina.sh
        +asCode('bash') JAVA_OPTS="$JAVA_OPTS -Dfile.encoding=UTF-8 -Dfile.client.encoding=UTF-8 -Dclient.encoding.override=UTF-8"

    h1.marker 톰캣 리모트 디버깅 설정
    ol
        li catalina.bat
        +asCode('bash') set "JAVA_OPTS=-Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,address=*:54433,server=y,suspend=n"
        li catalina.sh
        +asCode('bash') JAVA_OPTS="-Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,address=*:54433,server=y,suspend=n"
        li 허용 서브넷 명시 : address=*:55555, address=0.0.0.0:55555
        li Eclipse - Debug Configuration - Remote Java Application
        +w3img('/imgs/20190731_143749.png')
        +w3img('/imgs/20190731_143815.png')

    h1.marker 서버 URI 인코딩 설정 : conf/server.xml
    +asCode('xml').
        &lt;Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="8443" URIEncoding="UTF-8" />
        &lt;Connector port="8009" protocol="AJP/1.3" redirectPort="8443" URIEncoding="UTF-8" />

    h1.marker 톰캣 utf8 필터 설정 : {APP_NAME}/web.xml
    +asCode('xml').
        &lt;filter>
            &lt;filter-name>setCharacterEncodingFilter&lt;/filter-name>
            &lt;filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter&lt;/filter-class>
            &lt;init-param>
                &lt;param-name>encoding&lt;/param-name>
                &lt;param-value>UTF-8&lt;/param-value>
            &lt;/init-param>
            &lt;async-supported>true&lt;/async-supported>
        &lt;/filter>
        &lt;filter-mapping>
            &lt;filter-name>setCharacterEncodingFilter&lt;/filter-name>
            &lt;url-pattern>/*&lt;/url-pattern>
        &lt;/filter-mapping>
