html
  body
    script(src='/source/redirect.js?200226_1657')
    hr
    details
      summary abstract class SocketFactory Since 1.4
      |     
      ol
        li static SocketFactory getDefault()
        |         
        li Socker createSocket(String host, int port) + 오버로딩
    hr
    details
      summary abstract class ServerSocketFactory Since 1.4
      |     
      ol
        li static ServerSocketFactory getDefault()
        |         
        li ServerSocker createServerSocket(int port) + 오버로딩
    hr
