html
    body
        script(src='/source/redirect.js?200226_1657')
        hr
        details
            summary Collection API
            |     
            details
                summary 컬렉션 자료형 인터페이스
                |         
                details
                    summary interface Collection<E> extends Iterable<E> Since 1.2
                    |             
                    ol
                        li 컬렉션 최소 연산을 정의.
                        |                 
                        li 서브 컬렉션을 작성할 때, 인자없는 생성자와 Collection 인자 하나만 받는 생성자를 각각 작성하도록 권장한다
                        |                 
                        li 정의하지 않아도 되는 선택적 메서드들에 대하여, 구현하지 않는 경우 UnsupportedOperationException을 던져야 한다
                        |                 
                        li 컬렉션이 자기 자신을 요소로 갖는 경우 일부 메서드 실행 중 예외가 발생할 수 있다.
                    |             
                    details
                        summary Method Detail
                        |                 
                        ol
                            li int size()
                            |                     
                            li boolean isEmpty()
                            |                     
                            li boolean add(E e)
                            |                     
                            li boolean addAll(Collection<? extends E> c)
                            |                     
                            li boolean contains(Object o)
                            |                     
                            li boolean containsAll(Collection<?> c)
                            |                     
                            li boolean retainAll(Collection<?> c)
                            |                     c에 속한 원소만 남기고 모두 제거한다. 이 연산으로 컬렉션이 변경됐다면 true 반환.
                            |                     
                            button.btn-code(path='Repositories/Eclipse/JavaSE/src/util/CollectionExample.java', lan='java') 예시 코드 »
                            |                     
                            li boolean remove(Object o)
                            |                     
                            li boolean removeAll(Collection<?> c)
                            |                     
                            li default boolean removeIf(Predicate<? super E> filter) Since 1.8
                            |                     
                            li void clear()
                            |                     
                            li Object[] toArray()
                            |                     
                            li <T> T[] toArray(T[] a)
                            |                     사용 : toArray(new Clazz[0])
                            |                     
                            li default <T> T[] toArray(IntFunction<T[]> generator) Since 11
                            |                     사용 : toArray(Clazz[]::new)
                            |                     
                            li default Stream<E> stream() Since 1.8
                            |                     
                            li default Stream<E> parallelStream() Since 1.8
                |         
                details
                    summary interface Queue<E> extends Collection<E> Since 1.5
                    |             
                    ol
                        li boolean add(E e) : 추가할 수 없으면 예외 발생. 따라서 반환이 있다면 그 값은 항상 true
                        |                 
                        li boolean offer(E e) : 예외 발생하지 않는 add
                        |                 
                        li E remove() : 앞쪽 원소 하나 제거. 없으면 예외.
                        |                 
                        li E poll() : 앞쪽 원소 하나 제거. 없으면 null.
                        |                 
                        li E element() : 앞쪽 원소 하나 제거하지 않고 가져오기. 없으면 예외.
                        |                 
                        li E peek() : 앞쪽 원소 하나 제거하지 않고 가져오기. 없으면 null.
                |         
                details
                    summary interface Deque<E> extends Queue<E> Since 1.6
                    |             
                    ol
                        li 추가 못하면 예외 발생 : void addFirst(E) == push(E), addLast(E)
                        |                 
                        li 추가 못하면 false : boolean offerFirst(E), offerLast(E)
                        |                 
                        li 없으면 예외 발생 : E removeFirst() == pop(), removeLast(), getFirst(), getLast()
                        |                 
                        li 없으면 null : E pollFirst(), pollLast(), peekFirst(), peekLast()
                        |                 
                        li boolean removeFirstOccurrence(Object o) + removeLastOccurrence
                        |                 
                        li Iterator<E> descendingIterator() : iterator()의 역순
                |         
                details
                    summary interface List<E> extends Collection<E> Since 1.2
                    |             
                    ol
                        li boolean addAll(int index, Collection<? extends E> c)
                        |                 
                        li default void replaceAll(UnaryOperator<E> operator) Since 1.8
                        |                 모든 원소를 연산 결과로 대체
                        |                 
                        li default void sort(Comparator<? super E> c) Since 1.8
                        |                 
                        li int hashCode()
                        |                 hashCode = 31*hashCode + (e==null ? 0 : e.hashCode());
                        |                 
                        li E get(int index)
                        |                 
                        li E set(int index, E element) : 이전 값은 반환.
                        |                 
                        li void add(int index, E element)
                        |                 
                        li E remove(int index)
                        |                 
                        li int indexOf(Object o) + lastIndexOf
                        |                 
                        li ListIterator<E> listIterator() + 1 오버로딩
                        |                 
                        li List<E> subList(int fromIndex, int toIndex)
                        |                 
                        li
                            | static <E> List<E> of() Since 9 + 11 오버로딩
                            br
                            |                     static <E> List<E> copyOf(Collection<? extends E> coll) Since 10
                        |                 null 허용하지 않는 변경 불가능한 리스트. 모든 원소가 serializable하면 리스트도 그러하다.
                |         
                details
                    summary interface Set<E> extends Collection<E> Since 1.2
                    |             
                    ol
                        li
                            | static <E> Set<E> of() Since 9 + 11 오버로딩
                            br
                            |                     static <E> Set<E> copyOf(Collection<? extends E> coll) Since 10
                        |                 변경 불가능한 집합을 반환한다. null 원소를 허용하지 않으며, 모든 원소가 serializable하면 집합도 그러하다.
                |         
                details
                    summary interface SortedSet<E> extends Set<E> Since 1.2
                    |             
                    ol
                        li
                            | 원소가 정렬된 Set. 다음 4가지 생성자를 구현할 것을 권장. (void), (Comparator), (Collection), (SortedSet)
                        |                 
                        li Comparator<? super E> comparator()
                        |                 
                        li SortedSet<E> subSet(E fromElement, E toElement) + headSet, tailSet
                        |                 부분집합 반환. toElement는 미포함
                        |                 
                        li E first() + last
                |         
                details
                    summary interface NavigableSet<E> extends SortedSet<E> Since 1.6
                    |             
                    ol
                        li E lower(E e) + floor: <=e, ceiling: >=e, higher: >e
                        |                 e보다 작은 원소들 중 최댓값을 반환. 없으면 null
                        |                 
                        li E pollFirst() + pollLast
                        |                 제거하고 반환
                        |                 
                        li NavigableSet<E> descendingSet()
                        |                 
                        li Iterator<E> descendingIterator()
                        |                 
                        li
                            | NavigableSet<E> subSet(E fromElement, boolean fromInclusive, E toElement, bolean toInclusive) + headSet, tailSet
                |         
                details
                    summary interface Map<K, V> Since 1.2
                    |             
                    details
                        summary static interface Map.Entry<K, V> Since 1.2
                        |                 
                        ol
                            li K getKey() + getValue
                            |                     
                            li V setValue(V value)
                            |                     
                            li
                                | static <K extends Comparable<? super K>, V> Comparator<Map.Entry<K, V>> comparingByKey() Since 1.8 + 1 오버로딩 + comparingByValue
                            |                     키를 자연스러운 순서로 비교하는 비교자 반환. 인자 있는 함수의 경우 해당 비교자를 이용.
                    |             
                    details
                        summary Method Detail
                        |                 
                        ol
                            li Collection과 유사한 메서드는 생략
                            |                     
                            li boolean containsKey(Object key)
                            |                     
                            li boolean containsValue(Object value)
                            |                     
                            li V get(Object key)
                            |                     
                            li
                                | default V getOrDefault(Object key, V defaultValue) Since 1.8
                                button.btn-code(path='Repositories/Eclipse/JavaSE/src/util/MapExample.java', displayrange='[12,16]', lan='java') 예시 코드 »
                            |                     
                            li V put(K key, V value) : 이전 값은 반환된다.
                            |                     
                            li
                                | default V putIfAbsent(K key, V value) Since 1.8
                                button.btn-code(path='Repositories/Eclipse/JavaSE/src/util/MapExample.java', displayrange='[18,24]', lan='java') 예시 코드 »
                            |                     
                            li void putAll(Map<? extends K, ? extends V> m)
                            |                     
                            li
                                | default V compute(K key, BiFunction<? super K, ? super V, ? extends V> remappingFunction) Since 1.8
                                button.btn-code(path='Repositories/Eclipse/JavaSE/src/util/MapExample.java', displayrange='[26,32]', lan='java') 예시 코드 »
                            |                     값을 다시 계산하여 덮어쓴다.
                            |                     
                            li
                                | default V computeIfAbsent(K key, Function<? super K, ? extends V> mappingFunction) Since 1.8 + computeIfPresent
                                button.btn-code(path='Repositories/Eclipse/JavaSE/src/util/MapExample.java', displayrange='[34,56]', lan='java') 예시 코드 »
                            |                     computeIfAbsent : key가 맵에 없거나, 대응하는 값이 null인 경우 새로운 값을 계산하여 넣는다. 계산된 값이 null이면 null 반환. 그 외의 경우 현재값 반환
                            br
                            |                     computeIfPresent : key가 존재하고, 대응하는 값이 null이 아닌 경우 새로운 값을 계산하여 넣는다. 키가 존재하면 현재값 반환. 그 외의 경우 null 반환
                            |                     
                            li
                                | default V replace(K key, V value) Since 1.8 + 1 오버로딩 + replaceAll
                                button.btn-code(path='Repositories/Eclipse/JavaSE/src/util/MapExample.java', displayrange='[58,70]', lan='java') 예시 코드 »
                            |                     key가 있을 때만 대체. 없으면 null 반환
                            |                     
                            li
                                | default V merge(K key, V value, BiFunction<? super V, ? super V, ? extends V> remappingFunction) Since 1.8
                                button.btn-code(path='Repositories/Eclipse/JavaSE/src/util/MapExample.java', displayrange='[72,89]', lan='java') 예시 코드 »
                            |                     
                            ul
                                li key가 맵에 없거나, 대응하는 값이 null인 경우 : null이 아닌 value로 연결.
                                |                         
                                li 주어진 함수를 통해 새로운 값에 연결
                                |                         
                                li 결과가 null인 경우 맵에서 제거.
                            |                     
                            li default boolean remove(Object key, Object value) Since 1.8
                            |                     
                            li Set<K> keySet()
                            |                     
                            li Collection<V> values()
                            |                     
                            li Set<Map.Entry<K, V>> entrySet()
                            |                     
                            li default void forEach(BiConsumer<? super K, ? super V> action) Since 1.8
                            |                     
                            li
                                | static <K, V> Map<K, V> of() Since 9 + 11 오버로딩
                                br
                                |                         @SafeVarargs static <K, V> Map<K, V> ofEntries(Map.Entry<? extends K, ? extends V>... entries) Since 9
                                br
                                |                         static <K, V> Map.Entry<K, V> entry(K k, V v) Since 9
                                br
                                |                         static <K, V> Map<K, V> copyOf(Map<? extends K, ? extends V> map) Since 10
                            |                     변경 불가능한 객체를 반환한다. 변경 불가능한 맵은 키와 값 모두 null을 허용하지 않으며, 모든 키와 값이 serializable하면 맵도 그러하다.
                |         
                details
                    summary interface SortedMap<K, V> extends Map<K, V> Since 1.2
                    |             
                    ol
                        li 키가 정렬된 Map. 다음 4가지 생성자를 구현할 것을 권장. (void), (Comparator), (Map), (SortedMap)
                        |                 
                        li Comparator<? super K> comparator()
                        |                 
                        li SortedMap<K, V> subMap(K fromKey, K toKey) + headMap, tailMap
                        |                 지정된 범위의 키만으로 구성된 서브 맵 반환. toKey는 미포함
                        |                 
                        li K firstKey() + lastKey
                |         
                details
                    summary interface NavigableMap<K, V> extends SortedMap<K, V> Since 1.6
                    |             
                    ol
                        li
                            | Map.Entry<K, V> lowerEntry(K key) + floorEntry: <=key, ceilingEntry: >=key, higherEntry: >key
                        |                 key보다 작은 키들 중 최댓값에 대한 entry 반환. 없으면 null
                        |                 
                        li K lowerKey(K key) + floorKey: <=key, ceilingKey: >=key, higherKey: >key
                        |                 key보다 작은 키들 중 최댓값 반환. 없으면 null
                        |                 
                        li Map.Entry<K, V> firstEntry() + lastEntry, pollFirstEntry, pollLastEntry
                        |                 poll~ : 제거하고 반환
                        |                 
                        li NavigableSet<K> navigableKeySet() + descendingKeySet
                        |                 
                        li NavigableMap<K, V> descendingMap()
                        |                 
                        li
                            | NavigableMap<K, V> subMap(K fromKey, boolean fromInclusive, K toKey, boolean toInclusive) + headMap, tailMap
            |     
            details
                summary 컬렉션 연산 인터페이스
                |         
                details
                    summary interface Enumeration<E> Since 1.0
                    |             
                    ol
                        li boolean hasMoreElements()
                        |                 
                        li E nextElement()
                        |                 
                        li default Iterator<E> asIterator() Since 9
                |         
                details
                    summary interface Iterator<E> Since 1.2
                    |             
                    ol
                        li boolean hasNext()
                        |                 
                        li E next()
                        |                 
                        li default void remove() : 마지막으로 반환된 원소를 제거. next() 호출 뒤 한 번만 호출 가능.
                        |                 
                        li default void forEachRemaining(Consumer<? super E> action) Since 1.8
                |         
                details
                    summary interface ListIterator<E> extends Iterator<E> Since 1.2
                    |             
                    ol
                        li 양방향으로 이동 가능한 iterator.
                        |                 
                        li boolean hasPrevious()
                        |                 
                        li E previous()
                        |                 
                        li int nextIndex() + previousIndex
                        |                 
                        li void set(E e) : 마지막으로 반환된 요소를 변경
                        |                 
                        li void add(E e) : next()로 반환될 요소 바로전에 삽입.
                |         
                details
                    summary interface PrimitiveIterator<T, T_CONS> extends Iterator<T> Since 1.8
                    |             
                    ol
                        li 기본 타입의 박싱을 회피하기 위한 이터레이터를 제공한다
                        |                 
                        li OfInt, OfLong, OfDouble이 제공된다
                    |             
                    details
                        summary
                            | static interface PrimitiveIterator.OfInt extends PrimitiveIterator<Integer, IntConsumer> Since 1.8
                        |                 
                        ol
                            li int nextInt()
                            |                     
                            li default void forEachRemaining(IntConsumer action)
                |         
                details
                    summary interface Spliterator<T> Since 1.8
                    |             
                    ol
                        li
                            | Iterator와 마찬가지로 순회를 위한 기능을 제공한다. Iterator와 달리 병렬 순회가 가능하며, 순회 메서드가 hasNext(), next()로 이분화되지 않는다.
                        |                 
                        li 병렬 순회하려는 경우, 동일 Spliterator 객체를 이용하지 말고, 다른 스레드는 trySplit()을 통해 얻은 객체로 순회해야 한다.
                        |                 
                        li 박싱을 피하기 위한 Spliterator를 제공한다. OfInt, OfLong, OfDouble.
                    |             
                    details
                        summary Field Summary
                        |                 static int CONCURRENT, DISTINCT, IMMUTABLE, NONNULL, ORDERED, SIZED, SORTED, SUBSIZED
                    |             
                    details
                        summary Method Detail
                        |                 
                        ol
                            li boolean tryAdvance(Consumer<? super T> action)
                            |                     남은 원소가 존재하면 하나를 소비하고 true 반환. 그 외엔 false
                            |                     
                            li default void forEachRemaining(Consumer<? super T> action)
                            |                     
                            li Spliterator<T> trySplit()
                            |                     이 spliterator를 분리할 수 있다면, 일부분을 분리하여 반환하고, 이 spliterator는 나머지 원소들을 순회한다. 그 외엔 null
                            |                     
                            li long estimateSize()
                            |                     forEachRemaining() 메서드에서 순회할 원소의 수를 예측하여 반환한다. 무한하거나, 알 수 없거나, 계산하는 연산이 비싼 경우 Long.MAX_VALUE를 반환하면 된다.
                            |                     
                            li default long getExactSizeIfKnown()
                            |                     이 spliterator가 SIZED인 경우 estimateSize()를 반환한다. 그 외엔 -1
                            |                     
                            li int characteristics() + hasCharacteristics
                            |                     이 spliterator의 특징 상수들을 OR로 반환하면 된다.
                            |                     
                            li default Comparator<? super T> getComparator()
                            |                     이 spliterator의 소스가 Comparator를 이용해 정렬된(SORTED) 경우, 해당 Comparator를 반환한다. 그 외엔 null, 또는 IllegalStateException
                    |             
                    details
                        summary
                            | static interface Spliterator.OfInt extends Spliterator.OfPrimitive<Integer, IntConsumer, Spliterator.OfInt> Since 1.8
                        |                 
                        ol
                            li default boolean tryAdvance(Consumer<? super Integer> action) + forEachRemaining
                            |                     action이 IntConsumer 인스턴스면 형변환되어 사용된다.
                |         
                details
                    summary interface RandomAccess Since 1.4
                    |             빠른(보통 상수 시간) 임의 접근이 가능한 List를 나타내는 마커 인터페이스
            |     
            details
                summary 컬렉션 자료형 콘크리트 클래스
                |         
                details
                    summary
                        | static class AbstractMap.SimpleEntry<K, V> implements Map.Entry<K, V>, Serializable Since 1.6
                    |             public SimpleEntry(K key, V value) + 오버로딩
                |         
                details
                    summary
                        | static class AbstractMap.SimpleImmutableEntry<K, V> implements Map.Entry<K, V>, Serializable Since 1.6
                    |             public SimpleImmutableEntry(K key, V value) + 오버로딩
                |         
                details
                    summary
                        | class ArrayDeque<E> extends AbstractCollection<E> implements Deque<E>, Cloneable, Serializable Since 1.6
                    |             
                    ol
                        li 가변 길이 배열로 구현한 Deque. 스레드-안전하지 않음.
                        |                 
                        li public ArrayDeque() + (int numElements), (Collection<? extends E> c)
                |         
                details
                    summary
                        | class ArrayList<E> extends AbstractList<E> implements List<E>, RandomAccess, Cloneable, Serializable Since 1.2
                    |             
                    ol
                        li 가변 길이 배열로 구현한 List. 스레드-안전하지 않음.
                        |                 
                        li public ArrayList() + (int initialCapacity), (Collection<? extends E> c)
                        |                 
                        li void trimToSize() + ensureCapacity
                        |                 이 ArrayList의 capacity를 size에 맞춘다
                |         
                details
                    summary
                        | class Vector<E> extends AbstractList<E> implements List<E>, RandomAccess, Cloneable, Serializable Since 1.0
                    |             
                    ol
                        li
                            | public Vector() + (int initialCapacity), (int initialCapacity, int capacityIncrement), (Collection<? extends E> c) Since 1.2
                        |                 ArrayList와 달리 스레드-안전하다.
                        |                 
                        li void copyInto(Object[] anArray)
                        |                 
                        li void trimToSize()
                        |                 
                        li void setSize(int newSize)
                        |                 
                        li int capacity()
                        |                 
                        li void ensureCapacity(int minCapacity)
                        |                 
                        li Enumeration<E> elements()
                        |                 
                        li int indexOf(Object o, int index) + lastIndexOf
                        |                 
                        li E firstElement() + lastElement
                |         
                details
                    summary class BitSet implements Cloneable, Serializable Since 1.0
                    |             
                    ol
                        li public BitSet() + (int nbits)
                        |                 각 비트의 기본값은 false. 스레드-안전하지 않음.
                        |                 
                        li static BitSet valueOf(long[] longs) Since 1.7 + LongBuffer, byte[], ByteBuffer
                        |                 
                        li byte[] toByteArray() Since 1.7 + toLongArray
                        |                 
                        li boolean get(int bitIndex)
                        |                 
                        li BitSet get(int fromIndex, int toIndex) Since 1.4
                        |                 
                        li void set(int fromIndex, int toIndex, boolean value) Since 1.4 + 3 오버로딩
                        |                 
                        li void clear(int fromIndex, int toIndex) Since 1.4 + 2 오버로딩 == set(~, false)
                        |                 
                        li void flip(int fromIndex, int toIndex) Since 1.4 + 1 오버로딩
                        |                 
                        li
                            | int nextSetBit(int fromIndex) Since 1.4 + nextClearBit, previousSetBit, previousClearBit
                        |                 
                        li void and(BitSet set) + or, xor
                        |                 
                        li void andNot(BitSet set) Since 1.2 : set에 true로 설정된 모든 index에 대해 false 설정
                        |                 
                        li boolean intersects(BitSet set) Since 1.4 : 하나라도 true로 일치하는 경우
                        |                 
                        li boolean imEmpty() Since 1.4
                        |                 
                        li int size() : 총 비트 수
                        |                 
                        li int cardinality() Since 1.4 : true 비트 수
                        |                 
                        li int length() Since 1.7 : the index of the highest set bit
                        |                 
                        li IntStream stream() Since 1.8
                |         
                details
                    summary
                        | class EnumMap<K extends Enum<K>, V> extends AbstractMap<K, V> implements Serializable, Cloneable Since 1.5
                    |             
                    ol
                        li
                            | public EnumMap(Class<K> keyType) + (EnumMap<K, ? extends V> m), (Map<K, ? extends V> m)
                        |                 Enum을 키로 이용.
                |         
                details
                    summary
                        | abstract class EnumSet<E extends Enum<E>> extends AbstractSet<E> implements Cloneable, Serializable Since 1.5
                    |             
                    ol
                        li static <E extends Enum<E>> EnumSet<E> noneOf(Class<E> elementType) : 공집합 반환
                        |                 
                        li static <E extends Enum<E>> EnumSet<E> allOf(Class<E> elementType) : 전체 집합 반환
                        |                 
                        li static <E extends Enum<E>> EnumSet<E> copyOf(Collection<E> c) + 1 오버로딩
                        |                 
                        li static <E extends Enum<E>> EnumSet<E> complementOf(EnumSet<E> s) : 여집합 반환
                        |                 
                        li static <E extends Enum<E>> EnumSet<E> of(E e) + 5 오버로딩
                        |                 
                        li static <E extends Enum<E>> EnumSet<E> range(E from, E to)
                |         
                details
                    summary
                        | class HashMap<K, V> extends AbstractMap<K, V> implements Map<K, V>, Cloneable, Serializable Since 1.2
                    |             
                    ol
                        li
                            | public HashMap() + (int initialCapacity), (int initialCapacity, float loadFactor), (Map<? extends K, ? extends V> m)
                        |                 스레드-안전하지 않음.
                |         
                details
                    summary
                        | class HashSet<E> extends AbstractSet<E> implements Set<E>, Cloneable, Serializable Since 1.2
                    |             
                    ol
                        li
                            | public HashSet() + (int initialCapacity), (int initialCapacity, float loadFactor), (Collection<? extends E> c)
                        |                 스레드-안전하지 않음.
                |         
                details
                    summary
                        | class IdentityHashMap<K, V> extends AbstractMap<K, V> implements Map<K, V>, Serializable, Cloneable Since 1.4
                    |             
                    ol
                        li
                            | public IdentityHashMap() + (int expectedMaxSize), (Map<? extends K, ? extends V> m)
                        |                 스레드-안전하지 않다. 일반적으로 (k1==null ? k2==null : k1.equals(k2))로 키를 비교하는 것과 달리 (k1==k2)로 비교한다.
                        br
                        |                 keySet()으로 반환되는 Set<K>, values()로 반환되는 Collection<V>, entrySet()으로 반환되는 Set<Map.Entry<K, V>> 모두 원소의 비교를 == 연산으로 한다.
                |         
                details
                    summary
                        | class LinkedList<E> entends AbstractSequentialList<E> implements List<E>, Deque<E>, Cloneable, Serializable Since 1.2
                    |             
                    ol
                        li public LinkedList() + (Collection<? extends E> c)
                        |                 List와 Deque을 모두 구현. 스레드-안전하지 않음.
                |         
                details
                    summary class LinkedHashMap<K, V> extends HashMap<K, V> implements Map<K, V> Since 1.4
                    |             
                    ol
                        li
                            | public LinkedHashMap() + (int initialCapacity), (int initialCapacity, float loadFactor), (Map<? extends K, ? extends V> m)
                        |                 키가 삽입된 순서대로 원소를 유지하는 이중 연결 리스트를 가진다. 키가 존재하는 상황에서 put() 호출로 순서가 변경되지 않는다. 스레드-안전하지 않다.
                        |                 
                        li public LinkedHashMap(int initialCapacity, float loadFactor, boolean accessOrder)
                        |                 accessOrder == true ? 접근 빈도로 정렬 : 삽입 순서로 정렬
                |         
                details
                    summary
                        | class LinkedHashSet extends HashSet<E> implements Set<E>, Cloneable, Serializable Since 1.4
                    |             
                    ol
                        li
                            | pulbic LinkedHashSet() + (int initialCapacity), (int initialCapacity, float loadFactor), (Collection<? extends E> c)
                        |                 삽입된 순서대로 원소를 유지하는 이중 연결 리스트를 가진다. 원소가 존재하는 상황에서 add() 호출로 순서가 변경되지 않는다. 스레드-안전하지 않다.
                |         
                details
                    summary
                        | class PriorityQueue<E> extends AbstractQueue<E> implements Serializable Since 1.5
                    |             
                    ol
                        li
                            | public PriorityQueue() + (int initialCapacity), (Comparator<? super E> comparator) Since 1.8, (int initialCapacity, Comparator<? super E> comparator), (Collection<? extends E> c), (PriorityQueue<? extends E> c) : c와 정렬 방향 같음, (SortedSet<? extends E> c) : c와 정렬 방향 같음
                        |                 우선순위 힙에 기반한 unbounded 우선순위 큐. head가 가장 우선순위가 작은 원소.
                        |                 
                        li Comparator<? super E> comparator()
                |         
                details
                    summary class Stack<E> extends Vector<E> Since 1.0
                    |             
                    ol
                        li public Stack()
                        |                 LIFO 스택.
                        |                 
                        li E push(E item) + pop, peek
                        |                 
                        li boolean empty() : 비었는지 여부
                        |                 
                        li int search(Object o) : top으로부터 거리 반환
                |         
                details
                    summary
                        | class TreeMap<K, V> extends AbstractMap<K, V> implements NavigableMap<K, V>, Cloneable, Serializable Since 1.2
                    |             
                    ol
                        li
                            | public TreeMap() + (Comparator<? super K> comparator), (Map<? extends K, ? extends V> m), (SortedMap<K, ? extends V> m)
                        |                 Red-Black tree(이진 탐색 트리의 일종) 기반의 NavigableMap 구현. log(n) 시간의 작업을 보장한다. 스레드-안전하지 않다.
                |         
                details
                    summary
                        | class TreeSet<E> extends AbstractSet<E> implements NavigableSet<E>, Cloneable, Serializable Since 1.2
                    |             
                    ol
                        li
                            | public TreeSet() + (Comparator<? super E> comparator), (Collection<? extends E> c), (SortedSet<E> s)
                        |                 TreeMap 기반의 NavigableSet 구현. 스레드-안전하지 않다.
                |         
                details
                    summary class WeakHashMap<K, V> extends AbstractMap<K, V> implements Map<K, V> Since 1.2
                    |             
                    ol
                        li
                            | public WeakHashMap() + (int initialCapacity), (int initialCapacity, float loadFactor), (Map<? extends K, ? extends V> m) Since 1.3
                        |                 key의 존재 여부는 key가 GC 대상이 되는 것에 영향이 없다. key 객체가 유효하지 않게 되면 자동으로 맵에서 삭제한다. key, value 모두에 null을 허용한다. 단, value가 key의 참조를 가지지 않도록 유의해야 한다. 스레드-안전하지 않다.
            |     
            details
                summary 유틸리티 클래스
                |         
                details
                    summary class Collections Since 1.2
                    |             
                    details
                        summary 필드
                        |                 
                        ul
                            li public static final Set EMPTY_SET : 변경 불가
                            |                     
                            li public static final List EMPTY_LIST : 변경 불가
                            |                     
                            li public static final Map EMPTY_MAP Since 1.3 : 변경 불가
                    |             
                    details
                        summary 리스트 연산
                        |                 
                        ul
                            li static <T extends Comparable<? super T>> void sort(List<T> list) + 1 오버로딩
                            |                     T 자체가 Comparable하거나, T에 대한 Comparator를 넘기거나
                            |                     
                            li
                                | static <T> int binarySearch(List<? extends Comparable<? super T>> list, T key) + 1 오버로딩
                            |                     
                            li
                                | static void reverse(List<?> list) + shuffle, swap Since 1.4, fill, rotate Since 1.4
                            |                     
                            li static <T> void copy(List<? super T> dest, List<? extends T> src)
                            |                     
                            li static <T> boolean replaceAll(List<T> list, T oldVal, T newVal) Since 1.4
                            |                     
                            li
                                | static int indexOfSubList(List<?> source, List<?> target) Since 1.4 + lastIndexOfSubList
                            |                     
                            li static <T> ArrayList<T> list(Enumeration<T> e) Since 1.4
                    |             
                    details
                        summary Collection 연산
                        |                 
                        ul
                            li
                                | static <T extends Object & Comparable<? super T>> T min(Collection<? extends T> coll) + 1 오버로딩, max
                            |                     
                            li static int frequency(Collection<?> c, Object o) Since 1.5
                            |                     
                            li
                                | static boolean disjoint(Collection<?> c1, Collection<?> c2) Since 1.5 : 공통 원소가 없는지 여부.
                            |                     
                            li static <T> boolean addAll(Collection<? super T> c, T... elements) Since 1.5
                    |             
                    details
                        summary 변경 불가능한 Collection Factory
                        |                 
                        ul
                            li static <T> Collection<T> unmodifiableCollection(Collection<? extends T> c)
                            |                     
                            li static <T> Set<T> unmodifiableSet(Set<? extends T> s)
                            |                     
                            li static <T> SortedSet<T> unmodifiableSortedSet(SortedSet<T> s)
                            |                     
                            li static <T> NavigableSet<T> unmodifiableNavigableSet(NavigableSet<T> s) Since 1.8
                            |                     
                            li static <T> List<T> unmodifiableList(List<? extends T> list)
                            |                     
                            li static <K, V> Map<K, V> unmodifiableMap(Map<? extends K, ? extends V> m)
                            |                     
                            li static <K, V> SortedMap<K, V> unmodifiableSortedMap(SortedMap<K, ? extends V> m)
                            |                     
                            li
                                | static <K, V> NavigableMap<K, V> unmodifiableNavigableMap(NavigableMap<K, ? extends V> m) Since 1.8
                    |             
                    details
                        summary Synchronization
                        |                 
                        ul
                            li 비결정 상태에 빠지는 것을 방지하기 위해, 반환된 컬렉션에 대해 synchronized 제약을 걸고 이용하는 것이 좋다.
                            |                     
                            li static <T> Collection<T> synchronizedCollection(Collection<T> c)
                            |                     
                            li static <T> Set<T> synchronizedSet(Set<T> s)
                            |                     
                            li static <T> SortedSet<T> sychronizedSortedSet(SortedSet<T> s)
                            |                     
                            li
                                | static <T> NavigableSet<T> synchronizedNavigableSet(NavigableSet<T&bt; s) Since 1.8
                            |                     
                            li static <T> List<T> synchronizedList(List<T> list)
                            |                     
                            li static <K, V> Map<K, V> synchronizedMap(Map<K, V> m)
                            |                     
                            li static <K, V> SortedMap<K, V> synchronizedSortedMap(SortedMap<K, V> m)
                            |                     
                            li
                                | static <K, V> NavigableMap<K, V> synchronizedNavigableMap(NavigableMap<K, V> m) Since 1.8
                    |             
                    details
                        summary 타입 체킹 추가
                        |                 
                        ul
                            li
                                | static <E> Collection<E> checkedCollection(Collection<E> c, Class<E> type) Since 1.5
                            |                     
                            li static <E> Queue<E> checkedQueue(Queue<E>, Class<E> type) Since 1.8
                            |                     
                            li static <E> Set<E> checkedSet(Set<E> s, Class<E> type) Since 1.5
                            |                     
                            li
                                | static <E> SortedSet<E> checkedSortedSet(SortedSet<E> s, Class<E> type) Since 1.5
                            |                     
                            li
                                | static <E> NavigableSet<E> checkedNavigableSet(NavigableSet<E> s, Class<E> type) Since 1.8
                            |                     
                            li static <E< List<E> checkedList(List<E> list, Class<E> type) Since 1.5
                            |                     
                            li
                                | static <K, V> Map<K, V> checkedMap(Map<K, V> m, Class<K> keyType, Class<V> valueType) Since 1.5
                            |                     
                            li
                                | static <K, V> sortedMap<K, V> checkedSortedMap(SortedMap<K, V> m, Class<K> keyType, Class<V> valueType) Since 1.5
                            |                     
                            li
                                | static <K, V> NavigableMap<K, V> checkedNavigableMap(NavigableMap<K, V> m, Class<K> keyType, Class<V> valueType) Since 1.8
                    |             
                    details
                        summary Empty Collection(변경 불가)
                        |                 
                        ul
                            li static <T> Iterator<T> emptyIterator() Since 1.7
                            |                     
                            li static <T> ListIterator<T> emptyListIterator() Since 1.7
                            |                     
                            li static <T> Enumeration<T> emptyEnumeration() Since 1.7
                            |                     
                            li static final <T> Set<T> emptySet() Since 1.5
                            |                     
                            li static <E> SortedSet<E> emptySortedSet() Since 1.8
                            |                     
                            li static <E> NavigableSet<E> emptyNavigableSet() Since 1.8
                            |                     
                            li static final <T> List<T> emptyList() Since 1.5
                            |                     
                            li static final <K, V> Map<K, V> emptyMap() Since 1.5
                            |                     
                            li static final <K, V> SortedMap<K, V> emptySortedMap() Since 1.8
                            |                     
                            li static final <K, V> NavigableMap<K, V> emptyNavigableMap() Since 1.8
                    |             
                    details
                        summary Singleton Collection(변경 불가)
                        |                 
                        ul
                            li static <T> Set<T> singleton(T o)
                            |                     
                            li static <T> List<T> singletonList(T o) Since 1.3
                            |                     
                            li static <K, V> Map<K, V> singletonMap(K key, V value) Since 1.3
                            |                     
                            li static <T> List<T> nCopies(int n, T o)
                    |             
                    details
                        summary 기타
                        |                 
                        ul
                            li static <T> Comparator<T> reverseOrder()
                            |                     자연스러운 비교자의 역 반환.
                            |                     
                            li static <T> Comparator<T> reverseOrder(Comparator<T> cmp) Since 1.5
                            |                     
                            li static <T> Enumeration<T> enumeration(Collection<T> c)
                            |                     
                            li static <E> Set<E> newSetFromMap(Map<E, Boolean< map) Since 1.6
                            |                     map은 반드시 비어있어야 하며, 호출 뒤 map을 직접 접근하지 말아야 한다.
                            |                     
                            li static <T> Queue<T> asLifoQueue(Deque<T> deque) Since 1.6
                            |                     deque에 대한 LIFO view를 Queue로 반환한다.
                |         
                details
                    summary final class Spliterators Since 1.8
                    |             
                    details
                        summary
                            | abstract static class Spliterators.AbstractSpliterator<T> implements Spliterator<T> Since 1.8
                        |                 
                        ol
                            li estimateSize(), characteristics(), trySplit()을 구현한 추상 클래스
                            |                     
                            li + AbstractIntSpliterator, AbstractDoubleSpliterator, AbstractLongSpliterator
                    |             
                    details
                        summary Method Detail
                        |                 
                        ol
                            li static <T> Spliterator<T> emptySpliterator()
                            |                     + emptyIntSpliterator, emptyLongSpliterator, emptyDoubleSpliterator
                            |                     
                            li
                                | static <T> Spliterator<T> spliterator(Object[] array, int additionalCharacteristics) + 12 오버로딩
                            |                     Arrays.spliterator()가 제공하는 것에 특성을 추가하고 싶을 때 사용. 전형적으로 IMMUTABLE, ORDERED
                            |                     
                            li
                                | static <T> Spliterator<T> spliteratorUnknownSize(Iterator<? extends T> iterator, int characteristics) + 3 오버로딩
                            |                     Spliterator로 래핑한 후에 iterator를 사용하면 안 된다.
                            |                     
                            li static <T> Iterator<T> iterator(Spliterator<? extends T> spliterator) + 3 오버로딩
                            |                     Iterator로 래핑한 후에 spliterator를 사용하면 안 된다.
        hr
        details
            summary 객체, 배열 관련
            |     
            details
                summary @FunctionalInterface interface Comparator<T> Since 1.2
                |         
                ol
                    li int compare(T o1, T o2)
                    |             
                    li default Comparator<T> reversed() Since 1.8
                    |             
                    li
                        | default Comparator<T> thenComparing(Comparator<? super T> other) Since 1.8 + 2 오버로딩 + thenComparingInt, Long, Double
                    |             이 비교자가 두 객체를 같다고 판단하면, other가 새로 판단한다.
                    |             
                    li
                        | static <T extends Comparable<? super T>> Comparator<T> naturalOrder() Since 1.8 + reverseOrder
                    |             자연스러운 비교자를 반환한다.
                    |             
                    li
                        | static <T> Comparator<T> nullsFirst(Comparator<? super T> comparator) Since 1.8 + nullsLast
                    |             null은 모든 non-null 값보다 작다고 간주한다. null끼리는 서로 같다고 간주한다.
                    |             
                    li
                        | static <T, U> Comparator<T> comparing(Function<? super T, ? extends U> keyExtractor, Comparator<? super U> keyComparator) Since 1.8 + 1 오버로딩 + comparingInt, Long, Double
                    |             정렬에 이용할 키를 생성하는 함수와, 키를 이용해 비교하는 비교자를 넘기면 둘을 포함하는 T타입 비교자를 반환.
            |     
            details
                summary class Arrays Since 1.2
                |         
                details
                    summary 정렬, 검색
                    |             
                    ol
                        li static void sort(int[] a) + 17 오버로딩
                        |                 
                        li static void parallelSort(byte[] a) Since 1.8 + 17 오버로딩
                        |                 병합 정렬을 병렬로 수행한다. 모든 병렬 작업은 ForkJoin common pool을 이용해 이루어진다.
                        |                 
                        li static int binarySearch(long[] a, long key) + 17 오버로딩
                |         
                details
                    summary 변경, 변환
                    |             
                    ol
                        li static void fill(long[] a, long val) + 17 오버로딩
                        |                 
                        li
                            | static <T> void setAll(T[] array, IntFunction<? extends T> generator) Since 1.8 + 3 오버로딩
                        |                 
                        li
                            | static <T> void parallelSetAll(T[] array, IntFunction<? extends T> generator) SInce 1.8 + 3 오버로딩
                        |                 
                        li
                            | static <T> void parallelPrefix(T[] array, BinaryOperator<T> op) Since 1.8 + 7 오버로딩
                        |                 전체 원소에 순차적으로 연산 적용하여 값 변경. 큰 배열은 루프보다 이게 더 빠르다.
                        |                 
                        li static String toString(long[] a) Since 1.5 + 8 오버로딩
                        |                 
                        li static String deepToString(Object[] a) Since 1.5
                        |                 toString(Object[])이 o.toString()을 이용하는 반면, 여기서는 String.valueOf(Object)가 이용되고, 원소가 배열인 경우 "[]"를 추가하고 해당 배열의 원소들에 대해 같은 작업을 한다.
                        |                 
                        li static <T> List<T> asList(T... a)
                        |                 
                        li static <T> Spliterator<T> spliterator(T[] array) Since 1.8 + 7 오버로딩
                        |                 characteristics()에서 SIZED | SUBSIZED | ORDERED | IMMUTABLE를 반환하는 Spliterator 인스턴스를 반환한다.
                        |                 
                        li static <T> Stream<T> stream(T[] array) Since 1.8 + 7 오버로딩
                |         
                details
                    summary 복사
                    |             
                    ol
                        li
                            | static <T, U> T[] copyOf(U[] original, int newLength, Class<? extends T[]> newType) Since 1.6
                        |                 
                        li static <T> T[] copyOf(T[] original, int newLength) Since 1.6 + 8 오버로딩
                        |                 
                        li
                            | static <T, U> T[] copyOfRange(U[] original, int from, int to, Class<? extends T[]> newType) Since 1.6
                        |                 
                        li static <T> T[] copyOfRange(T[] original, int from, int to) Since 1.6 + 8 오버로딩
                |         
                details
                    summary 비교
                    |             
                    ol
                        li static int compare(boolean[] a, boolean[] b) Since 9 + 19 오버로딩
                        |                 
                        li static int compareUnsigned(byte[] a, byte[] b) Since 9 + 7 오버로딩
                        |                 
                        li static int mismatch(boolean[] a, boolean[] b) Since 9 + 19 오버로딩
                        |                 처음으로 일치하지 않는 인덱스 반환.
                        |                 
                        li static boolean equals(long[] a, long[] a2) + 9 오버로딩
                        |                 
                        li
                            | static boolean equals(long[] a, int aFromIndex, int aToIndex, long[] b, int bFromIndex, int bToIndex) Since 9 + 9 오버로딩
                        |                 Object의 경우, Objects.equals(e1, e2)일 때 같다고 간주한다.
                        |                 
                        li static boolean deepEquals(Object[] a1, Object[] a2) Since 1.5
                        |                 null일 수 있는 각 배열의 두 원소 e1, e2에 대하여, 다음 4가지 경우에 대해 둘이 같다고 판단한다.
                        |                 
                        ol
                            li e1 == e2
                            |                     
                            li 둘 모두 참조변수에 대한 배열이고, Arrays.deepEquals(e1, e2)가 true
                            |                     
                            li 둘 모두 원시타입에 대한 배열이고, Arrays.equals(e1, e2)가 true
                            |                     
                            li e1.equals(e2)가 true
                |         
                details
                    summary 해싱
                    |             
                    ol
                        li static int hashCode(long[] a) Since 1.5 + 8 오버로딩
                        |                 동일 원소를 가진 List의 해시코드와 동일. null이면 0 반환
                        |                 
                        li static int deepHashCode(Object[] a) Since 1.5
                        |                 원소가 배열인 경우, 해당 원소의 해시를 deepHashCode로 구한다. 자기 자신을 포함하는 배열 등은 적합하지 않다.
            |     
            details
                summary final class Objects Since 1.7
                |         
                details
                    summary 비교
                    |             
                    ul
                        li static boolean equals(Object a, Object b)
                        |                 
                        li static boolean deepEquals(Object a, Object b)
                        |                 둘 다 null이면 true. 둘 다 배열이면 Arrays.deepEquals(), 나머진 a.equals(b)
                        |                 
                        li static <T> int compare(T a, T b, Comparator<? super T> c)
                |         
                details
                    summary hashCode
                    |             
                    ul
                        li static int hashCode(Object o)
                        |                 
                        li static int hash(Object... values)
                        |                 values가 하나의 배열에 든 것처럼 Arrays.hashCode(Object[])를 이용한다. Object.hashCode()의 간편한 구현으로 이용할 수 있다.
                        br
                        |                 
                        strong 주의. hashCode(o) != hash(o)
                |         
                details
                    summary toString
                    |             
                    ul
                        li static String toString(Object o)
                        |                 
                        li static String toString(Object o, String nullDefault)
                |         
                details
                    summary null
                    |             
                    ul
                        li static boolean isNull(Object obj) Since 1.8 + nonNull
                        |                 Predicate, filter(Objects::isNull)에 이용
                        |                 
                        li static <T> T requireNonNull(T obj) + 2 오버로딩
                        |                 메서드나 생성자에서 null검사를 하도록 설계되었다.
                        |                 
                        li static <T> T requireNonNullElse(T obj, T defaultObj) Since 9
                        |                 
                        li
                            | static <T> T requireNonNullElseGet(T obj, Supplier<? extends T> supplier) Since 9
                |         
                details
                    summary index
                    |             
                    ul
                        li static int checkIndex(int index, int length) Since 9
                        |                 index가 [0, length)에 존재하면 그대로 반환. 아니면 예외 발생.
                        |                 
                        li static int checkFromToIndex(int fromIndex, int toIndex, int length) Since 9
                        |                 subrange [fromIndex, toIndex)가 [0, length)에 포함되면 fromIndex 반환. 아니면 예외 발생.
                        |                 
                        li static int checkFromIndexSize(int fromIndex, int size, int length) Since 9
                        |                 subrange [fromIndex, fromIndex + size)가 [0, length)에 포함되면 fromIndex 반환. 아니면 예외 발생.
            |     
            details
                summary final class Optional<T> Since 1.8 + OptionalInt, OptionalDouble, OptionalLong
                |         
                ol
                    li
                        | static <T> Optional<T> empty()
                        br
                        |                 static <T> Optional<T> of(T value)
                        br
                        |                 static <T> Optional<T> ofNullable(T value) : null이면 empty(), 아니면 of(value)
                    |                 null을 허용하지 않는 객체에 대한 컨테이너. value-based므로 identity-sensitive한 연산은 피해야 한다.
                    |             
                    li T get()
                    |             
                    li boolean isPresent() + isEmpty Since 11
                    |             
                    li void ifPresent(Consumer<? super T> action)
                    |             
                    li void ifPresentOrElse(Consumer<? super T> action, Runnable emptyAction) Since 9
                    |             
                    li
                        | Optional<T> filter(Predicate<? super T> predicate) : 값이 존재하고 필터를 통과하면 그대로 반환. 아니면 빈 컨테이너 반환
                    |             
                    li <U> Optional<U> map(Function<? super T, ? extends U> mapper)
                    |             
                    li
                        | <U> Optional<U> flatMap(Function<? super T, ? extends Optional<? extends U>> mapper)
                    |             mapper가 반환하는 값 자체가 Optional이므로 map()과 달리 추가적인 Optional로 감싸지 않는다.
                    |             
                    li Optional<T> or(Supplier<? extends Optional<? extends T>> supplier) Since 9
                    |             값이 존재하면 그대로 반환. 없으면 제공되는 값 반환.
                    |             
                    li T orElse(T other)
                    |             
                    li T orElseGet(Supplier<? extends T> supplier)
                    |             
                    li T orELseThrow() Since 10 : 값이 없으면 NoSuchElementException + 1 오버로딩
                    |             
                    li Stream<T> stream() Since 9
                    |             값이 존재하면 해당 값 하나만 포함하는 스트림 반환. 없으면 빈 스트림 반환.
        hr
        details
            summary 시간 관련
            |     
            details
                summary class Date implements Serializable, Cloneable, Comparable<Date> Since 1.0
                |         
                ol
                    li public Date() + (long date)
                    |             
                    li long getTime() + setTime
                    |             
                    li boolean before(Date when) + after
                    |             
                    li static Date from(Instant instant) Since 1.8 + toInstant
            |     
            details
                summary
                    | abstract class Calendar implements Serializable, Cloneable, Comparable<Calendar> Since 1.1
                |         
                ol
                    li 관대함 Leniency : 범위를 벗어나는 값도 받아들이며, 나중에 정규화한다. 예를 들어 1월 32일은 2월 1일이 된다.
                    |             
                    li add와 roll : add는 오버플로되면 다음 단위가 변하지만, roll은 modulo연산처럼 해당 단위만 변한다.
                |         
                details
                    summary static class Calendar.Builder Since 1.8
                    |             
                    ul
                        li public Builder()
                    |             
                    ol
                        li Calendar.Builder setInstant(long instant) : 밀리초 + 1 오버로딩
                        |                 
                        li Calendar.Builder set(int field, int value)
                        |                 
                        li Calendar.Builder setFields(int... fieldValuePairs)
                        |                 예: setFields(Calendar.YEAR, 2013, Calendar.MONTH, Calendar.DECEMBER, Calendar.DAY_OF_MONTH, 23)
                        |                 
                        li Calendar.Builder setDate(int year, int month, int dayOfMonth)
                        |                 
                        li Calendar.Builder setWeekDate(int weekYear, int weekOfYear, int dayOfWeek)
                        |                 
                        li Calendar.Builder setTimeOfDay(int hourOfDay, int minute, int second) + 1 오버로딩
                        |                 
                        li Calendar.Builder setTimeZone(TimeZone zone)
                        |                 
                        li
                            | Calendar.Builder setCalendarType(String type) : Calendar.getAvailableCalendarTypes()
                        |                 
                        li Calendar.Builder setLocale(Locale locale)
                        |                 
                        li
                            | Calendar.Builder setWeekDefinition(int fistDayOfWeek, int minimalDaysInFirstWeek)
                        |                 
                        li Calendar.Builder setLenient(boolean lenient) : build()에서 사용된다
                    |             
                    ul
                        li Calendar build()
                |         
                details
                    summary Field Detail
                    |             
                    ol
                        li 시간 단위
                        |                 public static final int ERA, YEAR, MONTH, WEEK_OF_YEAR, WEEK_OF_MONTH_, DATE, ...
                        |                 
                        li 단위 개수
                        |                 public static final int FIELD_COUNT
                        |                 
                        li 단위 상수
                        |                 public static final int SUNDAY, ..., JANUARY, ...AM, PM
                        |                 
                        li 스타일
                        |                 public static final int ALL_STYLES, SHORT, LONG, NARROW_FORMAT, ...
                |         
                details
                    summary Method Detail
                    |             
                    ol
                        li static Calendar getInstance() + 3 오버로딩
                        |                 
                        li static Locale[] getAvailableLocales()
                        |                 
                        li static Set<String> getAvailableCalendarTypes() Since 1.8
                        |                 
                        li boolean equals(Object obj) + after, before
                        |                 
                        li final Date getTime() + setTime
                        |                 
                        li long getTimeInMillis() + setTimeInMillis
                        |                 
                        li int get(int field) + set
                        |                 
                        li abstract void add(int field, int amount)
                        |                 
                        li abstract void roll(int field, boolean up) : 1 기본단위만큼 up/down
                        |                 
                        li void roll(int field, int amount) Since 1.2
                        |                 
                        li final void clear() + 1 오버로딩 : 설정 취소. isSet()이 false를 반환
                        |                 
                        li final boolean isSet(int field)
                        |                 
                        li String getDisplayName(int field, int style, Locale locale) Since 1.6 + 1 오버로딩
                        |                 
                        li String getCalendarType() Since 1.8
                        |                 
                        li TimeZone getTimeZone() + setTimeZone
                        |                 
                        li boolean isLenient() + setLenient
                        |                 
                        li int getFirstDayOfWeek() + setFirstDayOfWeek
                        |                 
                        li int getMinimalDaysInFirstWeek() + setMinimalDaysInFirstWeek
                        |                 첫 주의 시작이 1월 1일인 경우 1, 그 외의 경우 7
                        |                 
                        li boolean isWeekDateSupported() Since 1.7 : default false
                        |                 getWeekYear(), setWeekDate(int,int,int), getWeeksInWeekYear() 등을 지원하는지 여부.
            |     
            details
                summary class GregorianCalendar extends Calendar Since 1.1
                |         
                ol
                    li GregorianCalendar는 아래 메서드를 지원한다.
                    |             
                    li int getWeekYear() Since 1.7
                    |             
                    li void setWeekDate(int weekYear, int weekOfYear, int dayOfWeek) Since 1.7
                    |             
                    li int getWeeksInWeekYear()
                    |             
                    li final Instant toInstant() Since 1.8
                    |             
                    li int getActualMaximum(int field)
                    |             
                    li int getActualMinimum(int field)
            |     
            details
                summary class Timer Since 1.3
                |         
                ol
                    li
                        | 백그라운드 스레드에서 미래에 실행될 작업들을 스케쥴링하는 기능을 제공한다. 작업은 일회용일수도, 일정한 주기를 가지고 반복될 수도 있다. 한 타이머의 모든 작업들은 하나의 백그라운드 스레드를 공유하기 때문에, 작업의 실행은 직렬적이며, 따라서 각 작업들은 가능한 한 빠르게 종료되어야 한다. 그렇지 않은 경우, 뒤에 대기하는 모든 작업이 밀려 제대로 실행되지 않을 수 있다.
                    |             스레드-안전하다. 정시성을 보장하지 않는다. 스케쥴은 Object.wait(long) 메서드를 통해 이루어진다. java.util.concurrent 패키지의 ScheduledThreadPoolExecutor가 더 나은 대안으로 이용될 수 있다.
                    |             
                    li
                        | 기본적으로 타이머의 백그라운드 스레드는 데몬 스레드가 아니다. 따라서 타이머의 작업이 전체 프로그램의 종료를 지연시킬 수 있다. 백그라운드 스레드는 타이머 임의의 생성자에 의해 시작된다.
                |         
                details
                    summary Constructor Detail
                    |             
                    ol
                        li public Timer()
                        |                 
                        li public Timer(boolean isDaemon)
                        |                 
                        li public Timer(String name) Since 1.5
                        |                 
                        li public Timer(String name, boolean isDaemon) Since 1.5
                |         
                details
                    summary Method Detail
                    |             
                    ol
                        li void schedule(TimerTask task, long delay)
                        |                 delay밀리초 이후 task가 실행되도록 스케쥴.
                        |                 
                        li void schedule(TimerTask task, Date time)
                        |                 time에 task가 실행되도록 스케쥴. time이 과거라면 즉시 실행
                        |                 
                        li void schedule(TimerTask task, long delay, long period)
                        |                 delay밀리초 이후 period 주기를 갖고 task가 실행되도록 스케쥴.
                        |                 
                        li void schedule(TimerTask task, Date firstTime, long period)
                        |                 firstTime 이후 period 주기를 갖고 task가 실행되도록 스케쥴.
                        |                 
                        li void scheduleAtFixedRate(TimerTask task, long delay, long period) + 1 오버로딩
                        |                 period가 이전 task 종료가 아닌 최초 실행 시점을 기준으로 작동한다. 따라서 어떤 이유로 이전 작업이 지연된 경우, 시간당 작업률을 맞추기 위해 이후 작업이 연속적으로 실행될 수 있다.
                        |                 
                        li void cancel()
                        |                 타이머를 종료한다. 스케쥴된 모든 작업을 버리고, 현재 실행중인 작업에는 간섭하지 않는다. 타이머 종료 후 백그라운드 스레드도 우아하게 종료되어 GC 대상이 된다. 이후 더 이상의 스케쥴은 불가능하다.
                        |                 
                        li int purge() Since 1.5
                        |                 호출할 일이 거의 없는 메서드. 많은 작업을 한번에 취소한 경우, 취소한 작업들을 제거하여 참조가 없는 경우 GC 대상이 되도록 한다.
            |     
            details
                summary abstract class TimerTask implements Runnable Since 1.3
                |         
                ol
                    li Timer 작업으로 사용하기 위한 Runnable
                |         
                details
                    summary Method Detail
                    |             
                    ol
                        li boolean cancel()
                        |                 
                        ul
                            li 작업을 취소한다.
                            |                     
                            li 작업이 1회용으로 스케쥴되었지만 아직 실행되지 않은 경우, 또는 아직 스케쥴되지 않은 경우 작업은 결코 실행되지 않는다.
                            |                     
                            li 반복 작업으로 스케쥴된 경우, 작업은 결코 반복되지 않는다.
                            |                     
                            li 작업 도중에 호출된 경우, 작업은 마무리까지 실행된다.
                            |                     
                            li 반복 호출 가능하며 2회째 호출부터는 아무런 영향이 없다.
                            |                     
                            li true 반환 : 1회용으로 스케쥴되었지만 아직 실행되지 않은 경우, 반복 작업으로 스케쥴된 경우
                            |                     
                            li false 반환 : 1회용으로 스케쥴되어 이미 실행된 경우, 아직 스케쥴되지 않은 경우, 이미 취소된 경우
                        |                 
                        li long scheduledExecutionTime()
                        |                 가장 최근에 스케쥴된 ─ 또한 실제로 실행된 ─ 시점을 반환한다. 전형적으로 run 메서드에서, 작업이 너무 길어지는 것을 방지하기 위해 사용된다.
        hr
        details
            summary 숫자 관련
            |     
            details
                summary
                    | class DoubleSummaryStatistics implements DoubleConsumer Since 1.8 + IntSummaryStatistics, LongSummaryStatistics
                |         
                ol
                    li double에 관한 통계를 모은 상태 객체. 스트림과 함께 사용되도록 설계되었다.
                    |             예. var stats = doubleStream.collect(DoubleSummaryStatistics::new, DoubleSummaryStatistics::accept, DoubleSummaryStatistics::combine);
                    br
                    |             예. var stats = people.stream().collect(Collectors.summarizingDouble(Person::getWeight));
                    |             
                    li
                        | DoubleSummaryStatistics() + (long count, double min, double max, double sum) Since 10
                    |             갯수 0, 합계 0, 최솟값 Double.POSITIVE_INFINITY, 최댓값 Double.NEGATIVE_INFINITY, 평균 0인 객체 생성.
                    |             
                    li void accept(double value) : 요약 정보에 value를 추가
                    |             
                    li void combine(DoubleSummaryStatistics other) : other를 호출자에 추가
                    |             
                    li final long getCount() + getSum, getMin, getMax, getAverage
            |     
            details
                summary class Random implements Serializable Since 1.0
                |         
                ol
                    li public Random() + (long seed)
                    |             의사난수 생성기. 스레드-안전하지만 성능 저하 가능성이 있으므로 ThreadLocalRandom을 고려할 것.
                    |             
                    li void setSeed(long seed)
                    |             
                    li void nextBytes(byte[] bytes) Since 1.1
                    |             
                    li int nextInt() + 1 오버로딩, nextLong, nextBoolean Since 1.2, nextFloat, nextDouble
                    |             
                    li double nextGaussian()
                    |             평균 0, 표준분산 1인 정규분포 난수 반환
                    |             
                    details
                        summary 난수 스트림
                        |                 
                        ol
                            li Long, Double 버전 존재
                            |                     
                            li IntStream ints(long streamSize) Since 1.8
                            |                     
                            li IntStream ints() Sine 1.8 : ints(Long.MAX_VALUE)
                            |                     
                            li
                                | IntStream ints(long streamSize, int randomNumberOrigin, int randomNumberBound) Since 1.8 : [origin, bound)
                            |                     
                            li IntStream ints(int randomNumberOrigin, int randomNumberBound) Since 1.8
            |     
            details
                summary final class SplittableRandom Since 1.8
                |         
                ol
                    li public SplittableRandom() + (long seed)
                    |             분열하는 의사난수 생성기. 스레드-안전하지 않으며, 분열하여 스레드들이 각자 하나씩 갖도록 설계되었다.
                    |             
                    li SplittableRandom split() : 분열. 상태를 공유하진 않지만, 발생한 난수들은 통계적으로 유사한 속성을 갖는다.
        hr
        details
            summary 문자열 및 국제화 관련
            |     
            details
                summary class Base64 Since 1.8
                |         
                ol
                    li Base64 인코더와 디코더를 반환하는 유틸리티. RFC 2045, 4648
                |         
                details
                    summary static class Base64.Encoder Since 1.8
                    |             
                    ol
                        li byte[] encode(byte[] src)
                        |                 
                        li int encode(byte[] src, byte[] dst) : 쓴 바이트 수 반환
                        |                 
                        li
                            | String encodeToString(byte[] src) : new String(encode(src), StandardCharsets.ISO_8859_1)
                        |                 
                        li ByteBuffer encode(ByteBuffer buffer)
                        |                 
                        li OutputStream wrap(OutputStream os)
                        |                 
                        li Base64.Encoder withoutPadding()
                |         
                details
                    summary static class Base64.Decoder Since 1.8
                    |             
                    ol
                        li byte[] decode(byte[] src)
                        |                 
                        li byte[] decode(String src)
                        |                 
                        li int decode(byte[] src, byte[] dst)
                        |                 
                        li ByteBuffer decode(ByteBuffer buffer)
                        |                 
                        li InputStream wrap(InputStream is)
                |         
                details
                    summary Method Detail
                    |             
                    ol
                        li static Base64.Encoder getEncoder()
                        |                 
                        li static Base64.Encoder getUrlEncoder()
                        |                 
                        li static Base64.Encoder getMimeEncoder()
                        |                 
                        li static Base64.Encoder getMimeEncoder(int lineLength, byte[] lineSeparator)
                        |                 
                        li static Base64.Decoder getDecoder()
                        |                 
                        li static Base64.Decoder getUrlDecoder()
                        |                 
                        li static Base64.Decoder getMimeDecoder()
            |     
            details
                summary final class Formatter implements Closeable, Flushable Since 1.5
                |         
                ol
                    li formatter.format("%4$2s %3$2s %2$2s %1$2s", "a", "b", "c", "d")
                    |             
                    li
                        a.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-green(target='_blank', href='https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/util/Formatter.html')
                            | https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/util/Formatter.html
            |     
            details
                summary final class Locale implements Cloneable, Serializable Since 1.1
                |         
                ol
                    li public static final Locale US, ENGLISH, KOREA, KOREAN, ...
                    |             
                    li
                        a.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-green(target='_blank', href='https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/util/Locale.html')
                            | https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/util/Locale.html
            |     
            details
                summary final class Scanner implements Iterator<String>, Closeable Since 1.5
                |         
                ol
                    li 정규 표현식을 통해 원시 타입과 String을 분리해내는 간단한 text scanner.
                    |             
                    li 지정되지 않은 경우, 기본 구분자 패턴은 공백 문자(Character::isWhitespace)
                    |             
                    li 기저 스트림으로부터 입력을 대기하는 동안 스레드가 블록될 수 있다.
                    |             
                    li
                        | 기저 Readable의 read()에서 IOException이 발생한 경우 소스의 끝에 도달했다고 판단하며, 가장 최근의 예외는 ioException()을 통해 얻을 수 있다
                    |             
                    li 기저 스트림이 Closeable인 경우, Scanner에 대해 close()가 호출되면 기저 스트림도 닫힌다
                |         
                details
                    summary Constructor Detail
                    |             
                    ol
                        li public Scanner(Readable source)
                        |                 
                        li public Scanner(InputStream source) + 2 오버로딩
                        |                 
                        li public Scanner(File source) + 2 오버로딩
                        |                 
                        li public Scanner(Path source) Since 1.7 + 2 오버로딩
                        |                 
                        li public Scanner(String source)
                        |                 
                        li public Scanner(ReadableByteChannel source) + 2 오버로딩
                |         
                details
                    summary Method Detail
                    |             
                    ol
                        li Pattern delimiter() + useDelimiter
                        |                 
                        li Locale locale() + useLocale
                        |                 
                        li int radix() + useRadix
                        |                 
                        li boolean hasNext() + 2 오버로딩, next
                        |                 + boolean, byte, short, int, long, float, double, BigInteger, BigDecimal
                        |                 
                        li boolean hasNextLine() + nextLine
                        |                 
                        li String findInLine(Pattern pattern) + 1 오버로딩
                        |                 구분자를 무시하고 pattern을 검색한다. 줄 바꿈 문자 전에 문자열을 찾으면 해당 문자열을 반환하고 다음 라인으로 넘어간다. 줄 바꿈 문자를 만날 때까지 매칭이 없으면 읽기 위치는 변경없이 null을 반환한다.
                        |                 
                        li String findWithinHorizon(Pattern pattern, int horizon) + 1 오버로딩
                        |                 구분자를 무시하고 pattern을 검색한다. 현재 위치로부터 최대 horizon개의 code point만을 검색에 이용한다. horizon == 0인 경우, 제한없이 검색을 수행한다. 매칭된 문자열이 없으면 읽기 위치 변경없이 null을 반환한다.
                        |                 
                        li Scanner skip(Pattern pattern) + 1 오버로딩
                        |                 구분자를 무시하고 pattern을 검색한다. 매칭된 문자열이 있으면 건너뛰고, 없으면 읽기 위치 변경 없이 NoSuchElementException 발생.
                        |                 
                        li MatchResult match()
                        |                 가장 최근의 매칭 결과를 반환한다. MatchResult는 각종 next, findInLine, findWithinHorizon, skip 메서드의 성공적인 실행으로 설정된다.
                        |                 
                        li Stream<MatchResult> findAll(Pattern pattern) Since 9 + 1 오버로딩
                        |                 스트림의 MatchResult 순서는 findWithinHorizon(pattern, 0), match()를 반복적으로 호출한 것과 동일하다.
                        |                 
                        li Stream<String> tokens() Since 9
                        |                 구분자로 자른 문자열들의 스트림을 반환한다
                        |                 
                        li IOException ioException()
                        |                 
                        li Scanner reset() Since 1.6
                        |                 scanner.useDelimiter("\\p{javaWhitespace}+").useLocale(Locale.getDefault(Locale.Category.FORMAT)).useRadix(10);
            |     
            details
                summary class StringTokenizer implements Enumberation<Object> Since 1.0
                |         
                ol
                    li public StringTokenizer(String str, String delim, boolean returnDelims) + 2 오버로딩
                    |             
                    li boolean hasMoreTokens()
                    |             
                    li String nextToken() + 1 오버로딩
                    |             
                    li int countTokens()
            |     
            details
                summary final class StringJoiner Since 1.8
                |         
                ol
                    li public StringJoiner(CharSequence delimiter) + 1 오버로딩
                    |             
                    li StringJoiner setEmptyValue(CharSequence emptyValue)
                    |             StringJoiner가 비어있을 때 toString()에서 반환할 대체문자열 설정.
                    |             
                    li StringJoiner add(CharSequence newElement)
                    |             
                    li StringJoiner merge(StringJoiner other)
                    |             
                    li int length()
        hr
        details
            summary class Properties extends Hashtable<Object, Object> Since 1.0
            |     
            ol
                li
                    | stream을 통해 로드/저장되는 영구적인 속성값들을 표현. 기본값으로 이용하기 위해 다른 Properties를 포함할 수 있다. 스레드-안전하다.
            |     
            details
                summary Constructor Detail
                |         
                ol
                    li public Properties()
                    |             
                    li public Properties(int initialCapacity)
                    |             
                    li public Properties(Properties defaults)
            |     
            details
                summary Method Detail
                |         
                ol
                    li Object setProperty(String key, String value) Since 1.2
                    |             
                    li String getProperty(String key)
                    |             
                    li String getProperty(String key, String defaultValue)
                    |             
                    li Enumeration<?> propertyNames()
                    |             
                    li Set<String> stringPropertyNames() Since 1.6
                    |             
                    li void load(Reader reader) Since 1.6
                    |             
                    li void load(InputStream inStream) Since 1.2
                    |             
                    li void store(Writer writer, String comments) Since 1.6
                    |             
                    li void store(OutputStream out, String comments) Since 1.2
                    |             
                    li void loadFromXML(InputStream in) Since 1.5
                    |             
                    li void storeToXML(OutputStream os, String comment) Since 1.5 + 2 오버로딩
                    |             
                    li void list(PrintStream out) + 1 오버로딩 : 디버깅에 유용
        hr
        details
            summary final class UUID implements Serializable, Comparable<UUID> Since 1.5
            |     
            ol
                li public UUID(long mostSigBits, long leastSigBits) : 2개 long을 이용해 128비트 UUID 생성
                |         
                li static UUID randomUUID() : type 4 UUID 생성
                |         
                li static UUID nameUUIDFromBytes(byte[] name) : type 3 UUID 생성
                |         
                li static UUID fromString(String name) : toString() 결과로부터 UUID 생성
                |         
                li + com.fasterxml.uuid, com.datastax.cassandra
                |         
                li int version()
                |         1 Time-based UUID, 2 DCE security UUID, 3 Name-based UUID, 4 Randomly generated UUID
                |         
                li int variant()
                |         0 Reserved for NCS, 2 RFC 4122(이 클래스에서 사용), 6 Reserved for Microsoft, 7 Reserved for future
                |         
                li long timestamp()
                |         60비트로 구성된 Time-based UUID의 시각을 반환한다. 1582-10-15 00:00:00 UTC로부터 몇 100ns가 흘렀는지를 의미한다
                |         
                li long node()
                |         Time-based UUID의 48비트 Mac address를 반환한다.
        hr
