html
    body
        script(src='/source/redirect.js?200226_1657')
        hr
        details
            summary abstract class Clock Since 1.8
            ol
                li
                    | 시간대(time-zone)을 이용한 현재의 date와 time 제공. 지정하지 않는 이상, 시계 내부의 시각은 계속 변한다.
                    button.btn-code(path='Repositories/Eclipse/JavaSE/src/time/ClockTest.java', lan='java') 예시 코드 »
                li static Clock system(ZoneId zone) : 특정 시간대의 시계 반환
                |         + systemUTC() == system(ZoneOffset.UTC), systemDefaultZone() == system(ZoneId.systemDefault())
                li static Clock tick(Clock baseClock, Duration tickDuration)
                |         지정된 시계의 tick 단위를 조정. 예를 들어 1분이 지정된 경우, 1분 미만의 값은 버려진다.
                |         + tickMillis(ZoneId zone) Since 9 == tick(system(zone), Duration.ofMillis(1)), tickSeconds, tickMinutes
                li static Clock fixed(Instant fixedInstant, ZoneId zone) : 현재 시각으로 멈춘 시계 반환
                li
                    | static Clock offset(Clock baseClock, Duration offsetDuration) : 시각을 조정한 새로운 시계 반환
                li abstract ZoneId getZone()
                li abstract Clock withZone(ZoneId zone)
                |         지정된 시간대에 현재 시계의 복사본을 생성하여 반환한다. 따라서 시각 자체는 조정하지 않는다.
                li long millis()
                li abstract Instant instant()
        hr
        details
            summary
                | final class Duration implements TemporalAmount, Comparable&lt;Duration>, Serializable Since 1.8
            ol
                li
                    button.btn-code(path='Repositories/Eclipse/JavaSE/src/time/DurationTest.java', lan='java') 예시 코드 »
                li public static final Duration ZERO
                li static Duration of(long amount, TemporalUnit unit)
                |         + ofDays, ofHours, ofMinutes, ofSeconds, ofMillis, ofNanos
                li static Duration from(TemporalAmount amount)
                |         amount 그대로 Duration으로 변환
                li static Duration parse(CharSequence text)
                |         ISO-8601 duration format PnDTnHnMn.nS // 추가로 접두 부호 가능
                li static Duration between(Temporal startInclusive, Temporal endExclusive)
                li long get(TemporalUnit unit)
                |         + getUnits, getSeconds, getNano
                li boolean isZero() + isNegative()
                li Duration withSeconds(long seconds)
                |         나노초 단위만 남기고 seconds로 변경
                li Duration withNanos(int nanoOfSecond)
                |         나노초 단위만 nanoOfSecond로 변경
                li Duration plus(Duration duration) + 오버로딩 + minus
                li Duration multipliedBy(long multiplicand) + divideBy
                li Duration negated() + abs
                li Temporal addTo(Temporal temporal) + subtractFrom
                li long toDays()
                |         + toHours, toMinutes, toSeconds Since 9, toMillis, toNanos, toDaysPart Since 9, toHoursPart Since 9, toMinutesPart Since 9, toSecondsPart Since 9, toMillisPart Since 9, toNanosPart Since 9
                li Duration truncatedTo(TemporalUnit unit) Since 9
        hr
        details
            summary
                | final class Instant implements Temporal, TemporalAdjuster, Comparable&lt;Instant>, Serializable Since 1.8
            ol
                li Epoch(1970-01-01 00:00:00)를 기준으로 한 초(long)와 나노초(int)로 시각을 표현한다. 음수면 epoch 이전
                li public static final Instant EPOCH, MIN(아주 먼 옛날), MAX(아주 먼 미래)
                li static Instant now() + 오버로딩
                |         + ofEpochSecond, ofEpochMilli, from, parse(DateTimeFormatter.ISO_INSTANT; 예. 2007-12-03T10:15:30.00Z)
                li ValudRange range(TemporalField field)
                li boolean isAfter(Instant otherInstant) + isBefore
                li 이하 생략
        hr
        details
            summary abstract class ZoneId implements Serializable Since 1.8
            ol
                li public static final Map&lt;String, String> SHORT_IDS
                li static ZoneId systemDefault()
                li static Set&lt;String> getAvailaleZoneIds()
                li static ZoneId of(String zoneId)
                li static ZoneId ofOffset(String prefix, ZoneOffset offset)
                |         prefix : "GMT", "UTC", "UT", ""
        hr
        details
            summary
                | final class ZoneOffset extends ZoneId implements TemporalAccessor, TemporalAdjuster, Comparable&lt;ZoneOffset>, Serializable Since 1.8
            ol
                li public static final ZoneOffset UTC, MIN, MAX
                li static ZoneOffset of(String offsetId)
                |         -18:00 ~ +18:00
                li static ZoneOffset ofHours(int hours)
                |         + ofHoursMinutes, ofHoursMinutesSeconds, ofTotalSeconds
        hr
        details
            summary enum DayOfWeek implements TemporalAccessor, TemporalAdjuster Since 1.8
            ol
                li public static final DayOfWeek MONDAY ~ SUNDAY
                li int getValue()
                |         ISO-8601. 1(MONDAY) ~ 7(SUNDAY)
                li static DayOfWeek of(int dayOfWeek)
                li DayOfWeek plus(long days) + minus
        hr
        details
            summary enum Month implements TemporalAccessor, TemporalAdjuster Since 1.8
            ol
                li public static final Month JANUARY ~ DECEMBER
                li int getValue()
                |         ISO-8601. 1(JANUARY) ~ 12(DECEMBER)
                li static Month of(int month)
                li Month plus(long months) + minus
                li int length(boolean leapYear)
                li int firstDayOfYear(boolean leapYear)
        hr
