html
    body
        script(src='/source/redirect.js?200226_1657')
        hr
        details
            summary interface ModuleFinder Since 9
            |     
            ol
                li
                    | Module Resolution : 모듈들의 연관 관계를 계산하는 작업. 각 모듈의 필요(requires) 모듈들을 반복적으로 찾아내고 관계 그래프를 구한다.
                |         
                li
                    | ModuleFinder는 module resolution과 service binding(Configuration#resolveAndBind)에서 모듈을 찾는 데 이용된다.
            |     
            details
                summary Method Detail
                |         
                ol
                    li Optional<ModuleReference> find(String name)
                    |             
                    li Set<ModuleReference> findAll()
                    |             
                    li static ModuleFinder ofSystem()
                    |             
                    li static ModuleFinder of(Path... entries)
                    |             
                    li static ModuleFinder compose(ModuleFinder... finders)
        hr
        details
            summary interface ModuleReader Extends Closeable Since 9
            |     
            ol
                li 모듈 내용에 대한 접근 제공.
                |         
                li Optional<URI> find(String name)
                |         
                li default Optional<InputStream> open(String name)
                |         
                li default Optional<ByteBuffer> read(String name)
                |         
                li default void release(ByteBuffer bb)
                |         
                li Stream<String> list()
        hr
