html
    body
        script(src='/source/redirect.js?200226_1657')
        hr
        details
            summary interface Annotation Since 1.5
            ol
                li 이 인터페이스를 구현하는 것으로 새로운 애너테이션을 정의할 순 없다.
                li Class&lt;? extends Annotation> annotationType()
                li int hashCode()
        hr
        details
            summary enum ElementType Since 1.5
            ol
                li 애너테이션이 적용되는 요소를 표현한다.
                li
                    | TYPE, FIELD, METHOD, PARAMETER, CONSTRUCTOR, LOCAL_VALIABLE, ANNOTATION_TYPE, PACKAGE, TYPE_PARAMETER Since 1.8, MODULE Since 9
        hr
        details
            summary enum RetentionPolicy Since 1.5
            ol
                li 애너테이션 유지 정책.
                li SOURCE : 컴파일러가 제거
                li CLASS : 컴파일러가 클래스 파일에 기록(default)
                li RUNTIME : 클래스 파일에 기록하고 JVM 런타임에도 유지. 따라서 리플렉션 가능.
        hr
        details
            summary
                | @Documented @Retention(RUNTIME) @Target(ANNOTATION_TYPE) @interface Documented Since 1.5
            |     @Documented가 다른 애너테이션 타입 A에 존재하면, @A로 꾸며진 요소의 공개적인 서명으로 인식하여 JavaDoc에 포함된다.
        hr
        details
            summary
                | @Documented @Retention(RUNTIME) @Target(ANNOTATION_TYPE) @interface Inherited Since 1.5
            |     Superclass의 애너테이션을 상속함을 표시. 클래스에만 유효한 애너테이션이다.
        hr
        details
            summary @Documented @Target(FIELD) @Retention(SOURCE) @interface Native Since 1.8
            |     필드가 네이티브 코드 값을 정의함을 표현.
        hr
        details
            summary
                | @Documented @Retention(RUNTIME) @Target(ANNOTATION_TYPE) @interface Repeatable Since 1.8
            |     애너테이션을 반복적으로 정의할 수 있음을 표현.
            a.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-green(target='_blank', href='https://docs.oracle.com/javase/tutorial/java/annotations/repeating.html') 튜토리얼
        hr
        details
            summary
                | @Documented @Retention(RUNTIME) @Target(ANNOTATION_TYPE) @interface Retention Since 1.5
            |     애너테이션을 얼마나 유지할 지 표현. value ← RetentionPolicy
        hr
        details
            summary
                | @Documented @Retention(RUNTIME) @Target(ANNOTATION_TYPE) @interface Target Since 1.5
            |     애너테이션을 적용할 요소들을 표현한다. 여러 개(또는 0개)일 경우 배열 리터럴 표기 {}를 이용한다. value ← ElementType[]
        hr
