html
  body
    script(src='/source/redirect.js?200226_1657')
    hr
    details
      summary abstract class Charset implements Comparable<Charset> Since 1.4
      |     
      ol
        li static boolean isSupported(String charsetName)
        |         
        li static Charset forName(String charsetName)
        |         
        li static SortedMap<String, Charset> availableCharsets()
        |         
        li static Charset defaultCharset() Since 1.5
        |         
        li final String name() + aliases, displayName
        |         
        li final boolean isRegistered() : IANA 문자집합에 등록됐는지
        |         
        li abstract boolean contains(Charset cs)
        |         
        li boolean canEncode()
        |         
        li abstract CharsetDecoder newDecoder() + newEncoder
        |         
        li final CharBuffer decode(ByteBuffer bb) + encodie
    hr
    details
      summary abstract class CharsetDecoder Since 1.4
      |     
      ol
        li 바이트열을 문자열로 변환.
        |         
        li final Charset charset()
        |         
        li final CoderResult decode(ByteBuffer in, CharBuffer out, boolean endOfInput)
        |         
        li final CoderResult flush(CharBuffer out)
        |         일부 디코더들은 내부적으로 flush가 필요할 수 있다
        |         
        li final CharsetDecoder reset()
        |         
        li final CharBuffer decode(ByteBuffer in)
        |         
        li final float averageCharsPerByte() + maxCharsPerByte
        |         
        li
          | final CharsetDecoder onMalformedInput(CodingErrorAction newAction) + getter 메서드 + onUnmappableCharacter
        |         
        li boolean isAutoDetecting() + isCharsetDetected, detectedCharset
    hr
    details
      summary abstract class CharsetEncoder Since 1.4
      |     
      ol
        li 문자열을 바이트열로 변환.
        |         
        li final Charset charset()
        |         
        li final CoderResult encode(CharBuffer in, ByteBuffer out, boolean endOfInput)
        |         
        li final CoderResult flush(ByteBuffer out)
        |         일부 인코더들은 내부적으로 flush가 필요할 수 있다
        |         
        li final CharsetEncoder reset()
        |         
        li final ByteBuffer encode(CharBuffer in)
        |         
        li boolean canEncode(CharSequence cs) + 오버로딩
        |         
        li final float averageBytesPerChar() + maxBytesPerChar
        |         
        li
          | final CharsetDecoder onMalformedInput(CodingErrorAction newAction) + getter 메서드 + onUnmappableCharacter
    hr
    details
      summary final class StandardCharsets Since 1.7
      |     표준 문자집합 : US-ASCII(= ISO646-US), ISO-8859-1(= ISO-LATIN-1), UTF-8, UTF-16BE, UTF-16LE, UTF-16
    hr
