html
    body
        script(src='/source/redirect.js?200226_1657')
        ul
            li list와 유사하게 동작하지만, 원소의 타입은 하나로 제한된다
            li 배열 생성 시 타입을 지정한다
            table
                tr
                    th Code
                    th C type
                    th Python type
                    th Size
                tr
                    td 'b'
                    td signed char
                    td int
                    td 1
                tr
                    td 'B'
                    td unsigned char
                    td int
                    td 1
                tr
                    td 'h'
                    td signed short
                    td int
                    td 2
                tr
                    td 'H'
                    td unsigned short
                    td int
                    td 2
                tr
                    td 'i'
                    td signed int
                    td int
                    td 2
                tr
                    td 'I'
                    td unsigned int
                    td int
                    td 2
                tr
                    td 'l'
                    td signed long
                    td int
                    td 4
                tr
                    td 'L'
                    td unsigned long
                    td int
                    td 4
                tr
                    td 'q'
                    td signed long long
                    td int
                    td 8
                tr
                    td 'Q'
                    td unsigned long long
                    td int
                    td 8
                tr
                    td 'f'
                    td float
                    td float
                    td 4
                tr
                    td 'd'
                    td double
                    td float
                    td 8
        details(open='')
            summary class array.array
            ul
                li class array.array(typecode[, initializer])
                |         initializer : list, bytes-like object, iterable 중 하나를 보내면 fromlist(), frombytes() 등으로 초기화된다
                li 모듈 속성
                ol
                    li array.typecodes
                    |             유효 타입 코드들로 구성된 문자열
                li 인스턴스 속성(읽기 전용)
                ol
                    li array.typecode
                    li array.itemsize : 요소 하나의 바이트 크기
                li 인스턴스 메서드
                ol
                    li array.buffer_info()
                    |             (address, length) 반환. 반환된 값은 배열이 삭제되지 않고, 길이가 변경되지 않은 동안 유효
                    li array.byteswap()
                    |             배열 각 요소들의 바이트 순서를 뒤집는다. array.itemsize가 1, 2, 4, 8인 경우만 작동
                    li array.extend(iterable)
                    |             배열 끝에 순서대로 추가. 인자가 배열인 경우, 타입이 동일해야만 작동한다
                    li array.fromfile(f, n) ↔ tofile(f)
                    |             file 인스턴스 f로부터 n개의 machine value를 읽어 배열의 끝에 순서대로 추가. 요소가 n개보다 적은 경우 배열에 추가는 되지만 EOFError 발생
                    li array.frombytes(s) Since 3.2 ↔ tobytes()
                    |             문자열을 machine value로 읽어 배열 끝에 순서대로 추가
                    li array.fromlist(list) ↔ tolist()
                    |             list 전체 요소의 타입이 삽입 가능하다면, 순서대로 배열 끝에 추가
                    li array.index(x)
                    li array.count(x)
                    li array.remove(x)
                    li array.insert(i, x)
                    li array.pop([i])
                    li array.reverse()
