html
  body
    script(src='/source/redirect.js?200226_1657')
    ul
      li 모든 예외는 BaseException의 인스턴스. 프로그래머가 BaseException을 직접 상속할 수는 없다.
      |     
      li 마지막으로 발생한 예외가 자동으로 __context__에 설정된다.
      |     
      li raise new_exc from original_exc
      |     __cause__에 original_exc이 등록된다. from None을 하면 이전 예외를 새로운 것으로 교체한다.
      |     
      li exception BaseException
      |     
      ul
        li args # 생성자로 받은 인자들로 구성된 튜플
        |         
        li with_traceback(tb) # tb를 예외의 traceback으로 설정하고 예외를 반환
        pre.
          \nexcept SomeException:
              tb = sys.exc_info()[2]
              raise OtherException(...).with_traceback(tb)          
      |     
      li exception Exception # 시스템을 종료하지 않는 예외. 사용자 정의 예외의 조상
