html
  body
    script(src='/source/redirect.js?200226_1657')
    ul
      li enum 클래스는 그 자체로 순회 가능하다
      |     
      li enum 클래스 멤버는 해시 가능하다
    ol
      li class enum.Enum : 베이스 클래스
      |     
      pre.
        \nclass RGB(enum.Enum):
            R = enum.auto()
            G = enum.auto()
            B = enum.auto()
            
        print(RGB(2) == RGB.B)
        print(RGB['B'] == RGB.B)
        print(RGB.B.name == 'B')
        print(RGB.B.value == 2)        
      |     
      ul
        li Enum 클래스 자체도 callable이다
        |         Animal = Enum('Animal', 'ANT BEE CAT DOG')
        br
        |         # 이렇게 생성한 enum 클래스의 모듈을 특정할 수 없는 경우, pickling/unpickling 불가
      |     
      li class enum.IntEnum : int 상속
      |     
      li class enum.IntFlag Since 3.6 : int 상속 + 비트 연산 가능
      |     
      li class enum.Flag Since 3.6 : 비트 연산 가능
      |     
      li class enum.auto Since 3.6 : 자동 할당
      |     auto의 동작은 _generate_next_value_(name, start, count, last_values)를 재정의하여 변경할 수 있다
      |     
      li enum.unique() : 일대일 대응 검증 클래스 데커레이터
