html
    body
        script(src='/source/redirect.js?200226_1657')
        ul
            li 파이썬 표준 연산자들에 대응하는 함수들을 제공한다.
            |     많은 경우 lt(a, b), __lt__(a, b)처럼 '__'가 붙은 것과 붙지 않은 것 모두 제공한다.
            |     
            |     
            li 비교 연산
            |     lt(a, b), le(a, b), eq(a, b), ne(a, b), ge(a, b), gt(a, b)
            |     
            |     
            li 논리 연산
            |     not(obj), truth(obj), is_(a, b) # a is b, is_not(a, b) # a is not b
            |     
            |     
            li 산수 연산
            |     abs(obj), add(a, b), and_(a, b), fllordiv(a, b), index(a), inv(obj) == invert(obj), lshift(a, b), mod(a, b), mul(a, b), matmul(a, b) # a @ b, neg(obj), or_(a, b), pos(obj), pow(a, b), rshift(a, b), sub(a, b), truediv(a, b), xor(a, b)
            |     
            |     
            li Sequence 연산
            |     concat(a, b), contains(a, b), countOf(a, b), delitem(a, b), getitem(a, b), indexOf(a, b), setitem(a, b, c), length_hint(obj, default=0)
            |     
            |     
            li Lookup
            |     attrgetter(attr), attrgetter(*attrs), itemgetter(item), itemgetter(*items), methodcaller(name, /, *args, **kwargs)
            |     
            |     
            li 복합 연산
            |     iadd, iand, iconcat, ifllordiv, ilshift, imod, imul, imatmul, ior, ipow, irshift, isub, itruediv, ixor
        table
            tr
                th Operation
                |         
                th Syntax
                |         
                th Function
            |     
            tr
                td Addition
                |         
                td a + b
                |         
                td add(a, b)
            |     
            tr
                td Concatenation
                |         
                td seq1 + seq2
                |         
                td concat(seq1, seq2)
            |     
            tr
                td Containment Test
                |         
                td obj in seq
                |         
                td contains(seq, obj)
            |     
            tr
                td Division
                |         
                td a / b
                |         
                td truediv(a, b)
            |     
            tr
                td Division
                |         
                td a // b
                |         
                td floordiv(a, b)
            |     
            tr
                td Bitwise And
                |         
                td a & b
                |         
                td and_(a, b)
            |     
            tr
                td Bitwise Exclusive Or
                |         
                td a ^ b
                |         
                td xor(a, b)
            |     
            tr
                td Bitwise Inversion
                |         
                td ~ a
                |         
                td invert(a)
            |     
            tr
                td Bitwise Or
                |         
                td a | b
                |         
                td or_(a, b)
            |     
            tr
                td Exponentiation
                |         
                td a ** b
                |         
                td pow(a, b)
            |     
            tr
                td Identity
                |         
                td a is b
                |         
                td is_(a, b)
            |     
            tr
                td Identity
                |         
                td a is not b
                |         
                td is_not(a, b)
            |     
            tr
                td Indexed Assignment
                |         
                td obj[k] = v
                |         
                td setitem(obj, k, v)
            |     
            tr
                td Indexed Deletion
                |         
                td del obj[k]
                |         
                td delitem(obj, k)
            |     
            tr
                td Indexing
                |         
                td obj[k]
                |         
                td getitem(obj, k)
            |     
            tr
                td Left Shift
                |         
                td a << b
                |         
                td lshift(a, b)
            |     
            tr
                td Modulo
                |         
                td a % b
                |         
                td mod(a, b)
            |     
            tr
                td Multiplication
                |         
                td a * b
                |         
                td mul(a, b)
            |     
            tr
                td Matrix Multiplication
                |         
                td a @ b
                |         
                td matmul(a, b)
            |     
            tr
                td Negation (Arithmetic)
                |         
                td - a
                |         
                td neg(a)
            |     
            tr
                td Negation (Logical)
                |         
                td not a
                |         
                td not_(a)
            |     
            tr
                td Positive
                |         
                td + a
                |         
                td pos(a)
            |     
            tr
                td Right Shift
                |         
                td a >> b
                |         
                td rshift(a, b)
            |     
            tr
                td Slice Assignment
                |         
                td seq[i:j] = values
                |         
                td setitem(seq, slice(i, j), values)
            |     
            tr
                td Slice Deletion
                |         
                td del seq[i:j]
                |         
                td delitem(seq, slice(i, j))
            |     
            tr
                td Slicing
                |         
                td seq[i:j]
                |         
                td getitem(seq, slice(i, j))
            |     
            tr
                td String Formatting
                |         
                td s % obj
                |         
                td mod(s, obj)
            |     
            tr
                td Subtraction
                |         
                td a - b
                |         
                td sub(a, b)
            |     
            tr
                td Truth Test
                |         
                td obj
                |         
                td truth(obj)
            |     
            tr
                td Ordering
                |         
                td a < b
                |         
                td lt(a, b)
            |     
            tr
                td Ordering
                |         
                td a <= b
                |         
                td le(a, b)
            |     
            tr
                td Equality
                |         
                td a == b
                |         
                td eq(a, b)
            |     
            tr
                td Difference
                |         
                td a != b
                |         
                td ne(a, b)
            |     
            tr
                td Ordering
                |         
                td a >= b
                |         
                td ge(a, b)
            |     
            tr
                td Ordering
                |         
                td a > b
                |         
                td gt(a, b)
