html
    body
        script(src='/source/redirect.js?200226_1657')
        hr
        details(open='')
            summary 참고자료
            ol
                li https://pandas.pydata.org
        hr
        details(open='')
            summary 데이터 모델
            ol
                li DataFrame : 행과 열로 이루어진 테이블. 행은 데이터(셋), 열은 차원
                li Series : 1차원 DataFrame
                button.btn-code(path='Repositories/Python/Library/pandas_1.py', lan='python') 예시 코드 »
        hr
