html
  body
    script(src='/source/redirect.js?200226_1657')
    hr
    details
      summary random : 암호적으로 안전하지 않은 의사 난수 생성기
      |     
      ul
        li Bookkeeping functions
        |         
        ul
          li seed(a=None, version=2) : 시드 설정. a를 지정하지 않은 경우 시스템 시각 사용
          |             
          li getrandbits(k) : k개 비트로 구성된 int 반환
        |         
        li Functions for integers
        |         
        ul
          li randrange(stop), randrange(start, stop[, step])
          |             
          li randint(a, b)
        |         
        li Functions for sequences
        |         
        ul
          li choice(seq)
          |             
          li choices(population, weights=None, *, cum_weights=None, k=1) Since 3.6
          |             
          ul
            li weights : population 각 요소별 가중치
            |                 
            li cum_weights : population 각 요소별 누적 가중치
            |                 
            li k : 뽑을 요소 수. 복원 추출
          |             
          li shuffle(x[, random])
          |             x를 제자리에서 섞는다. random은 [0.0, 1.0)을 반환하는 무인자 함수
          |             
          li sample(population, k) : 비복원 추출
        |         
        li Real-valued distributions
        |         
        ul
          li random() : [0.0, 1.0)
          |             
          li uniform(a, b) : [a, b]
          |             
          li gauss(mu, sigma)
          |             
          li gammavariate(alpha, beta)
          |             
          li betavariable(alpha, beta)
          |             
          li 이하 생략
    hr
    details
      summary secrets Since 3.6 : 암호적으로 안전한 난수 생성기
      |     
      ul
        li randbits(k)
        |         
        li randbelow(n) : [0, n)
        |         
        li choice(sequence)
        |         
        li
          | token_bytes([nbytes=None]), token_hex([nbytes=None]), token_urlsafe([nbytes=None])
        |         
        li
    hr
