html
    body
        script(src='/source/redirect.js?200226_1657')
        hr
        | 생략..
        hr
        details
            summary Coroutine Utility Functions
            |     types.coroutine(gen_func) : generator 함수를 기반으로 한 coroutine 함수 반환
        hr
