include ../../../source/skeleton.pug

+post({
    title: 'Tiger',
    description: '개인적으로 마음에 든 『Tiger』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/400x0/pdt/9791198183095.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', 'Tiger / 구시키 리우')
                +tds('ISBN 정보', '979-11-981830-9-5 (03830)')
                +tds('발행사항', '허밍북스, 2024.06.01')

    h1 독서 기록
    ul
        li 모르는 사람은 따라가면 안 된다고 선생님은 말했다. 곤경에 빠진 사람을 보거든 도와주라고도 말했다. 이번 경우는 어느 쪽일까.
