include ../../../source/skeleton.pug

+post({
    title: '미래중독자',
    description: '개인적으로 마음에 든 『미래중독자』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/46591971/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '미래중독자 / 다니엘 S. 밀로')
                +tds('ISBN 정보', '979-11-5540-113-2 (03100)')
                +tds('발행사항', '청림출판, 2017.09.26')

    h1 독서 기록
    ul
        li 사피엔스는 뇌의 유혹을 받고 '내일'이라는 선악과를 떠올렸다. 이제 사피엔스는 더 이상 '영원한 오늘'을 사는 행복한 동물로 돌아갈 수 없게 되었고, 내일을 상상하며 불안해하는 최초의 동물인 인간이 되었다.

        li 뇌의 입장에서 보자면 해결책이라고 하는 것은 사실 독이 든 휴식일 뿐이다. 일단 해결책을 찾아낸 뇌는 멜랑콜리에 빠지게 되고 이는 곧 우울증으로 이어진다 ... 150억 개의 뉴런이 원하는 것은 해결책이 아니라 문제들이다.
