include ../../../source/skeleton.pug

+post({
    title: '용의자 X의 헌신',
    description: '개인적으로 마음에 든 『용의자 X의 헌신』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://i.namu.wiki/i/MjUHZGSUbmDEUuEjeDMxZTgcJfuujwbeivCtn4sF6LeUk1EU2WDMFurk20PH2aaqR7nNX_zwOAlSH4CnwmejIQ.webp',
        title: '용의자 X의 헌신', author: '히가시노 게이고',
        isbn: '979-11-978935-0-6 (05830)',
        publisher: '(도서출판)재인', date: '2022.06.16',
    })

    h1 독서 기록
    ul
        li 하나의 살인을 은폐하기 위해 또 하나의 살인을 저지르다니, 그런 생각을 할 수 있는 인간이 과연 있을까?
