include ../../../source/skeleton.pug

+post({
    title: '음식으로 보는 미래 과학',
    description: '개인적으로 마음에 든 『음식으로 보는 미래 과학』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/73745995/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '음식으로 보는 미래 과학 / 마티 조프슨')
                +tds('ISBN 정보', '979-11-6363-042-5 (03400)')
                +tds('발행사항', '동아엠앤비, 2019.05.27')

    h1 독서 기록
    ul
        li 온도가 섭씨 10도 올라가면 화학반응이 2배 빨라진다는 1889년에 발표된 아레니우스 등식을 생각하면, 압력솥 안이 섭씨 20도가 오른다는 것은 보통 일이 아니다
