include ../../../source/skeleton.pug

+post({
    title: '(새로 쓴) 원숭이도 이해하는 마르크스 철학',
    description: '개인적으로 마음에 든 『(새로 쓴) 원숭이도 이해하는 마르크스 철학』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/89923642/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '(새로 쓴) 원숭이도 이해하는 마르크스 철학 / 임승수')
                +tds('ISBN 정보', '978-89-5940-783-5 (03100)')
                +tds('발행사항', '시대의창, 2022.03.25')

    h1 독서 기록
    ul
        li 차분하게 생각해보면, 돈이 모든 것을 가능하게 해준다는 생각은 일종의 '환상'입니다. 돈이라는 종이 쪼가리는 그 자체로는 아무런 능력이 없습니다

        li 사람은 본성적으로 이기적인 것이 아니라 자본주의사회에 이기적으로 길들여집니다

        li 왜 우리에게 이런 인정 요국가 탑재되어 있을까요?
            p 무리에서 배제되지 않으려면 다른 이들에게 '인정'받는 게 중요합니다. 우리가 호랑이라면 굳이 남에게 인정 따위를 받아야 할 이유는 없겠지요

        li 차갑고 메마른 화폐 관계 속에서는 공동체에 대한 진정한 소속감을 얻을 수 없습니다
            p 자본주의 시스템이 오랜 진화 과정에서 형성된 인간의 공동체적 본성과 충돌해 정신질환이라는 증상으로 나타납니다

        li 자본주의적 '토대'가 그에 걸맞은 '상부구조'를 형성하고 인간의 심층 심리에도 큰 영향을 끼친다

        li 마르크스는 국가의 여러 특성 중 '폭력을 배타적이고 합법적으로 행사'하는 측면에 주목합니다
