include ../../../source/skeleton.pug

+post({
    title: '착각의 심리학',
    description: '개인적으로 마음에 든 『착각의 심리학』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788992355872.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '착각의 심리학 / 데이비드 맥레이니')
                +tds('ISBN 정보', '978-89-92355-87-2 (03180)')
                +tds('발행사항', '추수밭, 2012.08.06')

    h1 독서 기록
    ul
        li 사후 확신 편향 : 당신은 새로운 것을 배우면 예전부터 그것을 알고 있었으며, 그래서 언제나 자신은 옳다는 위안을 느낄 수 있도록 과거를 빠르게 수정하기 때문에 두 이야기가 모두 그럴듯하다고 여긴다
        p 인간은 자기 자신에 대하여 「1984」의 빅브라더일지도 모른다

        li 행복한지 아닌지 결정하는 데 두 가지 채널이 있다
        ul
            li 현재의 자아 : 인생을 실시간으로 경험하는 자아. 좋은 일들을 경험할 때 행복하다
            li 기억하는 자아 : (의미 있는) (장기) 기억을 만들고 이를 추억하는 것을 행복하다 -- 만족을 나중으로 미루는 것도 마다하지 않는다
            p 따라서 두 자아 사이에 갈등이 발생할 수 있다
