include ../../../source/skeleton.pug

+post({
    title: '1984',
    description: '개인적으로 마음에 든 『1984』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/400x0/pdt/9788937460777.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '1984 / 조지 오웰')
                +tds('ISBN 정보', '978-89-546-3059-7 (05840)')
                +tds('발행사항', '(주)문학동네, 2012.10.23')

    h1 독서 기록
    ul
        li 지금 진실한 것은 영원한 과거로부터 영원한 미래에까지 진실하다
            p 아주 간단한 진리다. 필요한 것은 모두가 자신의 기억을 한없이 짓밟아버리는 것뿐이다. 그네들은 그것을 '현실 통제'라고 불렀다. 신어로는 '이중사고'다

        li 때에 따라서는 정말 명백한 거짓말을 지적해낼 수 있었다. 한 예로 당사에서 주장하듯 비행기를 당이 발명했다는 것은 새빨간 거짓말이었다
            p 그렇지만 증거를 댈 수 없는 것이다

        li 그 명단은 전에 나붙었던 것과 똑같아 보였지만 이름 하나가 모자랐다. 그것으로 충분히 알 수 있었다
            p 사임은 존재하기를 그쳤고, 과거에도 존재한 일이 없는 것이다

        li 거의 유일한 관심은 그들이 무엇을 자백하길 원하는지 알아내서 다시 귀찮게 굴기 전에 재빨리 털어놓는 것이었다
            p 우리는 뜨뜻미지근한 복종이나 아주 비겁한 굴복 따위로 만족하지 않아 ... 우리에게 반항하는 한 우리는 절대 처형하지 않아 ... 모든 인간은 깨끗하게 세뇌됐지
