include ../../../source/skeleton.pug

+post({
    title: '동물 농장',
    description: '개인적으로 마음에 든 『동물 농장』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/400x0/pdt/9788937460050.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '동물 농장 / 조지 오웰')
                +tds('ISBN 정보', '978-89-98934-05-7 (13740)')
                +tds('발행사항', '온스토리, 2013.04.30')

    h1 독서 기록
    ul
        li 일요일 노동은 순전히 자발적인 선택에 맡기겠지만, 거부하는 동물들에겐 식량 배급을 반으로 줄일 것이라고 했다

        li 언제나처럼 양들이 "네 다리는 좋고, 두 다리는 나쁘다!"를 외치자, 어색했던 분위기는 언제 그랬냐는 듯 평상시처럼 돌아갔다

        li 여섯 번째 계명은 이러했다. "어떤 동물도 다른 동물을 '아무 이유 없이' 죽여서는 안 된다."
            p 웬일인지 '아무 이유 없이'라는 세 단어는 그들의 기억 속에 존재하지 않았다. 그렇지만 그 계명을 읽고 나니 며칠 전의 처형 사건이 계명을 위반하지 않았음을 알 수 있었다

        li 식량이 부족해서가 아니라 당분간 배급량을 재조정할 필요가 있을 뿐이라고 했다
