include ../../../source/skeleton.pug

+post({
    title: '영매탐정 조즈카',
    description: '개인적으로 마음에 든 『영매탐정 조즈카』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/101987654/L',
        title: '영매탐정 조즈카', author: '아이자와 사코',
        isbn: '978-89-349-8961-5 (03830)',
        publisher: '비채 :김영사', date: '2021.05.26',
    })

    h1 독서 기록
    ul
        li 괜찮겠어요? 제가 설명해버려도? 생각하는 걸 포기하는 거예요? 이대로 페이지 넘겨도 돼요?
