include ../../../source/skeleton.pug

+post({
    title: '퀀텀의 세계',
    description: '개인적으로 마음에 든 『퀀텀의 세계』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/105424257/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '퀀텀의 세계 / 이순칠')
                +tds('ISBN 정보', '979-11-6405-059-8 (05440)')
                +tds('발행사항', '(주)북하우스, 2024.01.15')

    h1 독서 기록
    ul 
        li 대상이 관찰될 수 없다면, 물리학에서는 그에 관하여 이야기하지 않는다. 그런 의미에서 양자물리 주장은 물리학에서 상당히 이례적이다. 측정 전의 알 수 없는 상태에 대해 명확히 규정하고 있기 때문이다

        li 여러 개의 물질파가 중첩되어 있으면 각 고유상태에 해당하는 물질파의 진폭의 제곱에 비례해서 측정될 확률이 정해진다는 것이 양자물리의 기본 가정이다
            ul
                li 물체는 중첩상태 혹은 고유상태에 있다
                li 중첩된 상태를 측정하면 하나의 고유상태만 남는다 -- 나머지는 붕괴된다고 표현한다
                    ul
                        li 측정 행위는 대상의 상태를 변화시킨다
                        li 물론 고유상태의 물체는 측정해도 붕괴할 다른 상태가 없으므로 변화하지 않는다

        li 숨은 변수 이론 : 양자물리의 비결정성 -- 관측 전 상태가 중첩되어 있고, 관측 후 확률적으로 고유상태가 결정된다는 것에 대한 반대 가설
            ul
                li 열물리는 관측 대상(기체)을 구성하는 입자 하나하나의 성질을 모아 통계적으로 평균을 내는 방식으로 매우 잘 설명된다
                li 마찬가지로 양자물리의 비결정성은 물리계 하부구조에 대한 지식 부족에서 비롯되는 것

        li 보어의 집 앞에도 수탉 모형이 달려 있었는데, 어떤 사람이 그걸 보고 당신 같은 과학자도 그런 미신을 믿느냐고 묻자 보어는 이렇게 대꾸했다고 한다
            p "나는 물론 그 미신을 믿지 않지만, 내가 믿건 안 믿건 이 수탉이 행운을 가져다준다는군요."

        li 중력은 빛과 동일한 속도로 전파된다
