include ../../../source/skeleton.pug

+post({
    title: '슈퍼 괴짜 경제학',
    description: '개인적으로 마음에 든 『슈퍼 괴짜 경제학』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/15018276/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '슈퍼 괴짜 경제학 / 스티븐 레빗, 스티븐 더브너')
                +tds('ISBN 정보', '978-89-01-10304-4 (03320)')
                +tds('발행사항', '웅진씽크빅, 2009.11.20')

    h1 독서 기록
    ul 
        li 따라서 우리가 풀어야 할 진짜 수수께끼는 '왜 앨리 같은 여성이 매춘부가 되느냐'가 아니라 '왜 더 많은 여성들이 이 직업을 택하지 않는가' 하는 점이다
