include ../../../source/skeleton.pug

+post({
    title: '호구의 심리학',
    description: '개인적으로 마음에 든 『호구의 심리학』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/124503065/L',
        title: '호구의 심리학', author: '테스 윌킨슨 라이언',
        isbn: '978-89-5699-467-3 (03180)',
        publisher: '한문화 :한문화멀티미디어', date: '2024.01.19',
    })

    h1 독서 기록1
    ul 
        li 호구의 딜레마는 피해망상과 신중함 사이 어딘가에서 일어난다
            p '이걸 해, 말아?' 하는 고민은 자연스럽게 '이게 사기면 어떡하지?'라는 걱정으로 이어진다

        li 회의적인 기부 경향은 사회 전반에 걸쳐 나타난다. ... 음식 기부 운동을 하면 기부품이 꽤 많이 모인다. 그러나 만일 같은 금액을 현금으로 기부했다면 낭비가 훨씬 적었을 것이다.
            p 식료품을 현물로 기부하려면 여러 사람이 각자 시간을 들여 음식을 소매가격으로 지불해야 한다 ... 무료 급식소는 현금으로 단체 급식에 적합한 음식 재료를 도매가에 구매할 수 있다.
            p 사회학자 Colin Campbell과 S. Michael Gaddis는 한 연구에서 이 현상을 더욱 체계적으로 설명했다. 미국인은 '빈민 구제'를 널리 지지하면서도 정작 '복지'는 탐탁지 않게 여긴다는 것이다.

        li 만약 내게 사탕이 생긴다면 나는 동생에게 더 작은 조각을 주는 것이 공평하다고 생각할 것이다. 사탕은 애초에 내 것인데 아량을 베푸는 것이기 때문이다.
            p 하지만 만약 동생에게 사탕이 생긴다면 반으로 쪼개는 것이 공평할 것이다. 사람이 두 명이니 반씩 나눠 먹는 것이 당연하다고 여기기 때문이다.

        li 어떻게 하면 사람들이 잔혹한 행위를 지지하고 심지어 직접 저지르도록 유도할 수 있을까? 가장 좋은 방법은 사람들에게 그들이 이용당하거나 멸시받거나 속고 있다고 믿게 하는 것이다
