include ../../../source/skeleton.pug

+post({
    title: '(세상에서 가장 재미있는) 63가지 심리실험',
    description: '개인적으로 마음에 든 『(세상에서 가장 재미있는) 63가지 심리실험』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/67512267/L',
        title: '(세상에서 가장 재미있는) 63가지 심리실험',
        author: '이케가야 유지',
        publisher: '사람과나무사이',
        isbn: '979-11-88635-14-6 (03180)',
        date: '2018.12.25',
    })

    h1 독서 기록
    ul 
        li 강화가 처벌보다 효과가 좋다
            ul
                li (a) 과제에 대한 성과에 따라 0에서 보상을 더해가는 것, (b) 과제에 대한 성과에 따라 MAX에서 보상을 빼가는 것, (c) 보상 없음 중, 가장 효과가 좋은 것은 (a), 가장 효과가 나쁜 것은 (b)
                li 감점을 적극적으로 사용하는 영어 교육은 의사소통을 재미없게 만들고 자발성을 깎는 효과를 낼 수 있다

        li 선택 항목이 허용량을 초과하면 선택 장애를 일으키고, 결국 구매 의욕도 꺾인다
            +table()
                +ths('부스', '길을 가다 멈춘 사람 비율', '구매로 이어진 비율')
                +tds('24종류 잼', '60%', '3%')
                +tds('6종류 잼', '40%', '30%')
