include ../../../source/skeleton.pug

+post({
    title: '세상에서 가장 재미있는 61가지 심리실험 - 인간관계편',
    description: '개인적으로 마음에 든 『세상에서 가장 재미있는 61가지 심리실험 - 인간관계편』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/400x0/pdt/9791188635160.jpg',
        title: '세상에서 가장 재미있는 61가지 심리실험 - 인간관계편',
        author: '이케가야 유지',
        publisher: '사람과나무사이',
        isbn: '979-11-88635-16-0 (03180)',
        date: '2019.02.25',
    })

    h1 독서 기록
    ul 
        li 관광객에게 사진을 찍어주고 구매를 요청할 때, 가격을 미리 정하는 것보다 "마음에 드는 가격"을 자유롭게 지불할 수 있도록 하는 쪽이 매출이 더 높다

        li '거짓말하지 마셍'보다 '거짓말쟁이가 되지 마세요'가 더 효과적이다
