include ../../../source/skeleton.pug

+post({
    title: '아는 만큼 보이는 세상 : 물리편',
    description: '개인적으로 마음에 든 『아는 만큼 보이는 세상 : 물리편』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/117516703/L',
        title: '아는 만큼 보이는 세상 : 물리편',
        author: '가와무라 야스후미',
        publisher: '유노북스',
        isbn: '979-11-92300-51-1 (05400)',
        date: '2023.02.27',
    })

    h1 독서 기록
    ul 
        li 프레넬 렌즈 : 두껍고 무거운 볼록렌즈 대신, 볼록렌즈의 표면 부분만 모아서 조합한 것

        li 얼음 위를 미끄러질 수 있는 이유?
            ul
                li 얼음 내부의 물 분자는 다른 물 분자 4개와 수소 결합하는 반면, 표면에서는 2~3개와만 결합한 분자들이 있어 애초부터 얼음 표면엔 물이 존재한다
                li 얼음에 가한 압력으로 일시적으로 녹는 점이 낮아진다
