include ../../../source/skeleton.pug

+post({
    title: 'AI 시대의 플랫폼 비즈니스',
    description: '개인적으로 마음에 든 『AI 시대의 플랫폼 비즈니스』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/143918723/L',
        title: 'AI 시대의 플랫폼 비즈니스',
        author: '김기훈',
        publisher: '토트',
        isbn: '979-11-94175-20-9 (05320)',
        date: '2025.04.15',
    })

    h1 독서 기록
    ul 
        li 플랫폼 : 서로 다른 사용자 그룹을 연결하는 주체. 사용자 그룹의 크기가 커질수록 효용이 커져야 -- 동일 그룹 내에서건, 다른 사용자 그룹에서건 -- 플랫폼이 지속 가능하다

        li 2003년 출시된 마이스페이스가 이미 광고를 노출하고 있을 때, 페이스북은 광고주 그룹을 끌어들여 플랫폼이 될 시점을 미루었다

        li 에어비앤비가 플랫폼을 시작할 때 먼저 확보해야 하는 사용자 그룹은 여행객보다는 집주인 -- 따라서 집주인에게 더 낮은 수수료를 책정
