include ../../../source/skeleton.pug

+post({
    title: '어떻게 살인자를 변호할 수 있을까?',
    description: '개인적으로 마음에 든 『어떻게 살인자를 변호할 수 있을까?』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/4362700/L',
        title: '어떻게 살인자를 변호할 수 있을까?',
        author: '페르디난트 폰 쉬라크',
        publisher: '(주)웅진씽크빅',
        isbn: '978-89-01-16950-7 (05340)',
        date: '2010.11.08',
    })

    h1 독서 기록
    ul 
        li 어떤 경관은 대법원 판사에게, 변호사는 정의라는 이름의 자동차에 장착된 브레이크처럼 자꾸 제동만 건다는 말을 한 적이 있다. 이때 법관은 브레이크가 없는 자동차가 얼마나 위험하겠느냐고 반문했다. 형사 재판은 이런 힘겨루기의 테두리 안에서만 이뤄질 수 있다

        li 변호사가 증인 심문을 할 때 지켜야 할 원칙은 답을 알 수 없는 질문을 하지 않는 것이다. 깜짝 놀랄 만한 새로운 사실이 밝혀지는 게 언제나 기분 좋은 일은 아니며, 의뢰인의 운명을 가지고 게임을 벌여서는 안 된다

        li 우선 잡아두고 보는 게 검찰이 일하는 방식이다. 또 그게 많은 경우 도움이 된다는 사실도 부정할 수는 없었다

        li 만취한 취객을 상대로 정당방어 운운할 수는 없기 때문이다. 만취한 사람은 상대방의 생명을 위협할 수 있을 정도로 폭력을 생사할 수 없다 -- 피할 수 있다고 본 판례가 있다

        li 변호사는 의뢰인의 비밀을 지켜 줘야 할 의무가 있습니다 ... 당신 부모도 우리가 이런 얘기를 나눈 것을 전혀 알 수 없습니다
            p 그렇다면 이 책은?

        li 미국이나 영국과 달리 독일에서 검사는 당파적 입장을 취해서는 안 된다. 검사는 어디까지나 중립적이어야 한다 ... 그래서 독일 검사에게 승소냐 패소냐 하는 것은 별 의미가 없다. 검사는 법을 지키는 데 충실하면 그만이다
            p 그러고 보면 검사보다는 변호사가 많은 경우 더 쉬운 직업이다. 변호사로서 내 임무는 의뢰인의 편을 들어주는 것이다

        li 한 인간이 자신의 행동에 얼마나 책임을 질 수 있는가에 따라 처벌을 한다. 같은 죄라고 해도 그 배경에 따라 형량이 달라지는 것이다. 그래서 복잡하다
            p 옛날에야 간단했다. 중세에는 남의 물건을 훔친 사람은 손목이 날아갔다. 각각의 범죄 행위에는 그에 딱 맞춤한 형벌이 정해져 있었다
