include ../../../source/skeleton.pug

+post({
    title: '모던 타임스',
    description: '개인적으로 마음에 든 『모던 타임스』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/40948665/L',
        title: '모던 타임스',
        author: '이사카 코타로',
        publisher: '(주)웅진씽크빅',
        isbn: '978-89-01-21709-3 (05830)',
        date: '2017.05.19',
    })

    h1 독서 기록
    ul 
        li 아내는 결혼한 적도 있었다. 물론 결혼한 뒤에 알았다. 본적을 옮기면 호적에서 결혼 이력을 지울 수 있다는 사실도 그때 알았다

        li 바람피우면 어째서 죽거나 행방불명되는지 이해되지 않았지만, '비온 뒤에 땅이 굳는 법'이라는 자연의 섭리라도 말하듯 당연한 이치라는 식의 분위기라, 더는 질문하지 않았다.
            p 아니, 사실 그때 나는 간 크게도 질문을 더하기는 했다. "전남편들이 사라진 게 당신과 관련이 있는 거야?"

        li "그래 됐어" 하고는, 짝꿍인 여자 아이에게 필통을 던지고 치마를 걷어 정말로 울리고 말았다. "어차피 했다는 소시를 들은 텐데 진짜 하는 게 낫지"

        li "지금까지 말한 진상은 체인지입니다. 마음에 안 들어요."
