include ../../../source/skeleton.pug

+post({
    title: '종교에 관한 50가지 오해',
    description: '개인적으로 마음에 든 『종교에 관한 50가지 오해』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788984318731.jpg',
        title: '종교에 관한 50가지 오해',
        author: '존 모리얼, 타마라 손',
        publisher: '한겨레출판(주식회사)',
        isbn: '978-89-8431-873-1 (03200)',
        date: '2015.01.23',
    })

    h1 독서 기록
    ul 
        li 삶 속에서 '종교적인 것'이라는 범주에 속하는 것들이 그 범주에 속하지 않는 여타의 것들과 구별될 수 있는가?
            ul
                li 여러 언어에는 심지어 '종교'라는 말에 해당하는 단어가 존재하지 않으며, 그 말은 성서나 코란에도 없다
                li 종교라는 개념은 1500년대 유럽에서 교회 권력과 세속 권력의 영역을 구분하기 위한 수단의 일환으로 처음 도입되었다
                    p 그들은 교회 공직자들의 활동을 '내세', 즉 영원한 세계를 다루는 일로 제한하고자 했다
                li 삶이 세속 영역과 종교 영역으로 분리되는 현상은 유럽 이외의 여러 다른 지역에서는 일어나지 않았다

        li 여러 종교들은 물질적인 것과 영적인 것을 구별하지 않는다
            ul
                li 아메리카와 아프리카의 여러 전통적 종교들은 애니미즘, 즉 모든 사물에 영이나 영혼이 있다는 믿음을 갖고 있다. 여기에서 영들은 비물질적인 '영적' 영역의 일부가 아니다
                li 도교와 유교는 만물이 존재하는 곳곳에 도가 있다는 세계관을 공유한다. 그것은 별개의 비물질적 영역이 아니라 만물이 존재하는 곳곳에 있다
                li 초기 성서 문헌에서도 영적인 것과 물질적인 것의 구별은 분명하지 않다 ... 천사들과 마찬가지로 악마들이나 악령들은 육체를 가진(보이는) 존재들로 언급된다
