include ../../../source/skeleton.pug

+post({
    title: '지루할 틈 없는 경제학',
    description: '개인적으로 마음에 든 『지루할 틈 없는 경제학』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/108824589/L',
        title: '지루할 틈 없는 경제학',
        author: '테이번 페팅거',
        publisher: 'The Nan :더난콘텐츠(더난콘텐츠그룹)',
        isbn: '979-11-978298-0-2 (03320)',
        date: '2022.04.15',
    })

    h1 독서 기록
    ul 
        li 깨진 유리창 오류
            ul
                li 허리케인으로 모든 집의 유리창이 깨져 집을 다들 수리한다고 GDP가 증가하진 않는다. 그저 다른 곳에 쓸 예정인 돈을 집 수리에 지출할 뿐
                    p 마찬가지로 전쟁이 경제 성장에 주는 장기적인 영향은 자원 낭비, 기회비용 초래, 국토 유린, 시설 파괴, 인명 손실 등으로 늘 부정적이다
                li 하지만 다들 돈을 쓰려고 하지 않는 대공황 상황에서는 유효하다

        li 단기 경제 성장 목적의 정책은 인플레이션을 염두에 두고 이를 역이용하는 행위다. 짧은 기간에는 물가 상승률보다 경제 성장 지수가 눈에 더 잘 띈다
            p ... 정치적 목적을 이루는 데 인플레이션이 거듭 악용되자 선출직 정치인으로부터 비선출 중앙은행 총재에게 인플레이션 통제권이 넘어갔다
