include ../../../source/skeleton.pug

+post({
    title: '지루할 틈 없는 경제학',
    description: '개인적으로 마음에 든 『지루할 틈 없는 경제학』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/108824589/L',
        title: '지루할 틈 없는 경제학',
        author: '테이번 페팅거',
        publisher: 'The Nan :더난콘텐츠(더난콘텐츠그룹)',
        isbn: '979-11-978298-0-2 (03320)',
        date: '2022.04.15',
    })

    h1 독서 기록
    ul 
        li 깨진 유리창 오류
            ul
                li 허리케인으로 모든 집의 유리창이 깨져 집을 다들 수리한다고 GDP가 증가하진 않는다. 그저 다른 곳에 쓸 예정인 돈을 집 수리에 지출할 뿐
                li 하지만 다들 돈을 쓰려고 하지 않는 대공황 상황에서는 유효하다
