include ../../../source/skeleton.pug

+post({
    title: '자연의 예술가들',
    description: '개인적으로 마음에 든 『자연의 예술가들』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_sTqlf7oo5XEaLggnsECfaSOMhemotiLajQ&s',
        title: '자연의 예술가들',
        author: '데이비드 로텐버그',
        publisher: '궁리',
        isbn: '978-89-5820-333-9 (93400)',
        date: '2015.12.05',
    })

    h1 독서 기록
    ul 
        li 보르자는 매든이 연구한 곳으로부터 수백 킬로미터 떨어진 다른 서식지에서는 정자에 불그스름한 분홍색 유리 조각 더미를 갖추고 장식된 "과일의 총량"이 많을수록 가장 높은 짝짓기 성공률을 보였다면서, 성공한 짝짓기의 96퍼센트가 이것으로 설명이 가능하다고 주장했다. 그러나 매든이 관찰한 곳에서는 붉은 빛이 도는 유리는 가장 인기 없는 장식 중 하나였다
            ul
                li 보르자는 항상 정자새의 행동을 합리적이며 환경에 적응하기 위한 것으로 설명하려 애쓴다. 그에게 중요한 것은 정자의 아름다움이 아니라 전체적인 조형물로서의 정자와 거기에서 함께 펼쳐지는 공연이 어떻게 수컷 예술가의 적극성과 경쟁력을 드러내는 데 기여하느냐 하는 것이다
                li 성선택설은 동물이 '왜' 하필 그것을 원하는가에 대해서는 설명할 수 있을지도 모르지만, 그들이 '무엇을' 원하는지에 대해서는 거의 아무것도 말해주지 않는다
                    p 홍관조는 왜 붉은가? 성선택 때문이다. 나이팅게일은 왜 한밤중에 푹 자지 않고 밤새 노래를 부르는가? 성선택 때문이다. 어째서 나비는 그렇게 현란한 색깔을 지니는가? 성선택 때문이다. 그렇다면 이 모든 특질을 설명해줄 수 있는 어떤 특정한 미적 성질이 있는가?
                li 나이팅게일과 혹들고래의 노래에서와 같이 진화 단계가 서로 다른 생명체 사이에서 나타나는 선호의 유사성은 자연이 어떤 특정한 패턴을 다른 패턴보다 선호할 수 있음을 시사하고 있다

        li 그는 성적으로 선택된 특정 형질을 자의적인 것으로 고려하는 것에서부터 시작하자고 말한다. "이 경우에 '자의적'이라는 말은 그 형질이 수컷에 대한 그 어떤 추가 정보도 제공해주지 않는다는 뜻입니다. 그것은 단지 암컷의 선호에 맞는다는 의미일 뿐이지요." ... 우리의 이해는 그곳에서부터 시작돼야 한다 -- 이를 귀무가설로 여겨야 한다
