include ../../../source/skeleton.pug

+post({
    title: '청춘이 사는 법',
    description: '개인적으로 마음에 든 『청춘이 사는 법』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvAai8JEN7zwZqlMu8gkV10oNIPFKNMeLQ8Q&s',
        title: '청춘이 사는 법',
        author: '김민수',
        publisher: '리더스북',
        isbn: '9791195071050',
        date: '2013년 09월 11일',
    })

    h1 독서 기록
    ul 
        li 근로기준법 46조 : 사용자 귀책사유로 근로자의 휴업 상태가 발생하면 휴업수당을 지급해야 한다 -- 일급의 70%
            p '사용자 귀책'에 대해선 해석의 다툼의 여지가 존재
        li 주휴수당
            ul
                li 아래 2가지 조건을 모두 만족해야 한다
                    ul
                        li 1주에 15시간 이상 근무
                        li 1주의 예정된 근무일에 대해 만근
                li 지급 금액 = 1주 근로시간 / 5 * 시급
                    p 주 5일 근무 기준으로 하루 일당을 지급해야 한다
        li 근로시간
            ul
                li 휴게시간은 근로시간으로 산입되지 않음을 악용하는 사업자가 존재
                li 근로기준법 50조 3항 : 근로자가 사용자의 지휘, 감독 아래 있는 대기시간 등은 근로시간으로 본다
        li 산업재해는 근로자의 과실 여부와 무관하게 사업주가 책임을 진다
            ul
                li 근로자는 사업주와 설전을 벌일 필요 없이 근로복지공단에 산업재해 신청을 하면 된다
                li 사업주가 산재 보험을 들지 않더라도 신청하는 데는 문제가 없다 -- 사업주에게 더 많은 부담금이 부과된다
        li 근로기준법 60조 : 1년간 80% 이상 출근한 근로자에게 15일의 유급휴가를 주어야 한다
        li 사유적 정당성과 절차적 정당성을 모두 충족하지 못하면 부당해고
            ul
                li 고용노동부 > 부당해고 구제신청. 해고 시점부터 부당해고를 인정받은 날까지의 임금을 받을 수 있다
                li 고용보험에 가입하지 않았더라도, 고용보험 > 개인서비스 > 피보험자 청구, 신고 메뉴에서 그간의 취업 상태를 증명하고 보험료를 납입하면 구직급여를 받을 수 있다
        li 주택임대차보호법 4조
            ul
                li 기간을 정하지 아니하거나 2년 미만으로 정한 임대차는 그 기간을 2년으로 본다. 다만, 임차인은 2년 미만으로 정한 기간이 유효함을 주장할 수 있다
                li 임차인이 보증금을 반환받을 때까지는 임대차관계가 존속되는 것으로 본다
        li 민법 632조 : 전3조의 규정은 건물의 임차인이 그 건물의 소부분을 타인에게 사용하게 하는 경우에 적용하지 아니한다
            p 룸메이트를 들이는 데 집주인 허락은 필요 없다
