include ../../../source/skeleton.pug

+post({
    title: '경제신문이 말하지 않는 경제 이야기',
    description: '개인적으로 마음에 든 『경제신문이 말하지 않는 경제 이야기』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg-HF19uFQDmqu1_HOuZYOnOmIpFNpsIBGxg&s',
        title: '경제신문이 말하지 않는 경제 이야기',
        author: '임주영',
        publisher: '민들레북',
        isbn: '9791198362841',
        date: '2024년 01월 15일',
    })

    h1 독서 기록
    ul 
        li 자원의 역설 : 석유를 팔아 달러가 쌓이면, 자국 통화가치가 오르고 수입품 가격은 낮아져 결국 물품 대부분을 수입에 의존하게 된다 -- 국내 제조업, 농업, ... 몰락
        li 대우조선해양
            ul
                li 분식회계사기로 천문학적 규모의 성과급 잔치를 벌인 기업에 공적자금이 10조원 가까이 투입
                li 한편 정부는 하청업체 파업에 공권력을 투입하겠다는 으름장으로 노조가 사측 요구안에 도장을 찍게 만듦
                li 대우조선해양은 하청업체에 파업으로 인한 470억원 규모의 손해배상청구 소송 제기
        li 스웨덴의 Walter Korpi와 Joakim Palme 교수는 유럽 11개국 자료를 분석하여 발표한 논문 &lt;재분배의 역설&gt; 에서, 저소득 선별복지에 집중하는 국가일수록 오히려 저소득층에 돌아가는 복지 혜택이 줄어든다는 것을 보였다
            ul
                li 선별적 복지가 강화되면 중산층과 고소득층은 혜택 없이 세금만 부담하게 되어, 조세저항을 부추기게 된다
                li 복지를 어떻게 하는 것보다 부정부패를 근절하는 것이 GDP 5% 이상의 경제적 손실을 줄이는 길
        li 2019년 일본의 수출규제
            ul
                li 물건을 팔지 않겠다는 수출규제는 이례적. 2010년 중국이 희토류 수출 중단 위협에 진 것을 참고한 것이지만, 원자재가 아닌 부품은 대체가 용이
                li 일본의 경제 공격은 정부의 무능 때문이라고 비판하는 보수 정당, 언론도 비상식적
        li 샤워실의 바보 : 뜨거운 물을 틀었는데 너무 뜨거워 차가운 물을 틀고, 그런데 너무 차가워 다시 뜨거운 물을 틀고, 그렇게 반복하다가 결국 샤워도 못하고 말죠
            p 정부 정책이 왔다 갔다 하면서 효과를 내지 못하는 것을 비판할 때 쓰는 말입니다
        li 이상한 일이 벌어집니다. 경기 침체를 예상하며 '금리를 내려줄 것이다', '돈을 풀어줄 것이다' 이런 기대가 넘쳐나기 시작합니다. ... 금리가 내리기 전에, 다시 주가가 오르기 전에 남들보다 한 발 빨리 주식을 사고 채권을 사야 합니다. 다시 주가가 오르고 채권 가격이 올라갑니다
