include ../../../source/skeleton.pug

+post({
    title: '고소의 기술',
    description: '개인적으로 마음에 든 『고소의 기술』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791164847211.jpg',
        title: '고소의 기술',
        author: '현창윤, 김건우',
        publisher: '매일경제신문사',
        isbn: '9791164847211',
        date: '2024년 10월 30일',
    })

    h1 독서 기록
    ul 
        li 형사 사건 피의자 조사
            ul
                li 수사관에게 전화가 오면 조사 일정을 일단 미루자
                li 고소장을 확보하고 무죄를 주장할 지, 선처를 바랄 지 결정
                li 내 주장을 증명해 줄 수 있는 사람이 있다면 미리 사실확인서를 받아두는 것이 좋다
                li 고소인/피해자가 상세히 진술한 부분에 대해 무턱대로 모른다고 하면 심증만 안 좋아진다 -- 최대한 기억을 떠올리려는 노력을 보여야 한다
        li 형사 재판이 열리게 됐다면 증거기록을 열람해서 정보를 얻는다
        li 고소장은 육하원칙보다 범죄 구성요건을 중점적으로 작성
            ul
                li 112 신고 등으로 진행되는 인지 사건에서는 단순히 '피해자' 입장이므로, 절차에서 더 적극적인 역할을 하고 싶다면 고소를 하자
                li 인지 사건과 달리 고소인은 불기소 처분에 대해 검찰 항고, 항고가 기각된 경우 법원에 재정신청을 할 수 있다
        li 손해액 산정
            ul
                li 적극손해 : 불법행위로 인해 발생한 비용 -- 치료비, 입원비 등
                li 소극손해 : 불법행위로 인해 얻지 못한 이익 -- 휴업손해 등
                li 정신적 손해 : 판사 재량의 여지가 큰 부분이므로 일반적인 경우에 비추어 더 받아야 하는 이유에 대해 정리하여 진술
