include ../../../source/skeleton.pug

+post({
    title: '왜 살인자에게 무죄를 선고했을까?',
    description: '개인적으로 마음에 든 『왜 살인자에게 무죄를 선고했을까?』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/80217936/L',
        title: '왜 살인자에게 무죄를 선고했을까?',
        author: '페르디난트 폰 쉬라크',
        publisher: '갤리온',
        isbn: '9788901237688',
        date: '2019년 10월 23일',
    })

    h1 독서 기록
    ul 
        li 사망한 남성이 뒤에서 쏜 총에 맞았다면... 탄피는 시신의 오른편에 놓여 있어야 합니다

        li 재소자를 향한 여성의 사랑이 현실에서 절대 검증되지 않는 것처럼 마이어벡 씨와 인형의 관계도 결코 현실이 될 수 없죠. 어쩌면 그래서 그의 사랑이 견고하게 지켜질 수 있는 것인지도 모릅니다

        li 지방법원이 음주 운전 혐의로 당신에게 벌금형을 내렸고 오늘은 마약 범죄에 대한 공판이 열렸어야 합니다. ... 우리가 법정에서 범죄라고 부르는 것은 하나의 단일한 사건을 구성하는 범인의 행위를 뜻합니다. 예를 들어, 당신이 자동차를 훔쳐 타고 은행을 습격했다면, 그건 하나의 범행입니다. ... 우리는 그것을 종합하여 한 번만 판결할 수 있습니다

        li (성범죄 사건) 재판장은 증인이 증언하는 동안 피고를 재판에서 배제했다. 재판장에겐 그럴 권한이 있지만 문제는 피고가 다시 법정에 들어오기 전에 증인을 내보낸 것이 착오였다 ... 피고는 증인을 내보낼지 말지를 함께 결정할 수 있고 함께 결정했어야 했다
            p 넉 달 후 연방법원은 1심 판결에 대한 파기 환송을 결정했다. ... 새로 시작된 재판에 증인은 나타나지 않아 ... 익명의 제보자가 경찰에게 그 젊은 여성은 첫 재판에서 증언한 후 살해되어 쓰레기장에 버려졌다고 주장했지만 증거를 내놓지는 못했다. 며칠 후 판사는 피고의 무죄 방면을 선고했다
