include ../../../source/skeleton.pug

+post({
    title: '변론을 시작하겠습니다',
    description: '개인적으로 마음에 든 『변론을 시작하겠습니다』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791192519159.jpg',
        title: '변론을 시작하겠습니다',
        author: '정혜진',
        publisher: '미래의창',
        isbn: '9791192519159',
        date: '2022년 09월 19일',
    })

    h1 독서 기록
    ul 
        li 2017년 처음으로 수용자 자녀 인권 상황 실태 조사를 했다. 이에 따르면 1년에 5만 명 이상의 아이들이 부 또는 모의 수감을 마주한다 ... 그러나 수용자 자녀를 지원하는 규정은 없다

        li 내가 한 게 아니라고 했다가 맞다고 했다가 또 아니라고 하는 모양새였다. ...아들의 말을 들으며 아들이 내게 준 병원 서류를 다시 뒤적였다. 그제야 진단명이 눈에 들어왔다. 파킨슨병에서의 치매
