include ../../../source/skeleton.pug

+post({
    title: '중세의 뒷골목 풍경',
    description: '개인적으로 마음에 든 『중세의 뒷골목 풍경』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788996537137.jpg',
        title: '중세의 뒷골목 풍경',
        author: '양태자',
        publisher: '이랑',
        isbn: '9788996537137',
        date: '2011년 11월 30일',
    })

    h1 독서 기록
    ul 
        li 먼저 마을을 거쳤던 유랑인은 후에 온 사람에게 숙식에 관한 정보를 이런저런 은어로 제공했다 ... 어느 집에서 가장 배부르게 얻어먹을 수 있는지, 들어가서는 절대 안 되는 선술집은 어디인지

        li 유랑인들은 이 마을 저 마을로 다니면서 특별한 물건을 팔곤 했는데 가장 인기 있는 것은 성인의 유골이었다. 당시 교회는 라틴어로 미사를 진행했는데 알아듣지 못하는 사람들이 많았다. 사람들은 자연히 어려운 교리나 의식보다는 눈에 보이는 성물에 관심을 가졌다

        li 부자는 거지에게 자선을 베풂으로써 천국으로 들어갈 수 있다고 믿었다 ... 거지들은 구걸하면서도 당당하게 "신이 갚아줄 것이다"라고 소리쳤다

        li 증서 없이 불법으로 구걸하는 이가 발각되면 성 밖으로 쫒아냈다 ... 1550년 독일 뮌스터에서는 거지가 늘어나자 구걸하는 시간을 법으로 정했다

        li 술집에 있는 것을 용인받았다 해도 한 귀퉁이에 놓인 의자와 탁자에 따로 떨어져 앉아야만 했다. 술집에는 사형집행인만 쓰는 식기와 컵이 가게 벽에 사슬로 묶여 따로 걸려 있곤 했다

        li 14세기부터 유럽에서는 유대인을 강제적으로 어떤 특정 장소에 모여 살게 법으로 정했다. 이 장소가 바로 유대인들의 군집 지역인 게토다
            p 유럽인이 유대인에게 붙여준 명칭은 매우 고약했다. '우물에 독약 넣은 이'(페스트 시기), '인류의 적', '신을 살해한 자', '고리 대금업자' 등
