include ../../../source/skeleton.pug

+post({
    title: '녹슨 도르래',
    description: '개인적으로 마음에 든 『녹슨 도르래』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/89580980/L',
        title: '녹슨 도르래',
        author: '와카타케 나나미',
        publisher: '내친구의서재',
        isbn: '9791196184384',
        date: '2020년 03월 25일',
    })

    h1 독서 기록
    ul 
        li 이웃의 에피소드 도둑을 조종했다.
            p "미쓰에 씨가 빨간 등유 난로를 히로토의 집으로 가져갔더라고요."
            p 이런 식으로 말이다. 설사 미쓰에가 그 사실을 부정하더라도 아들과 손자를 잇달아 잃은 고령 여성의 말보다 제삼자의 목격 증언 쪽을 믿을 것이다
