include ../../../source/skeleton.pug

+post({
    title: '우리 몸 오류 보고서',
    description: '개인적으로 마음에 든 『우리 몸 오류 보고서』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788972916741.jpg',
        title: '우리 몸 오류 보고서',
        author: '네이선 렌츠',
        publisher: '까치 :까치글방',
        isbn: '978-89-7291-674-1 (03470)',
        date: '2018.10.10',
    })

    h1 독서 기록
    ul 
        li 영장류 조상이 굴로 유전자 돌연변이로 비타민 C 합성 능력을 잃어도 영향이 없었던 이유는 비타민 C가 들어 있는 먹이를 먹고 있었기 때문
            p 그 뒤로 인간을 제외한 영장류는 우림 기후를 떠나지 않았다 -- 어쩌면 떠나지 못했다

        li 비타민 K는 장내 세균이 만들기 때문에, 우리는 장에서 흡수하기만 하면 된다 ... 비타민 B12도 장내 세균이 만들기는 하지만, 음식물을 통해 섭취해야 한다. 왜 그럴까?
            p 세균이 비타민 B12를 만드는 곳은 대장이지만 우리가 흡수하는 곳은 소장이기 때문

        li DNA 복제 과정에서 발생하는 무작위 오류는 다양성과 혁신을 낳는다 ... 암은 이로 인해 발생하는 필연적인 부산물이다
