include ../../../source/skeleton.pug

+post({
    title: '이기적 유전자',
    description: '개인적으로 마음에 든 『이기적 유전자』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/65067259/L',
        title: '이기적 유전자',
        author: '리처드 도킨스',
        publisher: '을유문화사',
        isbn: '978-89-324-7390-1 (03470)',
        date: '2018.10.20',
    })

    h1 독서 기록
    ul 
        li 집단선택설 : 생물은 '종의 이익을 위하여' 또는 '집단의 이익을 위하여' 행동하도록 진화한다는 오해
            ul
                li 어느 수준의 이타주의가 바람직한가? 가족, 국가, 인종, 종? 왜 사자는 포유강의 이익을 위해 영양을 죽이지 않으리라고 예측할 수 없을까?
                li 나는 선택의 기본 단위, 즉 이기성의 기본 단위가 종도 집단도 개체도 아닌, 유전의 단위인 유전자라는 것을 주장할 것이다
                li 유전자에 대해 모든 사람이 동의하는 정의는 없다 ... 여기서 내가 사용하고 싶은 정의는 윌리엄스의 정의다. 유전자는 자연선택의 단위로서 그 역할을 할 수 있을만큼 긴 세대에 거쳐 지속될 수 있는 염색체 물질의 일부
                    ul
                        li 유전자는 더 이상 나눌 수 없는 존재는 아니지만 좀처럼 쪼개지지 않는다
                        li 유전자의 기대 수명은 10년 단위가 아닌, 1백만 년 단위로 측정되지 않으면 안 된다
