include ../../../source/skeleton.pug

+post({
    title: '생명의 경계',
    description: '개인적으로 마음에 든 『생명의 경계』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://product.kyobobook.co.kr/detail/S000001708314',
        title: '생명의 경계',
        author: '칼 짐머',
        publisher: 'Bronstein :로크미디어',
        isbn: '979-11-354-7637-2 (03470)',
        date: '2022.04.20',
    })

    h1 독서 기록
    ul 
        li 정자와 난자가 수정되는 순간부터 생명이 시작된다 = 인권이 부여된다
            p 수정란은 앞으로의 발달 과정을 지휘할 고유의 DNA 집합을 가졌기 때문에, 인간을 인간답게 만드는 모든 능력에 대한 잠재력을 갖추고 있다
            ul
                li 한편, 정자가 난자와 결합하는 순간엔 염색체가 69개다. 염색체가 69개인 세포는 절대 건강한 인간으로 자랄 수 없다
                    ul
                        li 난자는 정자가 도착하면 작은 거품을 떼어내 자신의 염색체 23개를 실어 내보낸다. 하지만 이 시점에도 수정란은 단일 유전체라 부를 수 없다. 엄마의 염색체와 아빠의 염색체는 자신의 막에 갇혀 서로 분리되어 있다
