include ../../../source/skeleton.pug

+post({
    title: '생명의 경계',
    description: '개인적으로 마음에 든 『생명의 경계』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791135476372.jpg',
        title: '생명의 경계',
        author: '칼 짐머',
        publisher: 'Bronstein :로크미디어',
        isbn: '979-11-354-7637-2 (03470)',
        date: '2022.04.20',
    })

    h1 독서 기록
    ul 
        li 정자와 난자가 수정되는 순간부터 생명이 시작된다 = 인권이 부여된다?
            p 수정란은 앞으로의 발달 과정을 지휘할 고유의 DNA 집합을 가졌기 때문에, 인간을 인간답게 만드는 모든 능력에 대한 잠재력을 갖추고 있다?
            ul
                li 정자가 난자와 결합하는 순간엔 염색체가 69개다. 염색체가 69개인 세포는 절대 건강한 인간으로 자랄 수 없다
                    ul
                        li 난자는 정자가 도착하면 작은 거품을 떼어내 자신의 염색체 23개를 실어 내보낸다. 하지만 이 시점에도 수정란은 단일 유전체라 부를 수 없다. 엄마의 염색체와 아빠의 염색체는 자신의 막에 갇혀 서로 분리되어 있다
                        li 그러다 수정란이 두 개의 세포로 분열한다. 이 각각의 세포는 아빠와 엄마 양쪽 염색체를 모두 물려받는다. 하지만 새로운 배아는 아직 분자적 독립성을 갖추지 못한다. 이 세포의 거의 모든 단백질은 엄마의 유전자로 부호화되고, 만들어져 물려받은 것이다
                        li 난자 안에는 엄마의 유전자로 만들어진 특별한 암살 단백질 세트가 들어 있다. 이 단백질이 배아 세포를 돌아다니며 다른 단백질들을 몰살시킨다. ... 잔해를 이용해서 단백질을 새로 구축한다
                li 일란성 쌍둥이: 배아가 둘로 나뉘어 각자 평범한 배아로 자라날 수 있다
                    p 배아가 곧 사람이라면, 한 사람이 두 사람으로 바뀔 때 원래 사람은 어디로 가는 것일까?
                li 이란성 쌍둥이: 가끔 이 쌍둥이가 아주 작은 세포 덩어리에 불과할 때 서로 만나 합쳐지는 경우가 있다. 이 세포들은 유연성이 크기 때문에 스스로 단일 배아로 재조직되어 정상적인 발달 과정을 이어간다
                    p 키메라는 건강한 성인으로 자랄 수 있으며 평생 별개의 유전체를 가진 두 집단의 세포로 이루어지게 된다. 키메라에게는 2장의 투표권이 주어져야 할까?
                li 시험관아기 시술 시, 의사는 일반적으로 배아를 여러 개 만든다. ... 의사는 착상 성공 가능성이 제일 높은 배아를 고르고 나면 나머지는 얼려 두거나 폐기한다
                    p 배아도 사람이기 때문에 낙태가 정당화될 수 없다면, 시험관 시술에서 남은 배아를 죽게 놔두는 것도 정당화될 수 없다
                li 세포 재프로그래밍으로 체세포를 배아로 발달하게 할 수 있다

        li 뇌 오가노이드가 복잡해짐에 따라 그들에 대한 우리의 도덕적 의무가 무엇인지 판단 내리기가 특히나 어려워질 것이다

        li 1948년 센트죄르지 얼베르트는 생명의 특징이 자가번식이라면, 토끼가 한 마리만 있는 경우는 생명이 아닌 것이 된다고 했다
            ul
                li 아마존 몰리는 두 마리 있어도 번식할 수 없다
                    ul
                        li 애틀랜틱 몰리와 세일핀 몰라의 이종교배를 통해 진화해 나온 아마존 몰리는 암컷만 존재한다
                        li 애틀랜틱 몰리나 세일핀 몰리의 정자가 아마존 몰리 난자에 도달하면 융합 과정을 통해 자기 유전자를 안으로 주입했다. 하지만 난자 속에 있는 효소가 DNA를 잘게 잘라 버린다. 아마존 몰리에게 수컷이 필요한 이유는 단 하나, 난자가 배아로 자라날 수 있도록 방아쇠를 당기는 역할뿐

        li 비샤의 생명의 삼각대의 세 개 다리 중 하나를 잃으면 필연적으로 죽음이 찾아온다고 생각하던 때가 있었다. 하지만 이제는 산소호흡기가 비샤의 법칙의 근거를 약화시키면서 새로운 종류의 생명을 탄생시키고 있다
            ul
                li 이들은 몇 달에 걸쳐 치열히 논쟁했고 결국 합의에 도달해서 1968년 &lt;미국 의학 협회지&gt;에 보고서를 발표했다 : 사망을 선고하는 새로운 기준으로 뇌의 사망을 제시
                li 이들은 큰 의문을 제기했으나 그 답은 미답 상태로 내버려 두었다. 예를 들면 위원회는 뇌사증후군이 있는 사람은 의식을 회복할 희망이 전혀 없다고 주장했는데, 그렇다면 의식이 생명의 본질이라는 말인가?
                li 네일라가 자히에게 손가락을 움직여 보라고 하자 손가락이 움직이는 것이 아비브의 눈에 보였다. 순간이지만 주체적 행위가 이루어진 것처럼 보였다
                li 자히 맥매스 사례는 뇌사의 의미에 대한 논쟁을 불러일으켰다. 논쟁이 펼쳐질수록 낙태 논쟁과 아주 비슷하게 흘러가고 있음이 분명해졌다. 이것은 결국 살아 있다는 것의 의미, 특히 사람이 살아 있다는 의미를 무엇이라 생각하는지에 대한 문제로 귀결됐다

        li 클레랜드는 말했다. "우리는 생명이라는 단어가 우리에게 의미하는 바를 알고 싶은 것이 아니라 생명이 무엇인지 알고 싶은 것입니다"
            p 현대적인 화학의 시대가 열리기 전에는 연금술사들도 지금의 생물학자가 생명을 정의하려는 것과 마찬가지 방법으로 물을 정의하려 했다. 물이 가진 속성의 목록을 나열한 것이다
