include ../../../source/skeleton.pug

+post({
    title: '딜레마',
    description: '개인적으로 마음에 든 『딜레마』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791130600789.jpg',
        title: '딜레마',
        author: '뤼방 오지앙',
        publisher: '(주식회사)다산북스',
        isbn: '979-11-306-0078-9 (03190)',
        date: '2013.11.22',
    })

    h1 독서 기록
    ul 
        li 사람을 죽이는 것과, 죽게 내버려두는 것은 결과가 같으니 같은 행동일까?
            ul
                li 의도가 중요하다면: 유산을 상속받기 위해 직접 죽이는 것과, 유산을 상속받기 위해 죽어가는 부모를 방치하는 것은 같은 행동일까?
                li 혹시 대상이 극악무도한 사람이라면 어느 쪽이든 정당화될까?
                li 컴퓨터 마우스를 클릭하는 것만으로 어린아이의 생명을 구할 수 있다면, 마우스를 클릭하지 않는 것과 어린아이를 죽게 내버려두는 것 사이에 차이가 있을까?
                li 칸트는 어떤 예외도 용납될 수 없는 도덕적 의무를 주장한다. 살인자들이 집 앞에 찾아와 자기들이 쫓는 사람이 집 안에 있느냐고 물어도 거짓말을 해서는 안 된다
                    ul
                        li 소극적 책임감 배제 : 다른 사람들이 우리를 이용해서 저지른 부도덕한 행위에 책임감을 느낄 필요가 없다
                        li 소극적 책임감 용인 : 우리가 기아를 직접 유발하지 않았다고, 상황을 변화시키기 위해 행동에 나서지 않는 것은 잘못이다 -- 책임감을 느껴야 한다

        li 다수를 구하기 위해 1명을 죽이는 것은 괜찮을까?
            ul
                li 응답자 89%가 전차의 진로를 변경해 1명을 죽이는 것은 괜찮다고 응답한 반면, 전차를 멈출 정도로 뚱뚱한 1명을 밀어뜨려 전차를 멈추는 것은 11%만이 괜찮다고 했다
                li 이중 효과의 독트린 : 행위자가 선한 목표로 행한 것이라면, 사이드 이펙트로 악한 결과가 있더라도 그 행위는 도덕적으로 허용된다고 주장
                    p 따라서 사람을 밀어뜨려 열차를 멈추는 것과, 어쩔 수 없는 부수 효과로 죽는 것은 도덕적으로 다른 행위다
