include ../../../source/skeleton.pug

+post({
    title: '공감은 지능이다',
    description: '개인적으로 마음에 든 『공감은 지능이다』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791156758730.jpg',
        title: '공감은 지능이다',
        author: '자밀 자키',
        publisher: '심심 :푸른숲',
        isbn: '979-11-5675-873-0 (03180)',
        date: '2021.04.19',
    })

    h1 독서 기록
    ul 
        li 집행 과정에서 희생자에게 가까이 다가가는 집행관일수록 사형수들을 인간이 아닌 존재로 보는 정도가 심했다

        li 남에게 고통을 초래하는 일은 사람들을 자신의 공감 범위 왼쪽으로 몰고 가 배려를 더욱 어렵게 만들지만, 크나큰 고통을 감내한 사람들의 경우 공감이 더욱 깊어지는 경우가 많다
            p 연구자들이 돈을 선물로 주었을 때, 그들은 전쟁에 시달리지 않은 지역의 사람들보다 그 돈을 마을 사람과 함께 나누는 경우가 훨씬 많았다
