include ../../../source/skeleton.pug

+post({
    title: '왜곡하는 뇌',
    description: '개인적으로 마음에 든 『왜곡하는 뇌』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/400x0/pdt/9791185415536.jpg',
        title: '왜곡하는 뇌',
        author: '다이애나 도이치',
        publisher: '에이도스(에이도스출판사)',
        isbn: '979-11-85415-53-6 (93400)',
        date: '2023.02.23',
    })

    h1 독서 기록
    ul 
        li 요약하자면, 앞족 벨트의 뉴런들은 제시되는 소리가 '무엇'인지에 선택적으로 반응한 반면, 뒤쪽 벨트의 뉴런들은 소리가 '어디'에서 들려오는지에 선택적으로 반응했다
