include ../../../source/skeleton.pug

+post('1003 풀이', 'algorithm, judge.koreatech, 1003', 'judge.koreatech.ac.kr 1003 풀이')
    h1 1003: 0을 만들자 - Small
    div
        p 길이 n인 정수 순열이 주어 졌을 때, 그 안에 숫자를 3개 골라서 합이 0(Zero) 이 되는 조합이 몇 개 있는지 출력하는 프로그램을 만들어 주세요
        h2 풀이
        p 조합은 순서와 상관이 없으므로, a &lt;= b &lt;= c를 만족하는 (a, b, c)들만 찾으면 된다. 이를 순서대로 (small, center, big)이라고 할 때, big = -(small+center)가 성립하므로,
        ol
            li small &lt; center &lt; big인 경우 : 전체 수열에서 big이 적어도 한번 등장하는지 체크한다. e.g. (-1, 0, 1)
            li small &lt; center = big인 경우 : 전체 수열에서 big이 적어도 두번 등장하는지 체크한다. e.g. (-2, 1, 1)
            li small = center = big인 경우 : 전체 수열에서 big이 적어도 세번 등장하는지 체크한다. e.g. (0, 0, 0)
            li small = center &lt; big인 경우 : 전체 수열에서 big이 적어도 한번 등장하는지 체크한다. e.g. (-1 , -1, 2)
        p 예시 코드 : 
            +codeBtn('/Repositories/STS/standalones/src/main/java/link4/joy/koreatech/Main1003.java', 'java')
