include ../../../source/skeleton.pug

+post('1008 풀이', 'algorithm, judge.koreatech, 1008', 'judge.koreatech.ac.kr 1008 문제 풀이')
    h1 1008: 순환 소수
    div
        p 두 정수 A, B 가 주어졌을 때 A를 B로 나눈 결과(A/B)를 순환 소수 형태로 출력하세요
        h2 풀이
        p 정수부는 그대로 출력하고, 소수부는 한자리씩 생성한다. 동일한 나머지가 발생하는 순간이 순환마디의 종료
            +codeBtn('/Repositories/STS/standalones/src/main/java/link4/joy/koreatech/Main1008.java', 'java')
