include ../../source/skeleton.pug
+post({
    title: 'Heroku',
    description: 'Heroku 관련 사항 정리'
})
    h1 특이 현상
    div
        h2 빈번한 재시작
        p 기본 재시작 주기는 1일이지만, 2시간, 10분 만에 SIGTERM 신호를 보내는 경우가 존재함
        +asCode('shell').
            $ date
            Thu Nov 10 11:31:15 KST 2022
            
            $ heroku logs --app=xxx
            2022-11-04T15:42:53.188721+00:00 heroku[web.1]: Cycling
            2022-11-04T15:42:53.191834+00:00 heroku[web.1]: State changed from up to starting
            2022-11-04T15:42:54.745019+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-04T15:42:54.935443+00:00 heroku[web.1]: Process exited with status 143
            2022-11-04T15:43:04.647817+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-04T15:43:07.865400+00:00 app[web.1]: Express server listening on 26655
            2022-11-04T15:43:08.358056+00:00 heroku[web.1]: State changed from starting to up
            
            2022-11-05T15:59:52.193485+00:00 heroku[web.1]: Cycling
            2022-11-05T15:59:52.199264+00:00 heroku[web.1]: State changed from up to starting
            2022-11-05T15:59:52.827689+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-05T15:59:53.127857+00:00 heroku[web.1]: Process exited with status 143
            2022-11-05T16:00:03.219442+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-05T16:00:05.914223+00:00 app[web.1]: Express server listening on 27518
            2022-11-05T16:00:06.014664+00:00 heroku[web.1]: State changed from starting to up
            
            2022-11-06T16:28:34.682573+00:00 heroku[web.1]: Cycling
            2022-11-06T16:28:34.684590+00:00 heroku[web.1]: State changed from up to starting
            2022-11-06T16:28:35.298049+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-06T16:28:35.536632+00:00 heroku[web.1]: Process exited with status 143
            2022-11-06T16:28:46.543968+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-06T16:28:49.632588+00:00 app[web.1]: Express server listening on 46591
            2022-11-06T16:28:50.176669+00:00 heroku[web.1]: State changed from starting to up
            
            2022-11-07T17:03:23.014423+00:00 heroku[web.1]: Cycling
            2022-11-07T17:03:23.018550+00:00 heroku[web.1]: State changed from up to starting
            2022-11-07T17:03:23.773273+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-07T17:03:23.997377+00:00 heroku[web.1]: Process exited with status 143
            2022-11-07T17:03:35.633367+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-07T17:03:38.101356+00:00 app[web.1]: Express server listening on 12207
            2022-11-07T17:03:38.542343+00:00 heroku[web.1]: State changed from starting to up
            
            2022-11-08T17:44:34.257748+00:00 heroku[web.1]: Cycling
            2022-11-08T17:44:34.260294+00:00 heroku[web.1]: State changed from up to starting
            2022-11-08T17:44:34.961998+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-08T17:44:35.349123+00:00 heroku[web.1]: Process exited with status 143
            2022-11-08T17:44:44.719748+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-08T17:44:47.333908+00:00 app[web.1]: Express server listening on 14749
            2022-11-08T17:44:47.536761+00:00 heroku[web.1]: State changed from starting to up
            
            2022-11-09T18:05:53.566487+00:00 heroku[web.1]: Cycling
            2022-11-09T18:05:53.569847+00:00 heroku[web.1]: State changed from up to starting
            2022-11-09T18:05:54.158427+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-09T18:05:54.634928+00:00 heroku[web.1]: Process exited with status 143
            2022-11-09T18:06:03.068936+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-09T18:06:05.511106+00:00 app[web.1]: Express server listening on 28627
            2022-11-09T18:06:05.944568+00:00 heroku[web.1]: State changed from starting to up
            
            2022-11-09T20:45:53.115643+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-09T20:45:53.542677+00:00 heroku[web.1]: Process exited with status 143
            2022-11-09T20:46:57.112428+00:00 heroku[web.1]: State changed from up to down
            2022-11-09T20:46:57.114989+00:00 heroku[web.1]: State changed from down to starting
            2022-11-09T20:47:08.875162+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-09T20:47:13.184638+00:00 app[web.1]: Express server listening on 52035
            2022-11-09T20:48:42.474102+00:00 heroku[web.1]: State changed from starting to up
            
            2022-11-09T20:56:48.120912+00:00 heroku[web.1]: Stopping all processes with SIGTERM
            2022-11-09T20:56:50.546725+00:00 heroku[web.1]: Process exited with status 143
            2022-11-09T20:57:19.805546+00:00 heroku[web.1]: State changed from up to down
            2022-11-09T20:57:19.807460+00:00 heroku[web.1]: State changed from down to starting
            2022-11-09T20:57:34.022542+00:00 heroku[web.1]: Starting process with command `node app`
            2022-11-09T20:57:41.713346+00:00 app[web.1]: Express server listening on 25985
            2022-11-09T20:57:45.249367+00:00 heroku[web.1]: State changed from starting to up
