html
  body
    script(src='/source/redirect.js?200226_1657')
    .w3-row
      .w3-col.s2
        img.w3-round(src='http://image.yes24.com/momo/TopCate813/MidCate009/81281610.jpg')
      |     
      .w3-col.s10
        table.no-sort
          tr
            th 표제/저자사항
            |                 
            td 키르케고르 실존 극장 / 도널드 파머
          |             
          tr
            th ISBN 정보
            |                 
            td 979-11-5783-044-2 [03160]
          |             
          tr
            th ISBN-A
            |                 
            td https://doi.org/10.979.115783/0442
          |             
          tr
            th 발행사항
            |                 
            td 푸른커뮤니케이션 , 발행일 : 20160528
    hr
    ul
      li
        | 불안은 두려워하는 것에 대한 욕망이며, 욕망하는 것에 대한 두려움이다.
        br
        |         아담은 자신이 신에게 반항할 수도 있다는 가능성을 깨닫는 순간 이를 욕망하게 되지만, 그와 동시에 자신의 욕망을 두려워하게 된다.
        br
        |         자유로운 존재인 자신의 죄를 짓는 것을 막을 수 있는 것은 자신뿐이라는 것을 깨닫기 때문이다.
      |     
      li
        | 고상한 심미주의자는 쾌락의 추구 그 자체가 결국은 권태를 불러온다는 것을 알고 있지만, 그는 심미적 영역 안에서 이 문제를 해결하려 한다.
        br
        |         그는 권태를 해결하고자 이국적이고 낭만적인 영혼의 관능적 세계를 만들어낸다.
        br
        |         그러나 심미주의자는 그 권태가 사실은 절망의 발현이라는 것을 알아채지 못한다.
