include ../../source/skeleton.jade

+post('게이미피게이션', '게이미피게이션', '게이미피게이션 독서 기록')
    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('http://image.yes24.com/momo/TopCate182/MidCate04/18130111.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            table.no-sort
                +tds('표제/저자사항', '게이미피게이션 / 게이브 지커맨,크리스토퍼 커닝햄 지음 ;정진영,송준호,김지원 옮김')
                +tds('ISBN 정보', '978-89-7914-919-7 [13560]')
                +tds('ISBN-A', 'https://doi.org/10.978.897914/9197')
                +tds('발행사항', '한빛미디어 , 발행일 : 20120501')
    h1 글귀
    ol
        li 「Why We Play Games」, Nicole Lazzaro
        ol
            li 어려운 재미 : 경쟁에서 이기려고 애쓸 때 생기는 재미
            li 편안한 재미 : 시스템을 탐험하는 데 주력할 때 생기는 재미
            li 변화의 재미 : 플레이어의 감정 상태를 바꿀 때 생기는 재미
            li 사회적인 재미 : 다른 플레이어와 상호작용할 때의 재미

        li 플레이어 유형 비율(중복)
        ol
            li 80% 사교가형 : 보통 사람은 이기는 대신 사교적 활동을 하려고 한다.
            li 50% 탐험가형
            li 40% 성취가형 : 성취감도 물론 중요하지만, 최고의 유인책은 아니다
            li 20% 도살자형

        li 플레이어들이 주로 경험할 사교적 동사들을 골라 행동을 유도한다
        p build, create, design, decorate, win, challenge, taunt, collect, rate, vote, curate, help, share, give, greet...
        +w3img('https://amyjokim.com/wp-content/uploads/2012/09/social-engagment-verbs.png', '사교 동사').marker

        li 의욕을 꺾지 않는 순위표
        p 낮은 순위는 순위표의 중간에 위치시켜 자신의 위,아래만을 보여주고, 상위 순위는 실제 1,2 등을 포함하여 보여준다.
