include ../../../source/skeleton.jade

+post('judge.koreatech 1095번 풀이', 'algorithm, judge.koreatech, 1095번', 'judge.koreatech.ac.kr 1095번 문제 풀이')
    h1.marker 1095: 자연스러운 정렬
    h2.marker 풀이
    +w3button()&attributes({ class: 'btn-code', title: '/Repositories/Eclipse/Algorithm/src/koreatech/Main1095.java', lan: 'java' })
    p $-10,000.00 같은 표기까지 고려한 JavaScript 코드
        +w3button()&attributes({ class: 'btn-code', title: '/source/ordered-table.js', lan: 'javascript' })
