include ../../../source/skeleton.pug

+post({
    title: '인생의 모든 의미',
    description: '개인적으로 마음에 든 『인생의 모든 의미』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'http://image.yes24.com/momo/TopCate847/MidCate003/84625531.jpg',
        title: '인생의 모든 의미', author: '존 메설리',
        isbn: '979-11-5783-046-6 [03100]',
        publisher: '푸른커뮤니케이션', date: '20160615',
    })
    h1 글귀
    ol
        li 아리스토텔레스
            p 우선 살고, 그 다음 철학하라

        li 프로이트
            p 누군가가 삶의 의미를 묻는 순간, 그는 병든 것이다

        li 버트런드 러셀
            p 내가 틀릴 수도 있기 때문에, 나는 나의 믿음을 위해서 죽을 생각이 전혀 없다

        li 닐슨
            p 다른 모든 것에 의미를 부여하면서 그 자체는 인간의 가치관에 의존하지 않는 그런 것은 논리적으로 있을 수 없다

        li 헵번
            p 유한성과 무가치, 무한성과 가치는 곧바로 연결되지 않는다

        li 오스왈드 핸플링
            p 해롭지 않은 자기기만. 삶의 의미를 묻는 질문은 무의미하고 보편적인 대답이 없을지도 모른다. 그러나 우리가 스스로를 해롭지 않게 속이면서 삶에 의미가 있는 것처럼 역할 놀이를 한다면, 우리의 삶은 더 나아질 것이다

        li 루투비히 비트겐슈타인
            p 대답을 표현할 수 없다면, 질문도 표현할 수 없다. 수수께끼는 존재하지 않는다. 일단 질문을 제기할 수 있다면, 질문에 대답할 수도 있다. 만일 회의주의가 대답할 수 없는 질문에 대해서 의심한다면, 그런 회의주의는 반박 불가능하지 않고 오히려 명백히 무의미하다. 왜냐하면 질문이 존재할 때만 의심이 존재할 수 있기 때문이다. 질문은 대답이 존재할 때만 존재하며, 대답은 무언가를 말할 수 있을 때만 존재한다. 설명 모든 가능한 과학적 질문들이 대답되더라도 삶의 문제들은 여전히 건드려지지 않은 채로 남아있을 것이라고 우리는 느낀다. 물론 그때는 질문이 남아있지 않을 테고, 바로 이것이 대답이다. 삶의 문제의 해답은 그 문제의 사라짐에서 보인다. (오랜 의심 끝에 삶의 의미를 명확히 깨달은 사람들이 그 의미가 무엇인지 말할 수 없는 이유는 바로 이것이 아닐까?) 표현 불가능한 것이 정말로 존재한다. 그것은 스스로 자신을 드러낸다. 그것은 신비다. ... 말할 수 없는 것에 대해서는 침묵해야 한다
