include ../../../source/skeleton.pug

+post({
    title: '천사들의 탐정',
    description: '개인적으로 마음에 든 『천사들의 탐정』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/26850485/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '천사들의 탐정 / 하라 료')
                +tds('ISBN 정보', '978-89-349-7352-2 (03830)')
                +tds('발행사항', '김영사, 발행일 : 2016.05.02')

    h1 독서 기록
    ul
        li "그 말 잊지 마. 뒷자석에 우산 있으니까 그거나 가지고 나가."
            p 나는 조수석 문을 열고 말했다. "유실물 담당 부서에서 슬쩍 집어온 우산이겠지. 거기에 손대는 순간, 절도 공범으로 체포되기나 하면 곤란하지."
        li 그들은 신분을 밝히더니 요쓰야 경찰서까지 동행해주면 좋겠다고 했다. 나는 이유를 묻지 않았다. 경찰은 늘 정당한 이유가 있기 때문이다
        li 여고생의 방에는 재떨이가 없을 거라고 생각하다니, 생각이 보통 부족한 게 아니다
        li '자숙' 모드 -- 쇼와 일왕 서거에 따른 애도 권장 기간
        li 준과 사이가 나빴던 녀석을 꼽자면 열 손가락으로도 부족하겠지만 아무리 그래도 저렇게 끔찍한 짓을 저지를 만한 녀석은 떠오르지 않네요
