include ../../../source/skeleton.pug

+post({
    title: '내가 죽인 소녀',
    description: '개인적으로 마음에 든 『내가 죽인 소녀』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/momo/TopCate74/MidCate05/7348091.jpg',
        title: '내가 죽인 소녀', author: '하라 료',
        isbn: '978-89-92036-89-4 (03830)',
        publisher: '비채', date: '발행일 : 2009.06.29',
    })

    h1 독서 기록
    ul
        li A. 절대로 비밀을 지켜줘야만 하는 매우 어려운 문제로 조사를 부탁드리고 싶습니다
            p B. 한 가지 충고를 드리죠. 그 건은 저에게나 다른 사람에게도 절대 이야기하지 말 것. 그보다 먼저 당신 스스로 잊어버리고 다시는 떠올리지 말 것. ─ 완벽하게 비밀을 지키기 위해서는 그게 유일한 방법입니다

        li A. 방금 정체불명의 남자로부터 전화가 와서 오늘 밤 8시까지 어느 장소에서 만나기로 했어
            p B. 난 네 아빠가 아니야. 너 하고 싶은 대로 해.
            p A. 그 남자가 마카베 사야카라는 이름을 대더군.
            p B. 뭐라고? 그 말을 먼저 해야지! 그 남자하곤 어디서 만나기로 했지?
            p A. 넌 내 아빠가 아니야.

        li 치아키가 요 2주간 무언가 했다고 생각하시는 건가요?
            p 아뇨, 오히려 따님이 아무것도 하지 않았다는 것을 확인한다 ─ 그런 조사라고 생각해주십시오
