include ../../../source/skeleton.pug

+post({
    title: '그리고 밤은 되살아난다',
    description: '개인적으로 마음에 든 『그리고 밤은 되살아난다』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/momo/TopCate67/MidCate05/6644839.jpg',
        title: '그리고 밤은 되살아난다', author: '하라 료',
        isbn: '978-89-92036-69-6 (03830)',
        publisher: '비채', date: '2008.11.04',
    })

    h1 독서 기록
    ul
        li 그 차에 공범이 타고 있었을 가능성을 부정할 수는 없습니다
            p 그래서 권총이 어떤 것인지 공표하지 않는 겁니다. 자신이 그 저격사건의 진범이라면서 자수한 사람이나 전화를 걸어온 사람이 이미 몇 명 있지만 모두 권총에 관한 증언에서 가짜라는 사실이 확인되었습니다
