include ../../../source/skeleton.pug

+post({
    title: '국경',
    description: '개인적으로 마음에 든 『국경』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791157610303.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '국경 / 구로카와 히로유키')
                +tds('ISBN 정보', '979-11-5761-033-4')
                +tds('발행사항', '엔트리 :메가북스, 2014.12.01')

    h1 독서 기록
    ul
        li 좀 조용해지믄 저 녀석은 너를 만나러 올 거여. 그때는 신세를 졌습니다, 하고. 그리고 총이라도 쏘겄제

        li A. 우리처럼 가난한 사무실에도 민정당 비서가 옵니다. 단속 요금을 내라고
            p 대장인 의원은 내내 여러 모임에 출석합니다. 받아 온 명함을 비서가 들고 돌아다니는 거죠. '얼마 전에 요시오카가 신세를 졌습니다'라면서 과자 상자 하나를 들고 와서는 후원회 회원이 되라고 권유합니다. 회비는 한 구좌에 1만 엔, 회보에 실리는 광고가 5만 엔, 파티가 1회당 10만 엔.
            p 의원 비서는 사실 현지 기업에서 파견을 나온 거라 월급도 경비도 기업이 냅니다.
            p B. 아따 속이 안 좋아부리네잉. 두목 이름과 간판을 이용해 갖고 일을 하는 거이, 완전 야쿠자구마.
