include ../../../source/skeleton.pug

+post({
    title: '시즈카 할머니에게 맡겨줘',
    description: '개인적으로 마음에 든 『시즈카 할머니에게 맡겨줘』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/73425779/L',
        title: '시즈카 할머니에게 맡겨줘', author: '나카야마 시치리',
        isbn: '979-11-89571-03-0 (03830)',
        publisher: '블루홀6', date: '2019.05.22',
    })

    h1 독서 기록
    ul 
        li 탄핵 재판소가 설치된 후 60년 이상 지났는데 그동안 소추가 얼마나 있었고 재판이 얼마나 열렸는지 대답할 수 있니?
            p 소추 청구, 만 오천 건에 실제로 재판이 열린 건 단 여덟 건이야
