include ../../../source/skeleton.pug

+post({
    title: '테미스의 검',
    description: '개인적으로 마음에 든 『테미스의 검』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/62006212/L',
        title: '테미스의 검', author: '나카야마 시치리',
        isbn: '979-11-961234-6-8 (05830)',
        publisher: '블루홀식스', date: '2018.06.25',
    })

    h1 독서 기록
    ul 
        li 경찰의 임무는 용의자를 체포하는 것뿐이야. 무죄인지 아닌지는 법원이 정할 일이지. 그러니 여기서 죄를 인정해도 재판에서 다시 부인하면 돼. 판사는 공정한 입장에서 너를 다시 봐 줄 거야
            p 내가 간단한 조서를 하나 쓸게. 그러면 밥을 먹을 수 있어. 유치장에서 편하게 눈도 좀 붙일 수 있고

        li 부모님을 만나고 싶지? 진술만 하면 지금 당장 만나게 해 줄게

        li 내부 처분만으로 그치기에는 일이 너무 커졌습니다. 이럴 때는 일벌백계의 의미에서 처벌은 더욱 강해집니다. 숙청의 폭풍우라는 건 정확히 그런 의미입니다
            p 원죄를 만든 장본인인 나루미 씨는 증거 위조죄를 적용하려고 해도 이미 공소시효 3년을 지나 처벌할 수 없습니다

        li 개인의 능력을 경시하는 인간은 반드시 팀워크를 강조한다

        li 당신(검사)은 법정에서 검찰 측에 불리한 변론을 하는 것을 조건으로 이쿠이나 씨(연예인)에게 몸을 요구했습니다
