include ../../../source/skeleton.pug

+post({
    title: '작가 형사 부스지마',
    description: '개인적으로 마음에 든 『작가 형사 부스지마』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/61269348/L',
        title: '작가 형사 부스지마', author: '나카야마 시치리',
        isbn: '979-11-5879-088-2 (05830)',
        publisher: '북로드', date: '2018.06.08',
    })

    h1 독서 기록
    ul 
        li 장차 내 글쓰기의 적수가 나타날 수도 있고. 재능의 싹수를 일찌감치 잘라버리는 것이 최고지

        li 목 뒷부분에 남은 붉은 화상 흔적을 보여주었다
            p 이 모양이라면 심중팔구 전기 충격기야. 전기 충격으로 일단 정신을 잃게 하고서...

        li 팔고 남은 책들은 출판사에 반품되는 것 아니에요?
            p 재고로 갖고 있으면 그건 자산으로 계산돼. 자산이 되면 당연히 세금이 붙잖아. 팔리지도 않는데 쓸데없이 세금을 낸다는 건 말도 안 되니까 분기 말 전에 폐기 처분하지

        li 물건 만드는 사람은 노력이 부족하다는 말보다 재능이 없다는 말을 더 괴로워한다
