include ../../../source/skeleton.pug

+post({
    title: '네메시스의 사자',
    description: '개인적으로 마음에 든 『네메시스의 사자』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/65489529/L',
        title: '네메시스의 사자', author: '나카야마 시치리',
        isbn: '979-11-89571-00-9 (05830)',
        publisher: '블루홀식스', date: '2018.10.15',
    })

    h1 독서 기록
    ul 
        li 고소를 취하하면 같은 내용으로 고소하지 못 하게 되지만 담당 경찰은 그런 사실도 알리지 않고...

        li 변호 측은 흉기가 된 쇠파이프가 사전에 준비된 게 아닌 원래부터 현장에 있었던 것이라는 점에서 상해 치사를 주장

        li '비판을 달게 받아들인다'라는 한마디를 넣음으로써 교묘하게 나쁜 인상에서 벗어났다

        li 담장 안에 있는 상대에게 복수하려면 자신도 직접 담장 안에 들어갈 수밖에 없다. 두 건의 살인과 한 건의 살인미수는 일부러 징역 판결을 받기 위한 사전 과정에 불과했다
            p 지바 교도소는 LA급 수형자가 수감되는 곳이지. 이곳에 수감되려면 그에 부합하는 죄를 저질러야 해

        li 징역형이라는 건 내부에서부터 천천히 인간성을 말살하는 형벌입니다 ... 징역형은 길면 길수록 좋습니다
            p 시부사와가 계속해서 온정 판결을 내린 것은 피고인의 갱생을 위해서가 아니었다. 오히려 그 반대다
