include ../../../source/skeleton.pug

+post({
    title: '닥터 데스의 유산',
    description: '개인적으로 마음에 든 『닥터 데스의 유산』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/115409191/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '닥터 데스의 유산 / 나카야마 시치리')
                +tds('ISBN 정보', '979-11-89571-92-4 (05830)')
                +tds('발행사항', '블루홀식스, 2023.04.20')

    h1 독서 기록
    ul 
        li A. 다, 당신들이 무슨 권리로 우리 남편을 데려가는 거예요!
            p B. 권리보다는 의무입니다. 설령 병사라 할지라도 의심스로운 부분이 하나라도 있으면 경찰은 수사를 해야 합니다

        li 이렇게 집 밖에서 계속 입씨름하면 이웃에 폐가 될 겁니다
            p 폐를 끼치는 사람은 이누카이였지만 이런 주택지에서는 매우 잘 먹히는 말이었다

        li 공원에서 텐트 치고 노숙하는 것부터가 이미 불법이야. 새삼 그런 걸 준수해 봤자지

        li 안락사 시행 건이 많아지고 현재의 규범으로는 감당하기 어렵다는 현실을 깨닫는 순간 안락사는 위법행위가 아닐 겁니다

        li 메구미의 말이 맞아. 이건 치료가 아니야. 구제지
