include ../../../source/skeleton.pug

+post({
    title: '하얀 충동',
    description: '개인적으로 마음에 든 『하얀 충동』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/97516666/L',
        title: '하얀 충동', author: '오승호',
        isbn: '979-11-89571-43-6 (05830)',
        publisher: '블루홀식스', date: '2021.03.15',
    })

    h1 독서 기록
    ul 
        li 투덜거리면서 고개를 갸웃거리는 가나의 몸짓은 한 번 더 자신을 설득해 달라는 신호로 읽혔다

        li 꿈속에서 사람을 죽여 본 적이 있는 사람은 살인범일까요?

        li 머리로는 이해해도 진심으로 그렇게 생각하지는 않지. 몸과 달리 마음은 마음먹기에 달렸다. 그런 인식이 아직도 횡횡해
