include ../../../source/skeleton.pug

+post({
    title: '표정없는 검사의 분투',
    description: '개인적으로 마음에 든 『표정없는 검사의 분투』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/118584292/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '표정없는 검사의 분투 / 나카야마 시치리')
                +tds('ISBN 정보', '979-11-89571-98-6 (05830)')
                +tds('발행사항', '블루홀식스, 2023.05.22')

    h1 독서 기록
    ul 
        li 책임지지 않는 업무는 일이 아니라고 생각합니다

        li 고개를 숙일 때마다 그 가치도 떨어지지

        li 그래서 소문이 무서운 법이지. 아무 근거 없는 이야기지만 무시할 수 없으니까 말이우

        li 불기소는 후와 검사 나름의 배려일세
            p 벌을 받는 것은 중요하지 않아. 행위를 밝히고 죄를 추궁하는 것 자체가 의례인 셈이네
