include ../../../source/skeleton.pug

+post({
    title: '오전 0시의 몸값',
    description: '개인적으로 마음에 든 『오전 0시의 몸값』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/118144703/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '오전 0시의 몸값 / 교바시 시오리')
                +tds('ISBN 정보', '979-11-91803-13-6 (03830)')
                +tds('발행사항', '내 친구의 서재, 2023.03.30')

    h1 독서 기록
    ul 
        li 아무리 도난이라고 주장해도 비밀번호가 한 번에 제대로 입력된 터라 오히려 신용카드사에서 변제를 해달라고 나왔다는 것이다

        li 프로보노 : 무료 또는 저렴한 요금으로 법률 서비스를 제공

        li 변호사법 제1조 제1항. 변호사는 기본적 인권을 옹호하고 사회정의를 실현하는 것을 사명으로 한다

        li 위임 계약을 맺지 않더라도 법률 상담을 받으면 비밀유지의무가 발생하니까요. 덧붙여 통신 감청법 제15조도 적용할 수 있을지 모르고요. 변호사와 의뢰인 사이의 전화는 설사 수사기관이라도 감청할 수 없다
