include ../../../source/skeleton.pug

+post({
    title: '바람아 우리의 앞머리를',
    description: '개인적으로 마음에 든 『바람아 우리의 앞머리를』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/110796074/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '바람아 우리의 앞머리를 / 야요이 사요코')
                +tds('ISBN 정보', '979-11-90135-13-9 (05830)')
                +tds('발행사항', '(도서출판)양파, 2022.07.21')

    h1 독서 기록
    ul 
        li 행복하게 만들어주지 못했잖아요? 어불성설이고 뭐고 여자란 그런 존재예요

        li A. 참고로 '동반자살하자'는 소리는 '안아 달라'는 소리야
            p B. 말도 안... 언제부터 그런 뜻이 됐는데요?

        li 제가 손녀인 척 금풍장을 다닌 이유는 할아버지(치매)의 신임을 얻기 위해서였어요. 마음을 조종할 수 있을 정도로 정신적으로 의존하게 만들기 위해

        li 죽이기로 작정했기 때문에 (거리낌없이) 이용했다

        li 기증자가 자살하게 되면 친족 우선권이 사라져요
