include ../../../source/skeleton.pug

+post({
    title: '미궁',
    description: '개인적으로 마음에 든 『미궁』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791130692739.jpg',
        title: '미궁', author: '나카무라 후미노리',
        isbn: '979-11-306-9330-9 (05830)',
        publisher: '(주식회사)다산북스', date: '2022.08.24',
    })

    h1 독서 기록
    ul 
        li 언제부턴가 묘한 예감을 품게 되었다. 하고 싶지도 않은 바보 같은 범죄를 저지르고 파멸해 버리고 말 것 같은 예감.
