include ../../../source/skeleton.pug

+post({
    title: '살육에 이르는 병',
    description: '개인적으로 마음에 든 『살육에 이르는 병』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://i.namu.wiki/i/O-XINhgRD9XiXWFFXqH1KyFnRzNOf9CkzIGgg2nR6NvTacsVle-3bppkpSQ4xOMO1f2EG7BvlqniESLqnYukpQ.webp', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '살육에 이르는 병 / 아비코 다케마루')
                +tds('ISBN 정보', '979-11-6925-391-8 (05830)')
                +tds('발행사항', '(주)시공사, 2022.11.24')

    h1 독서 기록
    ul 
        li 마사코는 자기가 한 행동이 몹쓸 짓이라는 생각은 전혀 하지 않았어도 아들이 그걸 알게 되는 상황만은 피하고 싶었다

        li 가족 누군가가 희생당하지만 않는다면 내 알 바 아니다

        li 가오루에게 죄가 없다고 이야기하는 것은 간접적으로 자기에게도 죄가 없다는 이야기가 될 뿐이다. 그런 짓은 할 수 없었다

        li 자기 마음속에 범인과 같은 짐승이 있는 것 같아 소름이 끼쳤다
