include ../../../source/skeleton.pug

+post({
    title: '형사 변호인',
    description: '개인적으로 마음에 든 『형사 변호인』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/119947393/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '형사 변호인 / 야쿠마루 카쿠')
                +tds('ISBN 정보', '979-11-93047-05-7 (05830)')
                +tds('발행사항', '북플라자, 2023.06.14')

    h1 독서 기록
    ul 
        li 애초에 난 피고인의 정상참작을 위해서 증인 신청을 한 게 아니야. 그 여자한테 현실을 깨닫게 해주려고 한 거지
        p 그 남자한테 여자친구의 임신은 단지 실형을 피하게 해 줄 재료일 뿐이야

        li 증명예정사실 준비서면이란 검찰 측이 공판에서 증명하고자 하는 사항을 적은 문서

        li 나와는 상관없는 일이니까 범죄자를 변호할 수 있는 거라고

        li 미움받은 김에 저도 한마디만 하겠습니다

        li 여자가 아니라 동료야
