include ../../../source/skeleton.pug

+post({
    title: '형사 부스지마 최후의 사건',
    description: '개인적으로 마음에 든 『형사 부스지마 최후의 사건』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://image.yes24.com/goods/103727073/L', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '형사 부스지마 최후의 사건 / 나카야마 시치리')
                +tds('ISBN 정보', '979-11-5879-174-2 (05830)')
                +tds('발행사항', '북로드, 2021.09.30')

    h1 독서 기록
    ul
        li A. 청취 결과에 따라 시즈카 씨에 대한 혐의를 바꾸거나 입건 자체를 재고할 수도 있습니다. 즉, 신부님의 협조로 한 마리 어린 양을 구원할 수도 있습니다
            p B. 그런 식으로 말씀하시면 거절이라는 선택지가 없어지겠군요
