include ../../../source/skeleton.pug

+post({
    title: '교도관의 눈',
    description: '개인적으로 마음에 든 『교도관의 눈』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/110212661/L',
        title: '교도관의 눈', author: '요코야마 히데오',
        isbn: '979-11-87514-90-9 (05830)',
        publisher: '(도서출판)폭스코너', date: '2022.07.08',
    })

    h1 독서 기록
    ul
        li 하루빨리 헤어지고 싶다, 돈도 필요 없다는 걸 보면 딴 남자가 있다는 소리겠지.