include ../../../source/skeleton.pug

+post({
    title: '언덕 중간의 집',
    description: '개인적으로 마음에 든 『언덕 중간의 집』 문구',
})

    h1 도서 정보
    +bookInfo({
        imgSrc: 'https://image.yes24.com/goods/37124144/L',
        title: '언덕 중간의 집', author: '가쿠타 미쓰요',
        isbn: '979-11-6007-083-5 (03830)',
        publisher: '한스미디어', date: '2016.11.30',
    })

    h1 독서 기록
    ul
        li 자신 역시 완전히 그런 존재가 되려고 앞장섰던 것은 아닐까
            p 그렇게 사랑하는 방법밖에 모르는 사람에게 사랑받기 위해서
