include ../../../source/skeleton.pug

+post({
    title: '경관의 조건',
    description: '개인적으로 마음에 든 『경관의 조건』 문구',
})

    h1 도서 정보
    .w3-row
        .w3-col.s2.w3-center
            +w3img('https://contents.kyobobook.co.kr/sih/fit-in/400x0/pdt/9788934974499.jpg', '도서 이미지')&attributes({style: 'max-height:210px'})
        .w3-col.s10
            +table()
                +tds('표제/저자사항', '경관의 조건 / 사사키 조')
                +tds('ISBN 정보', '978-89-349-7449-9 (03830)')
                +tds('발행사항', '김영사, 2016.06.01')

    h1 독서 기록
    ul
        li 제도화된 후로 권총 적발에는 국가 예산이 배정되었다. 한 자루를 적발하면 경찰청에서 각 현경에 일백만 엔의 수사비를 지급하는 것이다. 물론 그 일백만 엔은 현장 수사원들의 주머니에 그대로 내려오지 않는다.

        li 이나다(야쿠자)가 속한 사회에서는 빚은 반드시 빌려준 쪽이 원하는 형태로 갚아야만 한다. 셈이 맞지 않는다고 거부할 수 없다.
