include ../../source/skeleton.pug
+post('AWS', 'AWS', 'AWS 정리')
    h1 서비스 종류
    ol
        li EC2; Elastic Compute Cloud
        p OS를 포함한 컴퓨팅 머신
        li EBS; Elastic Block Store
        p EC2를 위한 스토리지
        li Elastic Beanstalk
        p 웹 앱 배포. Java, .NET, PHP, Node, Python, Ruby, Go, Docker...
        li S3; Simple Storage Service
        p 99.999999999% 내구성. 크기 무제한
        li S3 Glacier
        p 저렴한 데이터 아카이빙 S3 스토리지
        li ELB; Elastic Load Balancing
        p EC2 인스턴스, 컨테이너, IP 주소, Lambda 함수 등으로의 부하 분산
        li VPC; Virtual Private Cloud
        p 사용자 정의 가상 네트워크
        li Auto Scaling
        p 사용량에 따른 애플리케이션 규모 자동 조정
        li RDS; Relational Database Service
        p Amazon Aurora, PostgreSQL, MySQL, MariaDB, Oracle Database, SQL Server
        li Database Migration Service
        p 기존 데이터베이스를 AWS RDS로 마이그레이션
        li ElastiCache
        p Redis, Memcached
        li CloudFront
        p 글로벌 CDN
        li Route 53
        p 엔드 유저의 요청을 적절한 EC2 인스턴스, ELB, S3 버킷 등으로 연결하는 DNS
        li Simple Queue Service
        p 메시지 큐
        li Simple Notification Service
        p Pub/Sub 푸시 기반 메시징 서비스. 모바일 푸시, SMS, 이메일 등 가능
        li Simple Email Service
        li IAM; Identity and Access Management
        ul
            li AWS 계정 관리
            li: +asA('https://gist.github.com/shortjared/4c1e3fe52bdfa47522cfe5b41e5d6f22', 'List of AWS Service Principals')
        li CloudTrail
        p AWS 계정 활동 감시
        li CloudWatch
        p AWS 리소스 및 애플리케이션 모니터링

    h1 싱글 웹서버
    ol
        li 규모가 작은 경우, API 게이트웨이 + 람다 조합이 더 저렴할 수 있다
        li EC2 인스턴스 생성
        p Auto-assign Public IP : Disable // 자동 할당되는 IP는 인스턴스가 시작할 때마다 변경된다
            br
            | Shutdown behavior : Stop // Terminate는 OS 정지 후 EC2 인스턴스 삭제
            br
            | Enable termination protection : 실수로 인스턴스 삭제되는 것을 방지
        li EC2 보안 그룹 설정
        p SSH | TCP | 22 | 작업 IP
            br
            | HTTP | TCP | 80 | 0.0.0.0/0
            br
            | HTTPS | TCP | 443 | 0.0.0.0/0
        li 고정 퍼블릭 IP(EIP; Elastic IP) 부여
        p AWS 관리 콘솔에서 Allocate New Address → 우클릭 → Associate Address
        li 도메인 연결 : Route 53
        p Create Record Set → Name : FQDN, Type : CNAME - Canon name, Value : EIP
        li EC2 인스턴스 삭제 시
        p Enable termination protection 해제 후 Terminate
            br
            | 연결된 EBS, EIP 삭제

    h1 VPC
    ol
        li AWS 리전에 대해 가상 네트워크 작성
        li 가용 영역(AZ; Available Zone)
        p 각 AWS 리전은 최소 2개 이상의 가용영역으로 구성되며, 각 AZ는 서로의 장애로부터 격리된다
        li 각 AZ 안에 서브넷을 작성할 수 있다

    h1 서버 다중화
    ol
        li ELB 설정
        p ELB는 엔드 유저의 요청을 받아야 하므로 0.0.0.0/0 소스 허용
            br
            | EC2 인스턴스 등은 ELB를 거친 연결만 허용하도록 보안 그룹 소스 변경
            br
            | ELB의 로드밸런서 프로토콜을 HTTPS, 인스턴스의 프로토콜을 HTTP로 하면 ELB가 SSL 처리를 모두 담당
        li RDS의 DB 다중화(Master-Standby)
        p 관리 콘솔 → RDS 설정 → DB 서브넷 그룹 작성 : 두 AZ 각각에 작성한 서브넷을 그루핑
            br
            | RDS 인스턴스 생성 시 멀티-AZ 옵션으로 DB 서브넷 그룹 지정
            br
            | RDS는 강제 업그레이드가 실행될 수 있으며, 멀티-AZ를 이용하는 경우, 스탠바이 서버부터 업그레이드되어 새로운 마스터가 된다
