include ../../source/skeleton.pug
+post('Infra Index', '', '')
    table.marker
        caption Infra Index
        +ths('내용', '링크')
        tr
            td Docker
            td: +asA('/posts/single/docker.html')
        tr
            td CentOS
            td: +asA('/posts/single/centos.html')
        tr
            td AWS
            td: +asA('/posts/single/aws.html')
        tr
            td Git
            td: +asA('/posts/single/git.html')
        tr
            td Gradle
            td: +asA('/posts/single/gradle.html')
        tr
            td Nginx
            td: +asA('/posts/single/nginx.html')
        tr
            td PostgreSQL 서버 관리
            td: +asA('/posts/db/psql_admin.html')
        tr
            td Redis
            td: +asA('/posts/single/redis.html')
        tr
            td SDKMAN; The Software Development Kit Manager
            td: +asA('/posts/single/sdkman.html')
        tr
            td tomcat
            td: +asA('/posts/single/tomcat.html')
        tr
            td Exceptions + Errors
            td: +asA('/posts/project/error.html')
        tr
            td 잡다한 팁
            td: +asA('/posts/project/tip.html')
        tr
            td Raspberry Pi 3
            td: +asA('/posts/single/rpi.html')
