include ../../source/skeleton.pug
+post('뽐뿌장터 개선점', 'No Keywords', '뽐뿌장터 개선점', false, true)
    h1
        | 발견한 
        +asA('http://www.ppomppu.co.kr/zboard/zboard.php?id=market', '뽐뿌장터')
        |  개선점
    div
        h2 개선점 1
        div
            p PC용 화면에서, 썸네일 이미지 mouseover 이벤트 발생 시 표시되는 div.ajaxtooltip의 외곽선이 부자연스러운 부분
            +w3img('/imgs/20200721_201013.png', '부자연스러운 외곽선')

            h3 원인
            p 이미지 크기는 400x300으로 고정된 데 반해 .ajaxtooltip 스타일은 width가 240px로 고정되어 있음
            +w3img('/imgs/20200721_200946.png', '원인')

            h3 수정 방안 1
            p width 스타일 제거
            +w3img('/imgs/20200721_200830.png', '수정 1')

            h3 수정 방안 2
            p background, border 스타일 제거
            +w3img('/imgs/20200721_200848.png', '수정 2')

        h2 개선점 2
        div
            p PC용 화면에서, 제목 영역 중 클릭 가능한 영역이 너무 적은 부분
            +w3img('/imgs/20200721_205504.png', '적은 클릭 가능 영역')
            h3 수정 방안
            p 해당 앵커의 부모 노드인 li.title 수준으로 클릭 가능 영역 확장
