include ../../../source/skeleton.pug

+post({
    title: 'node:test',
    description: 'Node 내장 테스트 모듈',
})

    h1 참고 자료
    ul
        li: +asA('https://nodejs.org/api/test.html', '공식 문서')

    h1 Test runner
    p 커맨드 라인을 통해 테스트를 실행할 수 있다
    +asCode('bash') node --test
    p 이때 실행되는 파일들은 아래와 같다
    ul
        li **/*.test.?(c|m)js
        li **/*-test.?(c|m)js
        li **/*_test.?(c|m)js
        li **/test-*.?(c|m)js
        li **/test.?(c|m)js
        li **/test/**/*.?(c|m)js
    p 또는 직접 GLOB 패턴을 지정할 수도 있다
    +asCode('bash') node --test "**/*.spec.js"