html
    body
        script(src='/source/redirect.js?200226_1657')
        ol
            li NGINX?
            |     HTTP 서버 + 메일 프록시 + 리버스 프록시 +  로드 밸런서
            li nginx.conf : 메인 설정
            pre.
                \nhttp {
                        include /etc/nginx/sites-enabled/*; # 활성 서버
                }
            li HTTP 서버 설정
            pre.
                \nserver {
                        listen 0.0.0.0:9090 default_server;        # IPv4
                        listen 0.0.0.0:80 default_server;
                        listen [::]:9090 default_server;   # IPv6
                        listen [::]:80 default_server;
                        access_log /var/log/nginx/default.server.log;
                        # Root directory
                        root /workspace/donggi-github/Dong-gi.github.io/;
                        # 처리할 요청 호스트
                        server_name _;
                        # ↓ Routings
                        location ~ github\.io {
                                rewrite .*github\.io/?(.*) /$1;
                        }
                        location ~ /.git/ {
                                return 404;
                        }
                        location ~* \.(js|css|png|gif|jpg|jpeg)$ {
                                expires 30d;
                        }
                        location / {
                                expires -1;
                                add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
                                try_files $uri $uri/ =404;
                                charset utf-8;
                                autoindex on;
                        }
                }
            li 리버스 프록시 설정
            pre.
                \nserver {
                        listen 0.0.0.0:55555;
                        listen [::]:55555;
                        access_log /var/log/nginx/express.log;
                        server_name _;
                        location / {
                                proxy_set_header X-Real-IP $remote_addr;
                                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                                proxy_set_header Host $http_host;
                                proxy_set_header X-NginX-Proxy true;
                                proxy_pass http://127.0.0.1:3000/;
                        }
                }
            li nginx -s reload
