html
  body
    script(src='/source/redirect.js?200226_1657')
    hr
    details
      summary 기본 명령어
      |     
      ol
        li 실행 : bin\startup.bat
        |         
        li 종료 : bin\shotdown.bat
        |         
        li webapps
        |         webapps 디렉터리의 서브디렉터리들을 웹 애플리케이션 디렉터리라 하며, 각각이 하나의 프로젝트 산출물이라 보면 된다. 기본 웹 애플리케이션 디렉터리는 webapps/ROOT
        |         
        li 기본 설치 예제
        |         http://localhost:8080/examples/
        |         
        li 관리자 페이지
        |         http://localhost:8080/manager/html
        br
        |         계정 추가 : conf/tomcat-users.xml 수정
        br
        |         <user username="admin" password="admin" roles="manager-gui,admin-gui"/>
        |         
        li JSP 버전 설정
        |         conf/web.xml에서 compilerSourceVM, compilerTargetVM 값 변경
        |         
        li 애플리케이션 배포 및 취소
        |         webapps 디렉터리에 war 파일을 옮기면 자동으로 압축을 푼다. 반대로 삭제하면 자동으로 정리한다. 또는 관리자 페이지의 deploy/undeploy를 이용.
    hr
    details
      summary JVM 타임존 설정
      |     -Duser.timezone=Asia/Seoul
    hr
    details
      summary 톰캣 JVM 실행 인코딩/문자셋 설정
      |     
      ol
        li catalina.bat
        |         set "JAVA_OPTS=%JAVA_OPTS% -Dfile.encoding=UTF-8 -Dfile.client.encoding=UTF-8 -Dclient.encoding.override=UTF-8"
        |         
        li catalina.sh
        |         JAVA_OPTS="$JAVA_OPTS -Dfile.encoding=UTF-8 -Dfile.client.encoding=UTF-8 -Dclient.encoding.override=UTF-8"
    hr
    details
      summary 톰캣 리모트 디버깅 설정
      |     
      ol
        li catalina.bat
        |         set "JAVA_OPTS=-Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,address=54433,server=y,suspend=n"
        |         
        li catalina.sh
        |         JAVA_OPTS="-Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,address=54433,server=y,suspend=n"
        |         
        li 허용 서브넷 명시 : address=*:55555, address=0.0.0.0:55555
        |         
        li Eclipse - Debug Configuration - Remote Java Application
        |         
        img.w3-round(src='imgs/20190731_143749.png')
        |         
        img.w3-round(src='imgs/20190731_143815.png')
    hr
    details
      summary 서버 URI 인코딩 설정 : conf/server.xml
      pre.
        \n<Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="8443" URIEncoding="UTF-8" />
        <Connector port="8009" protocol="AJP/1.3" redirectPort="8443" URIEncoding="UTF-8" />        
    hr
    details
      summary 톰캣 utf8 필터 설정 : {APP_NAME}/web.xml
      pre.
        \n<filter>
            <filter-name>setCharacterEncodingFilter</filter-name>
            <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
            <init-param>
                <param-name>encoding</param-name>
                <param-value>UTF-8</param-value>
            </init-param>
            <async-supported>true</async-supported>
        </filter>
        
        <filter-mapping>
            <filter-name>setCharacterEncodingFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>        
    hr
