include ../../../source/skeleton.pug
+post('PostgreSQL 서버 프로그래밍', 'PostgreSQL, pgSQL', 'PostgreSQL 서버 프로그래밍 정리')
    h1 PL/pgSQL
    ol
        li.marker: +codeBtn('/Repositories/Single/202202/pgsql_hello_world.sql', 'sql') Hello World 프로시저
        li.marker: +codeBtn('/Repositories/Single/202202/pgsql_export_csv.sql', 'sql') 모든 마스터 테이블 csv 출력
        li.marker: +codeBtn('/Repositories/Single/202202/pgsql_select_tables_with_suffix.sql', 'sql') 0 ~ 99 테이블 모두 조회
        li.marker: +codeBtn('/Repositories/Single/202202/pgsql_trigger_before_update.sql', 'sql') 유저 닉네임, 인사말 고정 트리거
