include ../../source/skeleton.pug

+post({
    title: '근로',
    description: '노동 관련 메모',
})

    h1 국민연금
    div
        h2 기준소득월액
        p (전년도 중 사업장 종사기간 소득액 / 종사일수 X 30)을 7월부터 다음 해 6월까지 적용

    h1 소득공제 &amp; 세액공제
    p 소득세의 감면에 관한 규정과 세액공제에 관한 규정이 동시에 적용되는 경우, 그 적용순위는 ① 해당 과세기간의 소득에 대한 소득세의 감면 → ② 이월공제가 인정되지 아니하는 세액공제 → ③ 이월공제가 인정되는 세액공제 순서로 감면 및 공제를 적용
    ul
        li 소득공제 : 사용한 비용들의 일부만큼 소득세 부과 대상이 되는 소득을 줄이는 것
        li 세액공제 : 세액의 일부를 줄이는 것. e.g. 월세 세액공제, 자녀 세액공제
        p 세액공제는 중복 적용이 아니라, 가장 유리한 것 1개만 적용

    h1 최저임금 위반 여부 판단 방법
    ol
        li 지급받은 전체 임금 중, 최저임금에 포함되는 임금만을 가려내서
        p 최저임금에 산입하지 않는 임금 : 최저임금법 시행규칙 제2조 별표1
        li 이를 시간당 임금으로 환산한 후
        li 고시된 최저임금과 비교
