include ../../source/skeleton.pug

+post({
    title: '매뉴얼',
    description: '구비 중인 제품 관련 매뉴얼',
})

    h1 1MORE PistonBuds Pro [무선이어폰]
    +w3img('/imgs/202402/20240224_203800.jpg', 'page 1')
    +w3img('/imgs/202402/20240224_204100.jpg', 'page 2')
    +w3img('/imgs/202402/20240224_204400.jpg', 'page 3')

    h1 ANKER 737 POWER BANK [보조배터리]
    +w3img('/imgs/202402/20240224_200300.jpg', 'page 1')
    +w3img('/imgs/202402/20240224_201800.jpg', 'page 2')

    h1 Archer AX17 AX1500 [공유기]
    +w3img('/imgs/202402/20240224_204500.jpg', 'page 1')
    +w3img('/imgs/202402/20240224_204600.jpg', 'page 1')

    h1 ASRock A520M-HDV
    +asA('https://www.asrock.com/MB/AMD/A520M-HDV/index.kr.asp#Specification', '스펙')

    h1 QCY H2 [무선헤드폰]
    +w3img('/imgs/202402/20240224_203500.jpg', 'page 1')
    +w3img('/imgs/202402/20240224_203600.jpg', 'page 2')

    h1 QCY T17 [무선이어폰]
    +w3img('/imgs/202402/20240224_202400.jpg')

    h1 에르체 OSCH0800HAA [의자]
    +w3img('/imgs/202402/20240224_211400.jpg')
