html
    body
        p#p484 Hello World!
        form#form484
            select(name='colorSelection484')
                option(value='red') Red
                option(value='green') Green
                option(value='blue') Blue
        script.
            let form = document.querySelector('form[id="form484"]');
            form.querySelector('option[value="red"]').style.color = "red";
            form.querySelector('option[value="green"]').style.color = "green";
            form.querySelector('option[value="blue"]').style.color = "blue";
            form.colorSelection484.onchange = () => {
            document.getElementById('p484').style.color = document.getElementById('form484').colorSelection484.value;
            };
