include ../../../source/skeleton.pug

+post({
    title: 'Apache Commons RNG 1.2',
    description: 'Apache Commons RNG 정리',
})

    h1: +asA('https://javadoc.io/doc/org.apache.commons/commons-rng-core/latest/index.html', 'org.apache.commons.rng')
    div
        h2 RestorableUniformRandomProvider
        p 난수 생성기 상태를 저장/복원할 수 있다
        +asCode('java').
            RandomProviderState saveState()
            void restoreState(RandomProviderState state)

    h1 ...core.source32
    ol
        li ISAACRandom
        p 암호적으로 안전한 ISAAC 알고리즘 의사 난수 생성기
        li JDKRandom
        p Random.nextInt()를 이용하는 의사 난수 생성기
        li KISSRandom
        p KISS 알고리즘 의사 난수 생성기
        li MersenneTwister
        p 메르센 소수를 이용한 의사 난수 생성기. 사용 시 저작권 명시 제약이 있다
        li MultiplyWithCarry256
        p Multiply-With-Carry 알고리즘 의사 난수 생성기
        li Well1024a
        p WELL1024a 알고리즘 의사 난수 생성기 + Well19937a, Well19937c, Well44497a, Well44497b, Well512a

    h1 ...core.util
    div
        h2 NumberFactory
        +asCode('java').
            static double makeDouble(int v, int w)    // + 오버로딩
            static float makeFloat(int v)
            static long makeLong(int v, int w)        // + 오버로딩
            static int extractHi(long v) + extractLo
            static byte[] makeByteArray(long[] input) // + 오버로딩
            static int makeInt(byte[] input)
            static int[] makeIntArray(byte[] input)   // + makeLongArray
