include ../../../source/skeleton.pug
+post('JavaFX', 'JavaFX', 'JavaFX 정리')
    ol
        li JavaFX : Swing을 대체해 RIP(Rich Internet Application)을 개발하기 위한 GUI 라이브러리
        li 설치
        +asA('https://gluonhq.com/products/javafx/')
        +asA('https://openjfx.io/openjfx-docs/#install-javafx')
        li 프로그램 구조
        p javafx.application.Application을 상속
        p main 메서드에서 launch 메서드 호출 → init() → start() : UI 구성 → stop()
        li 노드
        ul
            li JavaFX UI는 노드의 계층적인 구성으로 이루어진다
            li 컨테이너 노드 : 다른 노드를 내부에 포함. Stage, Scene, Pane...
            li 기본 노드 : Button, Label, Checkbox...
            li Layout Manager : BorderPane, FlowPane, StackPane, HBox, VBox...
            li Stage는 윈도우 창으로, 한 번에 하나의 Scene을 보여준다. 하나의 Scene은 하나 이상의 Pane으로 구성된다
            li Modal : 해당 윈도우가 종료될 때까지 부모 윈도우와 상호작용 불가. ↔ modaless
            li 그리기 : javafx.scene.shape
        li 이벤트
        p Event ← ActionEvent, InputEvent, WindowEvent
        p InputEvent ← KeyEvent, MouseEvent, GestureEvent, DragEvent, TouchEvent
        li 메뉴
        p javafx.scene.control.MenuBar, Menu, MenuItem, SeperatorMenuItem, CheckMenuItem, RadioMenuItem
        p 메뉴에 하위 메뉴 포함 가능
        li 예시 프로젝트
        +asA('https://github.com/Dong-gi/Dong-gi.github.io/tree/master/Repositories/IntelliJ/JavaFX')
