include ../../../source/skeleton.pug

+post({
    title: 'Logback with SLF4J',
    description: 'Logback with SLF4J 정리',
})

    h1 참고 자료
    +asA('http://www.slf4j.org/', 'SLF4J')
    +asA('http://logback.qos.ch/documentation.html', 'Logback')

    h1 Maven Spring Boot Project
    +codeBtn('/Repositories/STS/logback-maven/pom.xml', 'xml') pom.xml »
    +codeBtn('/Repositories/STS/logback-maven/src/main/resources/logback.xml', 'xml') logback.xml »
    +codeBtn('/Repositories/STS/logback-maven/src/main/resources/logback-appenders.xml', 'xml') logback-appenders.xml »
    +codeBtn('/Repositories/STS/logback-maven/src/main/java/io/github/donggi/LogbackMavenApplication.java', 'java')

    h1 Gradle Spring Boot Project
    +codeBtn('/Repositories/STS/logback-gradle/build.gradle', 'text') build.gradle »
    +codeBtn('/Repositories/STS/logback-gradle/src/main/resources/logback.xml', 'xml') logback.xml »
    +codeBtn('/Repositories/STS/logback-gradle/src/main/resources/logback-appenders.xml', 'xml') logback-appenders.xml »
    +codeBtn('/Repositories/STS/logback-gradle/src/main/java/io/github/donggi/LogbackGradleApplication.java', 'java')

    h1 logback-spring.xml
    ul
        li 스프링 부트 프로젝트에서는 profile별로 따로 설정 파일을 작성하지 않아도 된다 
            +codeBtn('/Repositories/Single/202106/logback-spring.xml', 'xml')
        li 기본 설정 파일명을 재정의하고 싶다면,
        +asCode('properties', 'application.properties') logging.config=classpath:looooooooooog.xml
