include ../../source/skeleton.jade
+post('Exceptions + Errors', 'Exceptions, Errors', '경험한 오류, 예외들 정리')
    h1 이클립스 자동완성 불가; No Java Proposals
    ol
        li https://stackoverflow.com/questions/908489/eclipse-java-code-completion-not-working
        li Windows - Preferences - Java - Editor - Content Assist - Advanced
        p
            | ↑ 그냥 설정에 proposal 입력하면 바로 필터링된다.
            br
            | 하여튼 해당 부분에서 자동 완성 제안에 표시되지 않은 항목이 있다면 체크하고 적용한다.
        li 만약 위 설정에 문제가 없는 경우
        p
            | {WORKSPACE_DIRECTORY}/.metadata/.plugins/org.eclipse.jdt.core
            br
            | 위 디렉터리에서 *.index, savedIndexNames.txt를 지우고 재실행

    h1 이클립스 애너테이션 처리 오류
    ol
        li 자료 : https://bugs.eclipse.org/bugs/show_bug.cgi?id=367599
        li 자료 : https://github.com/palantir/gradle-processors/issues/5
        li 예외 : DOMA4011, javax.annotation.processing.FilterException: Source file already created
        li 원인 : 이클립스 배치 모드에서 특정 파일 수(2000)를 초과하면 애너테이션 처리에 버그 발생
        li 해결 : eclipse.ini vmargs 섹션에 아래처럼 추가
        +asCode('ini').
            -vmargs
            -DmaxCompiledUnitsAtOnce=20000

    h1 MySQL 시간 기본값 0 설정이 안 될 때
    ol
        li 왜 굳이 now(), NULL, 특정 시각 상수가 아닌 0을 이용하려는지는 모르겠지만...
        li 원인 : 서버에 NO_ZERO_DATE 옵션이 설정됐기 때문
        li 옵션 확인
        +asCode('sql').
            SHOW VARIABLES LIKE 'sql_mode'
            -- 또는
            SELECT @@sql_mode
        li 해결 1
        +asCode('sql') SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'NO_ZERO_DATE',''));
        li 해결 2 : /etc/my.cnf 수정
        +asCode('ini').
            [mysqld]
            sql_mode="수정값"

    h1 PostgreSQL remaining connection slots are reserved for non-replication superuser connections
    ol
        li 자료 : https://stackoverflow.com/a/32584211/7369515
        li 원인 : 일반적으로 최대 연결 수 부족
        li 해결1 : /var/lib/pgsql/data/postgresql.conf
        +asCode('ini') max_connections=${적당히_큰_숫자}
        li 해결2 : 연결 강제로 끊기
        +asCode('sql') select distinct pg_terminate_backend(pid) from pg_stat_activity where client_addr = 'x.x.x.x';

    h1 도커 컨테이너 에러 종료 후 재시작 불가
    ol
        li 예외 종료된 도커 컨테이너가 아래와 같이 실행되지 않을 때
        +asCode() Error response from daemon: container "83a7208d6b68d3d97be501b47d6a4bb28245b086f25eda819dec93a8d40320a3": already exists
        li 아래 명령으로 컨테이너의 잔존 메타데이터를 지우면 다시 시작할 수 있다.
        +asCode('shell') docker-containerd-ctr --namespace moby --address /var/run/docker/containerd/docker-containerd.sock c rm [container_id]
        p container_id는 전체를 넘겨줘야 하고, address 옵션값은 정확한 경로로 넘겨줘야 한다.

    h1 C# 인증 오류 해결 : 무조건 신뢰하는 방향
    +asCode('cs').
        //Trust all certificates
        System.Net.ServicePointManager.ServerCertificateValidationCallback = ((sender, certificate, chain, sslPolicyErrors) => true);
        // trust sender
        System.Net.ServicePointManager.ServerCertificateValidationCallback = ((sender, cert, chain, errors) => true);
        // validate cert by calling a function
        ServicePointManager.ServerCertificateValidationCallback += new RemoteCertificateValidationCallback((sender, cert, chain, policyErrors) => true);

    h1 java.text.ParseException: Unparseable date: "2028-07-25 15:00:00"
    ol
        li 아스키 공백 문자(32)가 맞는지 확인한다.
        +w3img('/imgs/20200227_143848.png')
        +w3img('/imgs/20200227_145006.png')

    h1 서버 응답이 잘려서 올 때
    ol
        li Linux > docker-machine > container(서버) 환경에서, Linux 서버의 용량이 부족할 때 이하의 현상이 발생함을 확인
        ul
            li container, docker-machine에서 서버 응답은 정상 획득
            li Linux 서버 및 그 밖에서는 서버 응답이 잘림

    h1 암호화 오류. Padding is invalid and cannot be removed
    ol
        +asA('https://www.red-gate.com/simple-talk/blogs/oh-no-my-paddings-invalid/')
        li 스트림을 직접 이용하는 경우, flush 완료됐는지 확인이 필요하다.
        +asCode('cs', 'C# 암호화').
            var source = File.ReadAllBytes("source_file");
            using var aes = Aes.Create();
            aes.Key = Encoding.ASCII.GetBytes("32 Bytes String");
            aes.IV = Encoding.ASCII.GetBytes("16 Bytes String");
            
            using var mStream = new MemoryStream();
            {
                using var cStream = new CryptoStream(mStream, aes.CreateEncryptor(), CryptoStreamMode.Write);
                cStream.Write(source, 0, source.Length);
            } // 블록을 추가하여 암호화 스트림이 먼저 flush + close하도록 보장
            var target = mStream.ToArray();
        +asCode('cs', 'C# 복호화').
            {
                var source = File.ReadAllBytes("source_file");
                var aes = Aes.Create();
                aes.Key = Encoding.ASCII.GetBytes("32 Bytes String");
                aes.IV = Encoding.ASCII.GetBytes("16 Bytes String");
                
                using var mStream = new MemoryStream(source);
                using var cStream = new CryptoStream(mStream, aes.CreateDecryptor(), CryptoStreamMode.Read);
                using var fStream = new FileStream("target_file", FileMode.Create);
                var buf = new byte[source.Length];
                var length = cStream.Read(buf, 0, buf.Length);
                fStream.Write(buf, 0, length);
            } // 블록을 추가하여 모든 스트림이 알아서 닫히도록 구성

    h1 우분투 WebSocket 서버의 연결이 일정 개수 이상 수립되지 않음
    div
        +asA('https://serverfault.com/questions/361416/increasing-the-number-of-outbound-tcp-connections')
        +asCode('properties', '/etc/security/limits.conf 수정 예').
            &lt;user> soft nofile 8192
            &lt;user> hard nofile 65000
