include ../../source/skeleton.jade
+post('WPF 데이터 툴', 'WPF', 'WPF 데이터 툴 정리')
    h1.marker 기존 프로젝트
    div
        h2.marker 외부 실행 흐름
        +w3img('/imgs/20190719_100711.png')
        h2.marker 문제점
        ol
            li 불필요한 중복 작업
            ul
                li 로직을 공유하는 2개 게임의 데이터 추출을 각각의 프로젝트로 관리
                li 불필요한 중복 코드 다수 존재
            li 미흡한 기능
            ul
                li 게임 업그레이드 작업시 2개 버전의 데이터를 추출해야 하지만, 프로젝트가 하나의 버전만 지원할 수 있어 별도 빌드 필요
                li 예외 발생 시 메시지로 보고만 한 뒤 프로그램 종료
                li xls 한 행마다 DB 서버에 질의하여 불필요한 IO 대기가 많음
                li 모든 작업이 UI 스레드에서 동작하여 하나를 시작하면 종료될 때까지 기다려야만 함
            li xls 템플릿 파일을 이용하여 사본을 저장하는 방식의 문제
            ul
                li 업그레이드 작업 시 프로젝트 내부 모델 수정 외에 별도의 템플릿 수정이 필요
                li 템플릿을 이용하는 방식은 하나의 모델 버전만 지원 가능

    h1.marker 통합 프로젝트
    div
        h2.marker 외부 실행 흐름
        +w3img('/imgs/20190719_103028.png')
        h2.marker 주요 수정 사항
        ol
            li C# WinForm 프로젝트 2개를 단일 C#.NET WPF 프로젝트로 옮기면서 MVVM 구조로 재설계
            li 단일 프로젝트에서 여러 모델 버전 동시 지원
            p 추출하기 위해 선택한 DB 서버에 따라서 알아서 해당 버전에 유효한 컬럼들로만 xls 추출
            li 빌드 파일을 압축하여 공유하는 방식에서 원클릭 업데이트로 변경
            li 불필요한 포그라운드 작업을 백그라운드로 전환
            p 각 작업들을 서비스 클래스의 메서드로 변경하였고, 커맨드 패턴을 이용하여 백그라운드 스레드로 자동 구성하도록 변경.
            li 투박한 디자인 대신 머티리얼 디자인으로 UX 개선
            li DB IO 낭비 개선, 엑셀 시트 작성 개선, 기타 지속적인 리팩터링
        h2.marker 버전 2 프로젝트
        ol
            li 브라우저 연계 기능 추가
            li 원클릭 배포(CDN 이용)
            li 스크린샷(연출된 화면입니다)
            +w3img('/imgs/20200527_074143.png', '트레이 메뉴 추가').marker
            +w3img('/imgs/20200527_074112.png', '브라우저 화면').marker
            +w3img('/imgs/20200527_074127.png', '쿼리 결과 확인').marker
