/* 파일 리스트 스타일 */
.file-list ul {
    padding-left: 1.5em;
}

div {
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

details>p {
    background-color: white;
    border-radius: 1em;
    margin-top: 1rem;
    padding: 0.5em 1em;
}

li {
    margin: 0.5rem 0;
}

li:hover {
    background-color: antiquewhite;
}

.my-code, .modal-body {
    word-wrap: normal;
}

.my-code ol, .modal-body ol {
    margin-left: 0;
}

.my-code li, .code-modal li {
    margin: 0;
}

.my-code li:hover, .code-modal li:hover {
    background-color: antiquewhite;
}

.my-code {
    background-color: white;
    overflow: auto;
    border: solid #eeeeee;
    border-radius: 1em;
}

.btn {
    margin-right: 5px;
}

/* Overwrite the Bootstrap's settings */

@media screen and (min-width: 0px) {
    .modal-dialog {
        max-width: 1920px;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

pre {
    margin : 0.5rem 0;
}

hr {
    border-top: 3px solid rgba(0, 0, 0, .1);
}

.modal-content {
    height: 100%;
    width: 100%;
}

.modal-body {
    max-height: calc(100% - 140px);
    overflow-y: scroll;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

/* Snackbar : from https://www.w3schools.com/howto/howto_js_snackbar.asp */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1000000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* 스크롤바 */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #777777;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}