body { padding-bottom: 4rem; }

main { width: 100%; }

a { color: black; }

img { max-width: 100%; }

summary {
    font-size: 1.1em;
    font-weight: 500;
}

details > p { margin-top: 1rem; }

div.my-code {
    background-color: white;
    overflow-y: scroll;
}

li:hover { background-color: antiquewhite; }

li { margin: 0.5rem 0; }

.my-code li { margin: 0; }

.code-modal li { margin: 0; }

/* Overwrite the Bootstrap's settings */
@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 1366px;
        width: 80%;
    }
    .jumbotron {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 576px) {
    .modal-dialog {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-height: 1400px) {
    .modal-dialog {
        height: 50%;
    }
}

@media screen and (min-height: 700px) and (max-height: 1400px) {
    .modal-dialog {
        height: 70%;
    }
}

@media screen and (max-height: 700px) {
    .modal-dialog {
        height: 100%;
    }
}

.modal-content {
    height: 100%;
    width: 100%;
}

.modal-body {
    max-height: calc(100% - 140px);
    overflow-y: scroll;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

/* Snackbar : from https://www.w3schools.com/howto/howto_js_snackbar.asp */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1000000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}