include ./utility.jade

html(lnag='ko')
    head
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,shrink-to-fit=no')
        meta(name='google-site-verification',content='aH-DyzdytYQ0NPHNQFcs5dVoiu5YNs6CEEHYgqDmAFM')
