include ../../../source/skeleton.pug
+post('XML 처리 가이드 2.3.28', 'FreeMarker, XML, Guide', 'XML 처리 가이드 2.3.28 정리')
    h1 템플릿에 XML 연결
    p
        | 아래의 예시에서 사용하는 공통 xml과 java.
        +codeBtn('/Repositories/Eclipse/FreeMarker/resource/template/t_014.xml', 'xml') xml »
        +codeBtn('/Repositories/Eclipse/FreeMarker/src/io/github/donggi/ProgrammerGuilde.java', 'java', '[28, 35]') Java »
    h1 이름으로 요소 접근
    +codeBtn('/Repositories/Eclipse/FreeMarker/resource/template/t_014.ftl', 'xml', '[2, 2, 50, 50, 4, 5, 52, 53, 7, 7, 55, 55, 9, 14, 57, 62]') FTL + 결과 »
    h1 요소의 속성 접근
    +codeBtn('/Repositories/Eclipse/FreeMarker/resource/template/t_014.ftl', 'xml', '[18, 20, 66, 67, 22, 24, 69, 70]') FTL + 결과 »
    h1 자식 요소 순회
    +codeBtn('/Repositories/Eclipse/FreeMarker/resource/template/t_014.ftl', 'xml', '[28, 30, 74, 90, 32, 35, 93, 98]') FTL + 결과 »
    h1 속성 순회
    +codeBtn('/Repositories/Eclipse/FreeMarker/resource/template/t_014.ftl', 'xml', '[39, 41, 102, 103]') FTL + 결과 »
    h1 부모 노드 접근
    +codeBtn('/Repositories/Eclipse/FreeMarker/resource/template/t_014.ftl', 'xml', '[45, 46, 107, 107]') FTL + 결과 »
