include ../../source/skeleton.pug

+post({
    title: '양자 컴퓨터',
    description: '양자 컴퓨터 정리',
})

    ol
        li 브라-켓 표기법(Bra-ket notation; aka. 디랙 표기법)
        p 브라-A : ＜A| = 행벡터 (A1*, A2*, ..., An*) // A*는 A의 켤레 복소수
        p 켓-A : |A＞ = 열벡터 (A1, A2, ... An)

        li Qubit
        ul
            li |0＞, |1＞의 선형 결합 α|0＞+β|1＞
            li |0＞로 관측될 확률 |α|^2
            li |1＞로 관측될 확률 |β|^2
            li |α|^2 + |β|^2 = 1

        li Superposition
        p 입자는 동시에 여러 장소에 존재할 수 있다

        li 양자 중첩 Quantum superposition
        p 큐비트는 관측하기 전까지 어떤 상태인지 알 수 없다. 큐비트의 복사도 불가능하다
        p 실제 양자 컴퓨터 구현에서, 에러율을 0%에 가깝게 만들기 위해 단일 큐비트 표현에 복수의 양자를 사용하는 경우가 있음

        li 양자 얽힘 Quantum entanglement
        p 얽혀있는 두 큐비트는 둘 사이의 거리에 무관하게 한쪽이 관측되면 다른 한쪽도 상태가 고정된다. 양자 얽힘에 의한 정보 전달은 빛보다 빠르지는 않다
        p 얽힌 두 큐비트를 얻는 방법 : 하나의 입자를 두 큐비트로 쪼개거나, 두 큐비트를 가까이 모아 얽힘 상태로 변경

        li Quantum teleportation
        p 양자 얽힘을 이용한 정보 전송 방법
        ol
            li Alice와 Bob은 얽혀 있는 큐비트 한 쌍의 각각을 갖고 있다(Qa, Qb)
            li Alice는 Bob에게 전달하고 싶은 큐비트(Qm)과 Qa를 동시와 관측한 뒤, 그 관측 결과를 Bob에게 기존 통신망으로 전달한다
            li Bob은 전달받은 관측 결과와 Qb를 이용해 Qm을 알아낸다
