include ../../source/skeleton.jade
+post('.NET Index', '', '')
    table.marker
        caption .NET Index
        +ths('내용', '링크')
        tr
            td C# 기초
            td: +asA('/posts/dotnet/csharp_basic.html')
        tr
            td WPF 기초
            td: +asA('/posts/dotnet/wpf_basic.html')
        tr
            td C# 라이브러리
            td: +asA('/posts/dotnet/csharp_library.html')
        tr
            td C#.NET, WPF - 데이터 작업 툴
            td: +asA('/posts/project/wpf_data_tool.html')
