include ../../source/skeleton.jade
+post('Apache Commons Collections', 'Apache Commons Collections', 'Apache Commons Collections 정리')
    h1 org.apache.commons.collections4
    div
        h2 컬렉션 자료형 인터페이스
        div
            h3 interface BoundedCollection&lt;E> extends Collection&lt;E> Since 3.0
            ol
                li 크기 제한을 갖는 컬렉션
                li isFull(), maxSize()

            h3 interface Bag&lt;E> extends Collection&lt;E> Since 2.0
            ol
                li 컬렉션이 보유한 객체에 대한 갯수를 유지한다.
                li 예를 들어, Bag {a, b, c, a} 인스턴스에 대해 getCount(a) == 2, uniqueSet() == {a, b, c}
                li Bag의 메서드는 Collection API와 다르게 작동하므로, Collection으로 참조하지 않는 것이 바람직하다
            +asCode('java').
                int getCount(Object object)
                    // object 보유 갯수 반환. 없으면 0
                
                boolean add(E object)
                    // object의 사본이 uniqueSet()에 있다면 카운트만 1 증가하고 false 반환.
                    // uniqueSet()에 없다면 사본 추가 → 카운트 1 설정 → true 반환.
                boolean add(E object, int nCopies)
                
                boolean remove(Object object)
                    // object를 모두 제거하고, 컬렉션의 변동이 있다면 true를 반환한다.
                boolean remove(Object object, int nCopies)
                
                Set&lt;E> uniqueSet()
                
                boolean containsAll(Collection&lt;?> coll)
                    // coll의 모든 요소가 uniqueSet()에 존재하고, 각 요소에 대한 getCount(Object)가 coll에 존재하는 개수보다 크거나 같은 경우 true 반환
                boolean removeAll(Collection&lt;?> coll)
                    // coll의 모든 요소에 대해 한 번씩 remove(Object)를 호출한 것과 같다.
                boolean retainAll(Collection&lt;?> coll)
                    // coll에 포함된 요소만 Bag에 유지하되, coll에 존재하는 개수만큼만 최대로 유지한다.

            h3 interface SortedBag&lt;E> extends Bag&lt;E> Since 2.0

            h3 interface MultiSet&lt;E> extends Collection&lt;E> Since 4.1
            p Bag과 유사하지만, Collection API를 좀 더 적절하게 따른다.
            div
                h4 static interface MultiSet.Entry&lt;E>
                p MultiSet의 변경 불가능한 원소를 표현한다
                +asCode('java').
                    E getElement()
                    int getCount()
                    boolean equals(Object o)
                        // 둘 다 null이거나, 개수까지 일치할 때 true
                    int hashCode()

            h3 interface IterableMap&lt;K, V> extends Map&lt;K, V>, Put&lt;K, V>, IterableGet&lt;K, V> Since 3.0
            p MapIterator를 지원하는 Map

            h3 interface IterableSortedMap&lt;K, V> extends SortedMap&lt;K, V>, OrderedMap&lt;K, V> Since 4.0

            h3 interface BoundedMap&lt;K, V> extends IterableMap&lt;K, V> Since 3.0

            h3 interface BidiMap&lt;K, V> extends IterableMap&lt;K, V> Since 3.0
            ol
                li 키와 값이 일대일 대응을 만족하도록 강제하여, 값을 통한 키의 탐색이 가능하게 한다.
                li 값을 통한 키의 탐색은 키를 통한 값의 탐색과 동일한 성능으로 이루어져야 한다.
                li 키와 값의 위치를 뒤집은 BidiMap을 반환하는 inverseBidiMap() 연산도 지원한다

            h3 interface SortedBidiMap&lt;K, V> extends OrderedBidiMap&lt;K, V>, SortedMap&lt;K, V> Since 3.0

            h3 interface MultiValuedMap&lt;K, V> Since 4.1
            ol
                li 각 키에 대한 값을 컬렉션에 보관하는 맵을 정의한다
                li 키를 통해 얻은 컬렉션의 변경 가능 여부는 정해지지 않는다.
            div
                h4 Method Detail
                ol
                    li Collection, Map을 직접 상속하진 않지만, 동일한 메서드들은 생략
                    li
                        | boolean containsValue(Object value)
                        +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/MultiValuedMapTest.java', 'java', '[17,24]')
                    li boolean putAll(K key, Iterable&lt;? extends V> values)
                    p 맵이 변경되면 true
                    li boolean removeMapping(Object Key, Object item)
                    li Map&lt;K, Collection&lt;V>> asMap()
                    li
                        | MapIterator&lt;K, V> mapIterator()
                        +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/MultiValuedMapTest.java', 'java', '[27,45]')

            h3 interface ListValuedMap&lt;K, V> extends MultiValuedMap&lt;K, V> Since 4.1 + SetValuedMap
            p List를 컨테이너로 이용하는 것 외의 변경은 없다.

            h3 interface OrderedMap&lt;K, V> extends IterableMap&lt;K, V> Since 3.0

            h3 interface OrderedBidiMap&lt;K, V> extends BidiMap&lt;K, V>, OrderedMap&lt;K, V> Since 3.0

            h3 interface KeyValue&lt;K, V> Since 3.0

            h3 interface Trie&lt;K, V> extends IterableSortedMap&lt;K, V> Since 4.0
            p
                | Prefix tree에 대해 정의한다.
                +w3img('https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Trie_example.svg/1024px-Trie_example.svg.png')
                +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/TrieTest.java', 'java', '[13,32]')

        h2 컬렉션 연산 인터페이스
        div
            h3 interface Unmodifiable Since 3.0
            p 컬렉션 변경 연산이 제공되지 않음을 표시하는 마커 인터페이스

            h3 interface Get&lt;K, V> Since 4.0
            p Map 인터페이스의 읽기 기능에 대한 정의를 담고 있다. 라고 적혀있지만 remove(Object) 메서드는 여기에 있다.

            h3 interface IterableGet&lt;K, V> extends Get&lt;K, V> Since 4.0
            p 이 인터페이스를 구현한 Map은 mapIterator() 메서드를 통해 MapIterator&lt;K, V>를 제공한다.

            h3 interface Put&lt;K, V> Since 4.0
            p Map 인터페이스의 쓰기 기능에 대한 정의를 담고 있다.  Put(K, V)는 V가 아닌 Object를 반환함에 유의.

            h3 class FluentIterable&lt;E> implements Iterable&lt;E> Since 4.1
            ol
                li 스트림의 중간 연산들을 컬렉션에 직접 적용할 수 있는 기능을 제공한다. 기저 컬렉션에 대한 뷰를 반환하기 때문에 변형을 거쳐도 부하가 적다.
                li 스트림의 종결 연산처럼, 뷰의 요소들로 구성된 새로운 컬렉션을 반환하는 기능을 제공한다.
            +asCode('java').
                static &lt;T> FluentIterable&lt;T> empty()
                static &lt;T> FluentIterable&lt;T> of(T singleton)
                    // + (T...), (Iterable&lt;T>)
                FluentIterable&lt;E> append(E... elements)
                    // + Iterable&lt;T>
                
                FluentIterable&lt;E> collate(Iterable&lt;? extends E> other[, Comparator&lt;? super E> comparator])
                    // (현재 뷰의 원소들 + other에 포함된 원소들)로 구성된 새로운 뷰를 반환한다.
                    // 비교자를 받는 메서드로 정렬 순서를 지정할 수 있으며, 지정되지 않은 경우 자연스러운 순서(ComparatorUtils.NATURAL_COMPARATOR)가 이용된다.
                FluentIterable&lt;E> eval()
                    // 현재 뷰에 대한 독립적인 새로운 뷰를 반환한다.
                
                FluentIterable&lt;E> filter(Predicate&lt;? super E> predicate)
                FluentIterable&lt;E> limit(long maxSize)
                FluentIterable&lt;E> loop()
                FluentIterable&lt;E> reverse()
                FluentIterable&lt;E> skip(long elementsToSkip)
                &lt;O> FluentIterable&lt;O> transform(Transformer&lt;? super E, ? extends O> transformer)
                FluentIterable&lt;E> unique()
                FluentIterable&lt;E> unmodifiable()
                FluentIterable&lt;E> zip(Iterable&lt;? extends E> other)
                    // + Iterable... : 각 이터러블을 순서대로 순회
                
                Enumeration&lt;E> asEnumeration()
                List&lt;E> toList()
                E[] toArray(Class&lt;E> arrayClass)
                
                boolean allMatch(Predicate&lt;? super E> predicate) + anyMatch
                boolean isEmpty()
                boolean contains(Object object)
                E get(int position)
                int size()
                
                void forEach(Closure&lt;? super E> closure)
                void copyInto(Collection&lt;? super E> collection)

            h3 interface OrderedIterator&lt;E> extends Iterator&lt;E> Since 3.0
            p 역방향 순회를 추가로 지원한다

            h3 interface MapIterator&lt;K, V> extends Iterator&lt;K> Since 3.0
            ol
                li Map에 대한 이터레이터를 정의한다.
                li 이 인터페이스를 구현한 Map은 내부에서 데이터를 Entry 객체로 유지하지 않는다(불필요한 객체 생성 방지).
                li Entry 대신 키를 이용해 순회하며, getValue(), setValue() 연산을 지원한다.
            +asCode('java').
                K getKey()
                V getValue()
                void remove() // 지원하지 않을 수 있다.
                V setValue()  // 지원하지 않을 수 있다.

            h3 interface OrderedMapIterator&lt;K, V> extends MapIterator&lt;K, V>, OrderedIterator&lt;K>

            h3 interface ResettableIterator&lt;E> extends Iterator&lt;E> Since 3.0
            +asCode('java').
                void reset()
                    // 이너레이터가 생성됐을 때 초기 위치로 돌아간다.

            h3 interface ResettableListIterator&lt;E> extends ListIterator&lt;E>, ResettableIterator&lt;E>, OrderedIterator&lt;E> Since 3.0
            p 재사용 가능

        h2 유틸리티 클래스
        div
            h3 class BagUtils Since 2.1
            +asCode('java').
                static final Bag EMPTY_BAG
                static final Bag EMPTY_SORTED_BAG

                static &lt;E> Bag&lt;E> collectionBag(Bag&lt;E> bag)
                    // Since 4.0 : Collection API를 따르는 백
                
                // 아래의 함수들에 대하여, SortedBag 버전이 존재한다
                static &lt;E> Bag&lt;E> synchronizedBag(Bag&lt;E> bag)                                         // 스레드-안전
                static &lt;E> Bag&lt;E&Gt; unmodifiableBag(Bag&lt;? extends E> bag)                            // 변경 불가능한 뷰
                static &lt;E> Bag&lt;E> predicatedBag(Bag&lt;E> bag, Predicate&lt;? super E> predicate)        // 아이템 추가 전 테스트 추가
                static &lt;E> Bag&lt;E> transformingBag(Bag&lt;E> bag, Transformer&lt;? super E, ? extends E>) // 아이템 추가 전 변환기 추가

            h3 class CollectionUtils Since 1.0
            ol
                li public static final Collection EMPTY_COLLECTION
                li static &lt;T> Collection&lt;T> emptyIfNull(Collection&lt;T> collection)
                p collection이 null이면 EMPTY_COLLECTION, 그 외엔 collection 자체 반환
                li static &lt;T> Collection&lt;O> union(Iterable&lt;? extends O> a, Iterable&lt;? extends O> b)
                p a, b의 합집합 표현을 반환한다. + intersection, disjunction(대칭 차집합), subtract
                p subtract에 한하여 3번째 인자로 Predicate을 받는 함수가 존재한다(Since 4.0)
                h4 각 원소의 cardinality
                ul
                    li
                        | union :
                        +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/CollectionUtilsTest.java', 'java', '[18,30]') a, b중 큰 쪽과 같다
                    li intersection : a, b중 작은 쪽과 같다
                    li disjunction : cardinality_of_union - cardinality_of_intersection
                    li subtract : cardinality_of_a - cardinality_of_b
                li static boolean containsAll(Collection&lt;?> coll1, Collection&lt;?> coll2) // Since 4.0
                p coll1이 coll2의 모든 원소를 포함하는지 여부를 반환한다. 각 원소에 대한 cardinality는 고려 대상이 아니다.
                li static boolean containsAny(Collection&lt;?> coll1, Collection&lt;?> coll2) // Since 2.1
                li static &lt;?O> Map&lt;O, Integer> getCardinalityMap(Iterable&lt;? extends O> coll)
                li static boolean isSubCollection(Collection&lt;?> a, Collection&lt;?> b)
                p a가 b의 부분 컬렉션인지(cardinality 고려) 여부 반환
                li static boolean isProperSubCollection(Collection&lt;?> a, Collection&lt;?> b)
                p isSubCollection() && cardinality_of_b > cardinality_of_a를 만족하는 원소가 적어도 하나 존재
                li static boolean isEqualCollection(Collection&lt;?> a, Collection&lt;?> b)
                li
                    | static &lt;T> boolean filter(Iterable&lt;T> collection, Predicate&lt;? super T> predicate)
                    br
                    | static &lt;T> boolean filterInverse(Iterable&lt;T> collection, Predicate&lt;? super T> predicate)
                p 필터 조건에 만족되지 않는 원소들은 collection에서 제거된다.
                li static &lt;C> void transform(Collection&lt;C> collection, Transformer&lt;? super C, ? extends C> transformer)
                li
                    | static &lt;O> Collection&lt;O> select(Iterable&lt;? extends O> inputCollection, Predicate&lt;? super O> predicate)
                    br
                    | static &lt;O> Collection&lt;O> selectRejected(Iterable&lt;? extends O> inputCollection, Predicate&lt;? super O> predicate)
                    br
                    | static &lt;O, R extends Collection&lt;? super O>> R select(Iterable&lt;? extends O> inputCollection, Predicate&lt;? super O> predicate, R outputCollection)
                    br
                    | static &lt;O, R extends Collection&lt;? super O>> R selectRejected(Iterable&lt;? extends O> inputCollection, Predicate&lt;? super O> predicate, R outputCollection)
                    br
                    | static &lt;O, R extends Collection&lt;? super O>> R select(Iterable&lt;? extends O> inputCollection, Predicate&lt;? super O> predicate, R outputCollection, R rejectedCollection) // Since 4.1
                li
                    | static &lt;I, O> Collection&lt;O> collect(Iterable&lt;I> inputCollection, Transformer&lt;? super I, ? extends O> transformer)
                    br
                    | static &lt;I, O> Collection&lt;O> collect(Iterator&lt;I> inputIterator, Transformer&lt;? super I, ? extends O> transformer)
                    br
                    | static &lt;I, O, R extends Collection&lt;? super O>> R collect(Iterable&lt;I> inputCollection, Transformer&lt;? super I, ? extends O> transformer, R outputCollection)
                    br
                    | static &lt;I, O, R extends Collection&lt;? super O>> R collect(Iterator&lt;I> inputIterator, Transformer&lt;? super I, ? extends O> transformer, R outputCollection)
                li
                    | static &lt;T> boolean addIgnoreNull(Collection&lt;T> collection, T object) // Since 3.2
                    br
                    | static &lt;C> boolean addAll(Collection&lt;C> collection, Iterable&lt;? extends C> iterable) + Iterator, Enumeration, C...
                li
                    | static int size(Object object) // Since 3.1
                    br
                    | static boolean sizeIsEmpty(Object object) // Since 3.2
                p Collection, Map, Array, Iterator, Enumeration 지원
                li static void reverseArray(Object[] array)
                li
                    | static &lt;O extends Comparable&lt;? super O>> List&lt;O> collate(Iterable&lt;? extends O> a, Iterable&lt;? extends O> b, boolean includeDuplicates) // Since 4.0
                    br
                    | static &lt;O extends Comparable&lt;? super O>> List&lt;O> collate(Iterable&lt;? extends O> a, Iterable&lt;? extends O> b, Comparator&lt;? super O> c, boolean includeDuplicates) // Since 4.0
                p 2개의 정렬된 컬렉션을 하나의 정렬된 컬렉션으로 반환
                li static &lt;E> Collection&lt;List&lt;E>> permutations(COllection&lt;E> collection) // Since 4.0
                p 구성 요소들에 대한 순열을 반환한다. 사이즈가 큰 경우, PermutationIterator를 이용하면 된다.
                li static &lt;C> Collection&lt;C> retainAll(Collection&lt;C> collection, Collection&lt;?> retain) // Since 3.2
                p retain에 담긴 요소들만으로 구성된 컬렉션을 반환한다. 반환된 컬렉션 각 요소의 cardinality는 기존과 동일하다. retain 컬렉션의 탐색 속도가 빠를수록 함수 완료가 빨라진다
                li static &lt;E> Collection&lt;E> removeAll(Collection&lt;E> collection, Collection&lt;?> remove) // Since 4.0
                li static &lt;C> Collection&lt;C> predicatedCollection(Collection&lt;C> collection, Predicate&lt;? super C> predicate)
                p 삽입 제약 추가
                li static &lt;E> Collection&lt;E> transformingCollection(Collection&lt;E> collection, Transformer&lt;? super E, ? extends E> transformer)
                p 변환 로직 추가

            h3 class ComparatorUtils Since 2.1
            +asCode('java').
                public static final Comparator NATURAL_COMPARATOR
                
                static &lt;E> Comparator&lt;E> chainedComparator(Comparator&lt;E>... comparators)
                static &lt;E> Comparator&lt;E> reversedComparator(Comparator&lt;E> comparator)
                static &lt;E> Comparator&lt;Boolean> booleanComparator(boolean trueFirst)
                static &lt;E> Comparator&lt;E> nullLowComparator(Comparator&lt;E> comparator)
                static &lt;I, O> Comparator&lt;I> transformedComparator(Comparator&lt;O> comparator, Transformer&lt;? super I, ? extends O> fransformer)
                static &lt;E> E min(E o1, E o2, Comparator&lt;E> comparator) + max

            h3 class EnumerationUtils Since 3.0
            +asCode('java').
                static&lt;T> T get(Enumeration&lt;T> e, int index) // Since 4.1
                static&lt;T> List&lt;E> toList(Enumeration&lt;? extends E> enumeration)
                static List&lt;String> toList(StringTokenizer stringTokenizer)

            h3 class IterableUtils Since 4.1
            +asCode('java').
                // + IteratorUtils
                static &lt;E> Iterable&lt;E> emptyIterable()
                static &lt;E> Iterable&lt;E> emptyIfNull(Iterable&lt;E> iterable)
                
                static &lt;E> Iterable&lt;E> chainedIterable(Iterable&lt;? extends E> a, Iterable&lt;? extends E> b)
                static &lt;E> Iterable&lt;E> filteredIterable(Iterable&lt;E> iterable, Predicate&lt;? super E> predicate)
                static &lt;E> Iterable&lt;E> boundedIterable(Iterable&lt;E> iterable, long maxSize)
                static &lt;E> Iterable&lt;E> loopingIterable(Iterable&lt;E> iterable)
                static &lt;E> Iterable&lt;E> reversedIterable(Iterable&lt;E> iterable)
                static &lt;E> Iterable&lt;E> skippingIterable(Iterable&lt;E> iterable, long elementsToSkip)
                static &lt;I, O> Iterable&lt;O> transformedIterable(Iterable&lt;I> iterable, Transformer&lt;? super I, ? extends O> transformer)
                static &lt;E> Iterable&lt;E> uniqueIterable(Iterable&lt;E> iterable)
                static &lt;E> Iterable&lt;E> unmodifiableIterable(Iterable&lt;E> iterable)
                static &lt;E> Iterable&lt;E> zippingIterable(Iterable&lt;? extends E> a, Iterable&lt;? extends E> b)
                
                static &lt;E> void forEach(Iterable&lt;E> iterable, Closure&lt;? super E> closure)
                static &lt;E> E forEachButLast(Iterable&lt;E> iterable, Closure&lt;? super E> closure)
                static &lt;E> E find(Iterable&lt;E> iterable, Predicate&lt;? super E> predicate)
                static &lt;E> int indexOf(Iterable&lt;E> iterable, Predicate&lt;? super E> predicate)
                static &lt;E> boolean matchesAll(Iterable&lt;E> iterable, Predicate&lt;? super E> predicate) + matchesAny
                static &lt;E> long countMatches(Iterable&lt;E> input, Predicate&lt;? super E> predicate)
                static boolean isEmpty(Iterable&lt;?> iterable)
                static &lt;E> boolean contains(Iterable&lt;E> iterable, Object object)
                static &lt;E, T extends E> int frequency(Iterable&lt;E> iterable, T obj)
                static &lt;T> T get(Iterable&lt;T> iterable, int index)
                static &lt;T> T first(Iterable&lt;T> iterable) // Since 4.2
                satic int size(Iterable&lt;?> iterable)
                static &lt;O> List&lt;List&lt;O>> partition(Iterable&lt;? extends O> iterable, Predicate&lt;? super O> predicate)
                static &lt;E> List&lt;E> toList(Iterable&lt;E> iterable)
                static &lt;E> String toString(Iterable&lt;E> iterable)

            h3 class ListUtils Since 1.0
            +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/ListUtilsTest.java', 'java')
            +asCode('java').
                static &lt;T> List&lt;T> emptyIfNull(List&lt;T> list)
                static &lt;T> List&lt;T> defaultIfNull(List&lt;T> list, List&lt;T> defaultList) // Since 4.0
                
                static &lt;T> List&lt;T> intersection(List&lt;? extends E> list1, List&lt;? extends E> list2)
                static &lt;T> List&lt;T> subtract(List&lt;? extends E> list1, List&lt;? extends E> list2)
                static &lt;T> List&lt;T> union(List&lt;? extends E> list1, List&lt;? extends E> list2)
                static &lt;T> List&lt;T> sum(List&lt;? extends E> list1, List&lt;? extends E> list2) : union - intersection
                static &lt;T> List&lt;T> select(Collection&lt;? extends T> inputCollection, Predicate&lt;? super T> predicate) // Since 4.0
                static &lt;T> List&lt;T> selectRejected(Collection&lt;? extends T> inputCollection, Predicate&lt;? super T> predicate) // Since 4.0
                static &lt;T> List&lt;T> retainAll(Collection&lt;T> collection, Collection&lt;?> retain) // Since 3.2
                static &lt;T> List&lt;T> removeAll(Collection&lt;T> collection, Collection&lt;?> remove) // Since 3.2
                static &lt;T> List&lt;T> longestCommonSubsequence(List&lt;T> a, List&lt;T> b) // Since 4.0
                
                static &lt;T> List&lt;T> unmodifiableList(List&lt;? extends E> list)
                static &lt;T> List&lt;T> predicatedList(List&lt;E> list, Predicate&lt;E> predicate)
                static &lt;T> List&lt;T> transformedList(List&lt;E> list, Transformer&lt;? super E, ? extends E> transformer)
                static &lt;T> List&lt;T> lazyList(List&lt;E> list, Factory&lt;? extends E> factory)
                    // 요청된 인덱스에 한해서만 객체를 생성한다. 빈 구역은 null로 채워진다.
                static &lt;T> List&lt;T> fixedSizeList(List&lt;T> list) // 요소의 추가/삭제 불가
                static &lt;T> List&lt;T> synchronizedList(List&lt;E> list)
                
                static &lt;T> List&lt;List&lt;T>> partition(List&lt;T> list, int size) // Since 4.0
                
                static boolean isEqualList(Collection&lt;?> list1, Collection&lt;?> list2)
                static int hashCodeForList(Collection&lt;?> list)
                static &lt;T> int indexOf(List&lt;T> list, Predicate&lt;T> predicate)

            h3 class MapUtils Since 1.0
            ol
                li static &lt;K, V> V getObject(Map&lt;? super K, V> map, K key)
                p map이 null이면 null 반환
                li static &lt;K> String getString(Map&lt;? super K, ?> map, K key)
                p
                    | 조회된 객체에 대하여 toString() 호출. map이 null이면 null 반환. key가 map에 없어도 null 반환.
                    | + Boolean, Number, Byte, Short, Integer, Long, Float, Double, Map, Object
                    +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/MapUtilsTest.java', 'java', '[17,32,35,42]')
                li static &lt;K, V> Properties toProperties(Map&lt;K, V> map)
                li static Map&lt;String, Object> toMap(ResourceBundle resourceBundle)
                li static void verbosePrint(PrintStream out, Object label, Map&lt;?, ?> map)
                +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/MapUtilsTest.java', 'java', '[17,32,45,62]')
                li static &lt;K, V> Map&lt;K, V> invertMap(Map&lt;K, V> map)
                p
                    | 키-값 위치를 바꾼 새 HashMap 반환
                    +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/MapUtilsTest.java', 'java', '[17,32,65,67]')
                li static &lt;K> void safeAddToMap(Map&lt;? super K, Object> map, K key, Object value)
                p null 삽입 거부
                li static &lt;K, V> Map&lt;K, V> emptyIfNull(Map&lt;K, V> map)
                li static &lt;K, V> Map&lt;K, V> synchronizedMap(Map&lt;K, V> map) + SortedMap 버전
                li static &lt;K, V> Map&lt;K, V> unmodifiableMap(Map&lt;? extends K, ? extends V> map) + SortedMap 버전
                li static &lt;K, V> IterableMap&lt;K, V> predicatedMap(Map&lt;K, V> map, Predicate&lt;? super K> keyPred, Predicate&lt;? super V> valuePred) + transformedMap + SortedMap 버전
                li static &lt;K, V> IterableMap&lt;K, V> fixedSizeMap(Map&lt;K, V> map) + SortedMap 버전
                li static &lt;K, V> IterableMap&lt;K, V> lazyMap(Map&lt;K, V> map, Factory&lt;? extends V> factory) + SortedMap 버전
                li static &lt;K, V> OrderedMap&lt;K, V> orderedMap(Map&lt;K, V> map)
                li static &lt;K, V> void populateMap(Map&lt;K, V> map, Iterable&lt;? extends V> elements, Transformer&lt;V, K> keyTransformer)
                +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/MapUtilsTest.java', 'java', '[17,32,70,85]')
                li static &lt;K, V> IterableMap&lt;K, V> iterableMap(Map&lt;K, V> map) // Since 4.0 + SortedMap 버전

            h3 class MultiMapUtils Since 4.1
            +asCode('java').
                static &lt;K, V> MultiValuedMap&lt;K, V> emptyIfNull(MultiValuedMap&lt;K, V> map)
                static &lt;K, V> Collection&lt;V> getCollection(MultiValuedMap&lt;K, V> map, K key)
                    // + getValuesAsList, Set, Bag
                static &lt;K, V> ListValuedMap&lt;K, V&gt newListValuedHashMap()
                    // + Set
                static &lt;K, V> MultiValuedMap&lt;K, V> unmodifiableMultiValuedMap(MultiValuedMap&lt;? extends K, ? extends V> map)
                    // + transformedMultiValuedMap

            h3 class MultiSetUtils Since 4.1
            +asCode('java').
                static &lt;E> MultiSet&lt;E> synchronizedMultiSet(MultiSet&lt;E> multiset)
                static &lt;E> MultiSet&lt;E> unmodifiableMultiSet(MultiSet&lt;? extends E> multiset)
                static &lt;E> MultiSet&lt;E> predicatedMultiSet(MultiSet&lt;E> multiset, Predicate&lt;? super E> predicate)

            h3 class PredicateUtils Since 3.0
            +asCode('java').
                static &lt;T> Predicate&lt;T> exceptionPredicate()
                    // + true, false
                static &lt;T> Predicate&lt;T> nullPredicate()
                    // + notNull
                static &lt;T> Predicate&lt;T> equalPredicate(T value)
                static &lt;T> Predicate&lt;T> identityPredicate(T value)
                static &lt;T> Predicate&lt;T> instanceofPredicate(Class&lt;?> type)
                static &lt;T> Predicate&lt;T> uniquePredicate()
                    // 각 입력 객체에 대하여, 최초에만 true 반환
                static &lt;T> Predicate&lt;T> andPredicate(Predicate&lt;? super T> predicate1, Predicate&lt;? super T> predicate2)
                    // + all, or, any, either(XOR), one, neither(NOR), none, not
                static &lt;T> Predicate&lt;T> asPredicate(Transformer&lt;? super T, Boolean> transformer)
                static &lt;T> Predicate&lt;T> nullsExceptionPredicate(Predicate&lt;? super T> predicate)
                    // + nullsFalse, nullsTrue
                static &lt;T> Predicate&lt;T> transformedPredicate(Transformer&lt;? super T, ? extends T> transformer, Predicate&lt;? super T> predicate) // Since 3.1

            h3 class QueueUtils Since 4.0
            +asCode('java').
                static &lt;E> Queue&lt;E> synchronizedQueue(Queue&lt;E> queue) // Since 4.2
                static &lt;E> Queue&lt;E> unmodifiableQueue(QUeue&lt;? extends E> queue) + predicated, tranforming

            h3 class SetUtils Since 2.1
            +asCode('java').
                static &lt;E> SetUtils.SetView&lt;E> difference(Set&lt;? extends E> a, Set&lt;? extends E> b) // Since 4.1
                    // 차집합 a-b. + disjunction(대칭 차집합), intersection(교집합), union(합집합)
                static &lt;T> int hashCodeForSet(Collection&lt;T> set)
                static &lt;E> HashSet&lt;E> hashSet(E... items) // Since 4.3
                static boolean isEqualSet(Collection&lt;?> set1, Collection&lt;?> set2)
                static &lt;E> Set&lt;E> newIdentityHashSet() // Since 4.1 : ==을 이용하는 집합
                static &lt;E> Set&lt;E> unmodifiableSet(E... items) // Since 4.3
                static &lt;E> Set&lt;E> orderedSet(Set&lt;E> set)
                    // + predicatedSet, predicatedNavigableSet Since 4.1, predicatedSortedSet, synchroizedSet, synchronizedSortedSet, transformedSet, transformedSortedSet, transformedNavigableSet Since 4.1, unmodifiableSet, unmodifiableNavigableSet Since 4.1, unmodifiableSortedSet
            div
                h4 abstract static class SetUtils.SetView extends AbstractSet&lt;E> Since 4.1
                +asCode('java').
                    &lt;S extends Set&lt;E>> void copyInto(S set)
                    Set&lt;E> toSet()

            h3 class SplitMapUtils Since 4.0
            p Put, Get을 구현한 객체를 Map으로 변환한다

    h1 org.apache.commons.collections4.bag
    ol
        li class HashBag&lt;E> extends AbstractMapBag&lt;E> implements Serializable Since 3.0
        p 저장소로 HashMap을 이용하는 표준 Bag 구현을 제공한다.
        li class TreeBag&lt;E> extends AbstractMapBag&lt;E> implements SortedBag&lt;E>, Serializable Since 3.0
        p 저장소로 TreeMap을 이용하는 표준 SortedBag 구현을 제공한다.
        li final class CollectionBag&lt;E> extends AbstractBagDecorator&lt;E> Since 4.0 + CollectionSortedBag
        p Bag 인스턴스가 Collection API에 맞게 동작하도록 래핑하는 생성자 CollectionBag(Bag&lt;E> bag)를 제공한다
        li final class UnmodifiableBag&lt;E> extends AbstractBagDecorator&lt;E> implements Unmodifiable Since 3.0 + UnmodifiableSortedBag
        p Bag 인스턴스가 변경되지 않도록 래핑하는 팩터리 메서드 unmodifiableBag(Bag&lt;? extends E> bag)을 제공한다.
        li class PredicatedBag&lt;E> extends PredicatedCollection&lt;E> implements Bag&lt;E> Since 3.0 + PredicatedSortedBag
        p Bag 인스턴스에 요소 추가 제약을 거는 팩터리 메서드 predicatedBag(Bag&lt;E> bag, Predicate&lt;? super E> predicate) // Since 4.0을 제공한다. 요소 추가에 실패하는 경우 IllegalArgumentException 발생.
        li class SynchronizedBag&lt;E> extends SynchronizedCollection&lt;E> implements Bag&lt;E> Since 3.0 + SynchronizedSortedBag
        p Bag 인스턴스가 스레드-안전하도록 래핑하는 팩터리 메서드 synchronizedBag(Bag&lt;E> bag) // Since 4.0을 제공한다.
        li class TransformedBag&lt;E> extends TransformedCollection&lt;E> implements Bag&lt;E> Since 3.0 + TransformedSortedBag
        p Bag 인스턴스의 요소 변환 제약을 거는 팩터리 메서드를 제공한다. 기존 요소를 포함하여 변환하는 경우 transformedBag(...) // Since 4.0, 신규 요소들만 변환하는 경우 transformingBag(...) // Since 4.0

    h1 org.apache.commons.collections4.bidimap
    ol
        li class DualHashBidiMap&lt;K, V> extends AbstractDualBidiMap&lt;K, V> implements Serializable Since 3.0 + DualLinkedHashBidiMap Since 4.0, DualTreeBidiMap Since 3.0
        p 2개의 HashMap 인스턴스를 이용한 BidiMap 구현을 제공한다.
        li class TreeBidiMap&lt;K extends Comparable&lt;K>, V extends Comparable&lt;V>> implements OrderedBidiMap&lt;K, V>, Serializable Since 3.0
        p 키, 값이 모두 정렬 가능할 때, red-black 트리를 이용한 BidiMap 구현을 제공한다.
        li class UnmodifiableBidiMap&lt;K, V> extends AbstractBidiMapDecorator&lt;K, V> implements Unmodifiable Since 3.0 + UnmodifiableOrderedBidiMap, UnmodifiableSortedBidiMap
        p 인스턴스가 변경되지 않도록 래핑하는 팩터리 메서드 unmodifiableBidiMap(...) // Since 4.0을 제공한다.

    h1 org.apache.commons.collections4.collection
    ol
        li class CompositeCollection&lt;E> implements Collection&lt;E>, Serializable Since 3.0
        p 다른 컬렉션(들)에 대해 하나의 뷰를 제공하는 장식자 컬렉션 구현. 뷰에 대한 add/remove 연산이 기저 컬렉션에 적용돼야 한다면 CompositeCollection.CollectionMutator를 제공해야 한다.
        li class IndexedCollection&lt;K, C> extends AbstractCollectionDecorator&lt;C> Since 4.0
        p 컬렉션에 대해 맵과 비슷한 뷰를 제공하는 장식자 컬렉션 구현. 뷰에 대한 변경은 키와 기저 컬렉션의 갱신이 자동으로 이루어지지만, 기저 컬렉션이 직접 변경된 경우 reindex()를 통해 직접 동기화해야 한다.
        li class PredicatedCollection&lt;E> extends AbstractCollectionDecorator&lt;E> Since 3.0
        p 컬렉션에 대해 삽입 제약을 거는 장식자 컬렉션 구현. Builder 팩터리 클래스도 제공한다.
        li class SynchronizedCollection&lt;E> implements Collection&lt;E>, Serializable Since 3.0
        p 컬렉션이 스레드-안전하도록 래핑하는 팩터리 메서드를 제공한다
        li class TransformedCollection&lt;E> extends AbstractCollectionDecorator Since 3.0
        p 컬렉션에 요소 변환 제약을 거는 팩터리 메서드를 제공한다. 기존 요소를 포함하여 변환하는 경우 transformedCollection(...) // Since 4.0, 신규 요소들만 변환하는 경우 transformingCollection(...) // Since 4.0
        li final class UnmodifiableCollection&lt;E> extends AbstractCollectionDecorator&lt;E> implements Unmodifiable Since 3.0 + UnmodifiableBoundedCollection
        p 컬렉션이 변경되지 않도록 래핑하는 팩터리 메서드 제공

    h1 org.apache.commons.collections4.comparators
    ol
        li final class Boolean Comparator implements Comparator&lt;Boolean>, Serializable SInce 3.0
        p Boolean 정렬을 위한 비교자를 제공한다
        li class ComparableComparator&lt;E extends Comparable&lt;? super E>> implements Comparator&lt;E>, Serializable Since 2.0
        p Comparable에 대한 Comparator를 반환하는 유틸리티 메서드를 제공한다
        li class ComparatorChain&lt;E> implements Comparator&lt;E>, Serializable Since 2.0
        li class FixedOrderComparator&lt;T> implements Comparator&lt;T>, Serializable Since 3.0
        p
            | 객체들의 고정된 순서를 비교하는 비교자를 제공한다.
            +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/ComparatorTest.java', 'java')
        li class NullComparator&lt;E> implements Comparator&lt;E>, Serializable Since 2.0
        li class ReverseComparator&lt;E> implements Comparator&lt;E>, Serializable Since 2.0
        li class TransformingComparator&lt;I, O> implements Comparator&lt;I>, Serializable Since 2.1

    h1 org.apache.commons.collections4.iterators
    ol
        li class ArrayIterator&lt;E> implements ResettableIterator&lt;E> Since 1.0
        p 배열에 대한 이터레이터 제공. + ArrayListIterator(java.util.ListIterator 프로토콜 추가 제공), ObjectArrayIterator, ObjectArrayListIterator
        li class ListIteratorWrapper&lt;E> implements ResettableListIterator&lt;E> Since 2.1
        li class PeekingIterator&lt;E> implements Iterator&lt;E> Since 4.0
        li class LoopingIterator&lt;E> implements ResettableIterator&lt;E> Since 3.0
        p + LoopingListIterator Since 3.2
        li class SingletonIterator&lt;E> Since 2.0 + SingletonListIterator
        li class ReverseListIterator&lt;E> implements  ResettableListIterator&lt;E> Since 3.2
        li class PushbackIterator&lt;E> implements Iterator&lt;E> Since 4.0
        p next()를 취소할 수 있다. next()에서 반환하지 않은 객체도 pushback()으로 넣을 수 있으며, 래핑된 실제 iterator에는 영향을 끼치지 않는다.
        li class EnumerationIterator&lt;E> implements Iterator&lt;E> Since 1.0
        p Enumeration이 이터레이터로 동작하도록 하는 어댑터 제공 + IteratorEnumeration, IteratorIterable
        li class TransformIterator&lt;I, O> implements Iterator&lt;O> Since 1.0
        li class EntrySetMapIterator&lt;K, V> implements MapIterator&lt;K, V>, ResettableIterator&lt;K> Since 3.0
        p 맵의 entrySet을 이용한 MapIterator 구현 제공
        li class EmptyIterator&lt;E> implements ResettableIterator&lt;E> Since 3.1
        p + EmptyListIterator, EmptyMapIterator, EmptyOrderedIterator, EmptyOrderedMapIterator, UnmodifiableIterator, UnmodifiableListIterator, UnmodifiableMapIterator, UnmodifiableOrderedMapIterator
        li class BoundedIterator&lt;E> implements Iterator&lt;E> Since 4.1
        p 다른 이터레이터의 특정 범위만 조회하는 래퍼를 제공. + SkippingIterator
        li class FilterIterator&lt;E> implements Iterator&lt;E> Since 1.0
        p + FilterListIterator, UniqueFilterIterator
        li class CollatingIterator&lt;E> implements Iterator&lt;E> Since 2.1
        p 여러 이터레이터들을 특정 순서대로 소비하는 래퍼를 제공. + ZippingIterator(각 이터레이터 1개씩 순회 조회), IteratorChain(넘겨진 순서대로 소비), LazyIteratorChain
        li class ObjectGraphIterator&lt;E> implements Iterator&lt;E> Since 3.1
        p
            | 이터레이터들로 구성된 객체를 하나의 이터레이터로 순회할 수 있는 기능을 제공한다.
            +codeBtn('/Repositories/Eclipse/apache-commons-collections-example/src/test/java/IteratorTest.java', 'java')
        li class PermutationIterator&lt;E> implements Iterator&lt;List&lt;E>> Since 4.0
        p 순열을 조회하는 이터레이터를 제공한다.

    h1 org.apache.commons.collections4.keyvalue
    ol
        li class MultiKey&lt;K> implements Serializable Since 3.0
        p 여러 키 값을 하나의 키로 이용할 수 있게 해준다. 이를 통해 다중 맵을 이용하지 않고 문제를 해결할 수 있다.
        li class DefaultKeyValue&lt;K, V> extends AbstractKeyValue&lt;K, V> Since 3.0
        p Map.Entry를 구현하지 않는 키-값 쌍 기능 제공. 키와 값이 null일 수 있다. + DefaultMapEntry
        li class TiedMapEntry&lt;K, V> implements Map.Entry&lt;K, V>, KeyValue&lt;K, V>, Serializable Since 3.0
        p 맵과 결합된 Map.Entry
        li final class UnmodifiableMapEntry&lt;K, V> extends AbstractMapEntry&lt;K, V> implements Unmodifiable Since 3.0

    h1 org.apache.commons.collections4.list
    ol
        li class CursorableLinkedList&lt;E> extends AbstractLinkedList&lt;E> implements Serializable Since 1.0
        p ListIterator를 통한 동시 수정이 가능한 리스트 구현을 제공한다. listIterator(), cursor() 메서드로 Cursor 객체를 얻을 수 있다.
        li class FixedSizeList&lt;E> extends AbstractSerializableListDecorator&lt;E> implements BoundedCollection&lt;E> Since 3.0
        p 다른 리스트의 크기를 제한하는 래퍼를 제공한다. 요소를 변경하는 작업만 지원된다.
        li class GrowthList&lt;E> extends AbstractSerializableListDecorator&lt;E> Since 3.2
        p 리스트의 크기를 벗어난 인덱스에 대한 add/set 호출이 있을 때, 자동으로 null로 채운다. 음수 인덱스에 대해서는 IndexOutofBoundsException 발생
        li class LazyList&lt;E> extends AbstractSerializableListDecorator&lt;E> Since 3.0
        p GrowthList와 비슷. get 요청된 인덱스에 대한 요소를 특정 인스턴스로 할당한다.
        li class PredicatedList&lt;E> extends PredicatedCollection&lt;E> implements List&lt;E> Since 3.0 + TransformedList
        li class SetUniqueList&lt;E> extends AbstractSerializableListDecorator&lt;E> Since 3.0
        li class TreeList&lt;E> extends AbstractList&lt;E> Since 3.1
        p 임의 인덱스 삽입/제거에 최적화된 리스트 구현 제공.add, get, iterator만 이용한다면 ArrayList가 좋다
        li final class UnmodifiableList&lt;E> extends AbstractSerializableListDecorator&lt;E> implements Unmodifiable Since 3.0

    h1 org.apache.commons.collections4.map
    ol
        li class CaseInsensitiveMap&lt;K, V> extends AbstractHashedMap&lt;K, V> implements Serializable, Cloneable Since 3.0
        p 키의 삽입, 비교 시 모두 소문자로 변환된다. keySet() 역시 소문자로 변환된 키를 반환한다
        li class CompositeMap&lt;K, V> extends AbstractIterableMap&lt;K, V> implements Serializable Since 3.0
        li class CompositeMap&lt;K, V> extends AbstractIterableMap&lt;K, V> implements Serializable Since 3.0
        p 여러 맵들에 대해 하나의 뷰를 제공하는 장식자 맵 제공. 뷰에 대한 삽입/삭제 연산이 기저 맵에 적용되야 한다면 CompositeMap.MapMutator를 제공하면 된다.
        li class DefaultedMap&lt;K, V> extends AbstractMapDecorator&lt;K, V> implements Serializable Since 3.2 + LazyMap, LazySortedMap
        li class FixedSizeMap&lt;K, V> extends AbstractMapDecorator&lt;K, V> implements BoundedMap&lt;K, V>, Serializable Since 3.2 + FixedSizeSortedMap
        li class Flat3Map&lt;K, V> implements IterableMap&lt;K, V>, Serializable, Cloneable Since 3.0
        p 요소가 3개 이하일 때 최적으로 동작하는 맵 제공
        li class HashedMap&lt;K, V> extends AbstractHashedMap&lt;K, V> implements Serializable, Cloneable Since 3.0
        p JDK HashMap + MapIterator + Cloneable
        li class LinkedMap&lt;K, V> extends AbstractLinkedMap&lt;K, V> implements Serializable, Cloneable Since 3.0
        p JDK LinkedHashMap + MapIterator + Cloneable
        p + ListOrderedMap : 삽입 순서를 List에 저장
        li class LRUMap&lt;K, V> extends AbstractLinkedMap&lt;K, V> implements BoundedMap&lt;K, V>, Serializable, Cloneable Since 3.0
        p 임계 크기를 초과하면 가장 마지막으로 사용(get/put)된 entry 제거. DEFAULT_MAX_SIZE == 100
        li class MultiKeyMap&lt;K, V> extends AbstractMapDecorator&lt;MultiKey&lt;? extends K>, V> implements Serializable, Cloneable Since 3.1
        li class PassiveExpiringMap&lt;K, V> extends AbstractMapDecorator&lt;K, V> implements Serializable Since 4.0
        p 맵에 entry를 유지할 시간을 정의. 각 시간이 지나면 맵에서 제거된다.
        li class PredicatedMap&lt;K, V> extends AbstractMapDecorator&lt;K, V> implements Serializable Since 3.0 + PredicatedSortedMap, TransformedMap, TransformedSortedMap
        li class ReferenceIdentityMap&lt;K, V> extends AbstractReferenceMap&lt;K, V> implements Serializable Since 3.0
        p 키, 값의 GC를 허용하고, equals() 대신 ==로 일치를 판별하는 맵을 제공한다. + ReferenceMap
        li final class StaticBucketMap&lt;K, V> extends AbstractIterableMap&lt;K, V> Since 3.0
        p 주어진 한도 내에서는 고성능의 스레드-안전한 java.util.Map 구현을 제공한다. 크기가 한도를 벗어나면 O(n)에 가까워진다.
        li class SingletonMap&lt;K, V> implements OrderedMap&lt;K, V>, BoundedMap&lt;K, V>, KeyValue&lt;K, V>, Serializable, Cloneable Since 3.1
        li class UnmodifiableEntrySet&lt;K, V> extends AbstractSetDecorator&lt;Map.Entry&lt;K, V>> implements Unmodifiable Since 3.0
        p 변결할 수 없는 entry 집합을 반환하는 팩터리 메서드 제공 + UnmodifiableMap, UnmodifiableOrderedMap, UnmodifiableSortedMap
        li class EntrySetToMapIteratorAdapter&lt;K, V> implements MapIterator&lt;K, V>, ResettableIterator Since 4.0

    h1 org.apache.commons.collections4.multimap
    ol
        li class ArrayListValuedHashMap&lt;K, V> extends AbstractListValuedMap&lt;K, V> implements Serializable SInce 4.1 + HashSetValuedHashMap
        li class TransformedMultiValuedMap&lt;K, V> extends AbstractMultiValuedMapDecorator&lt;K, V> Since 4.1
        li final class UnmodifiableMultiValuedMap&lt;K, V> extends AbstractMultiValuedMapDecorator&lt;K, V> implements Unmodifiable Since 4.1

    h1 org.apache.commons.collections4.multiset
    ol
        li class HashMultiSet&lt;E> extends AbstractMapMultiSet&lt;E> implements Serializable Since 4.1
        li class PredicatedMultiSet&lt;E> extends PredicatedCollection&lt;E> implements MultiSet&lt;E> Since 4.1
        li class SynchronizedMultiSet&lt;E> extends SynchronizedCollection&lt;E> implements MultiSet&lt;E> Since 4.1
        li final class UnmodifiableMultiSet&lt;E> extends AbstractMultiSetDecorator&lt;E> implements Unmodifiable Since 4.1

    h1 org.apache.commons.collections4.queue
    ol
        li class CircularFifoQueue&lt;E> extends AbstractCollection&lt;E> implements Queue&lt;E>, BoundedCollection&lt;E>, Serializable Since 4.0
        p 고정 크기의 큐로써 가장 마지막 요소가 null이면 덮어쓴다
        li PredicatedQueue, SynchronizedQueue, TransformedQueue, UnmodifiableQueue

    h1 org.apache.commons.collections4.set
    ol
        li class CompositeSet&lt;E> implements Set&lt;E>, Serializable Since 3.0
        p 여러 셋에 대한 하나의 뷰를 제공. 뷰에 대한 연산이 기저 셋에 적용돼야 한다면 CompositeSet.SetMutator를 제공해야 한다
        li class ListOrderedSet&lt;E> extends AbstractSerializableSetDecorator&lt;E> Since 3.0
        p 같은 요소에 대해 2번째 add 호출이 있는 경우, 1번째 위치를 유지한다
        li final class MapBackedSet&lt;E, V> implements Set&lt;E>, Serializable Since 3.1
        p Map을 Set처럼 이용하게 해준다
        li PredicatedSet, PredicatedSortedSet, PredicatedNavigableSet, TransformedSet, TransformedSortedSet, TrnasformedNavigableSet, UnmodifiableSet, UnmodifiableSortedSet, UnmodifiableNavigableSet
