html
    body
        script(src='/source/redirect.js?200226_1657')
        ul
            li 참고 자료
            a.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-green(target='_blank', href='http://www.slf4j.org/') SLF4J
            a.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-green(target='_blank', href='http://logback.qos.ch/documentation.html') Logback
            li Maven Spring Boot Project
            +codeBtn('Repositories/STS/logback-maven/pom.xml', 'xml') pom.xml »
            +codeBtn('Repositories/STS/logback-maven/src/main/resources/logback.xml', 'xml') logback.xml »
            +codeBtn('Repositories/STS/logback-maven/src/main/resources/logback-appenders.xml', 'xml') logback-appenders.xml »
            +codeBtn('Repositories/STS/logback-maven/src/main/java/io/github/donggi/LogbackMavenApplication.java', 'java') 예시 코드 »
            li Gradle Spring Boot Project
            +codeBtn('Repositories/STS/logback-gradle/build.gradle', 'text') build.gradle »
            +codeBtn('Repositories/STS/logback-gradle/src/main/resources/logback.xml', 'xml') logback.xml »
            +codeBtn('Repositories/STS/logback-gradle/src/main/resources/logback-appenders.xml', 'xml') logback-appenders.xml »
            +codeBtn('Repositories/STS/logback-gradle/src/main/java/io/github/donggi/LogbackGradleApplication.java', 'java') 예시 코드 »
